<div class="section section5">
    <%-include("page5Bg.html")%>
    <div class="container">
        <div class="ub-box">
            <div class="ub-text">
                <h3 class="wow fadeInUp" data-wow-delay=".5s"><%- LANG('FASTER TRANSACTIONS') %><br><%- LANG('ON-CHAIN SCALABILITY AND SEGWIT') %></h3>
                <p class="wow fadeInUp" data-wow-delay=".9s"><%- LANG('Greatly increases transaction speed by increasing the block-size to 8 MB and supporting SegWit') %></p>
            </div>
        </div>
    </div>
    <!--<div class="page-movie"><img src="<%= STATIC%>/images/home/ub-kr.png"></div>-->
</div>