<div class="section section8">
    <div class="container">
        <div class="ub-box">
            <div class="ub-text">
                <h3 class="wow fadeInUp" data-wow-delay=".5s"><%- LANG('Roadmap') %></h3>
            </div>
            <div class="ub-progress wow fadeInUp" data-wow-delay=".8s">
                    <div class="progress">
                    <div class="item">
                            <h4><span><%- LANG('June 2016') %></span><%- LANG('UnitedBitcoin team starts the development of smart contracts') %></h4>
                            <p><%- LANG('The core members of UnitedBitcoin’s development team start the development of LUA based smart contracts.') %></p>
                    </div>
                    <div class="item">
                            <h4><span><%- LANG('May 2017') %></span><%- LANG('The first UVM smart contract is fully tested') %></h4>
                            <p><%- LANG('Smart Contract and UVM functionality has been successfully tested. Two languages, similar in structure and syntax to C# and JAVA have been added as well.') %></p>
                    </div>
                    <div class="item">
                            <h4><span><%- LANG('September 2017') %></span><%- LANG('Beta test of version 0.1 of UnitedBitcoin (8MB + SegWit)') %></h4>
                            <p><%- LANG('To speed up testing and facilitate acilitating adoption, smart contracts have been excluded from this test. Testing the increased block-size (to 8MB) as well as SegWit was a success.') %></p>
                    </div>
                    <div class="item">
                            <h4><span><%- LANG('December 2017') %></span><%- LANG('Version 0.5 of the wallet officially migrated to GitHub') %></h4>
                            <p><%- LANG('The wallet with automated upgrade program is officially migrated to GitHub and all source codes are open to public, more teams around the world joined UB.') %></p>
                    </div>
                    <div class="item">
                            <h4><span><%- LANG('December 2017') %></span><%- LANG('Fork is executed and UnitedBitcoin is launched globally') %></h4>
                            <p><%- LANG('The fork will happen on December 2017 with UnitedBitcoin officially released and launched globally during an event in Silicon Valley.') %></p>
                    </div>

                    <div class="item">
                            <h4><span><%- LANG('January 2018') %></span><%- LANG('The second phase of Asset Allocation is completed') %></h4>
                            <p><%- LANG('The manual allocation of assets is completed on January 2018 (started on December 2017), marking an end to the 2nd phase of the Bitcoin asset allocation procedure.') %></p>
                    </div>
                    <div class="item">
                            <h4><span><%- LANG('April 2018') %></span><%- LANG('(Projected) Issuance of a digital currency pegged to fiat currencies') %></h4>
                            <p><%- LANG("The UB foundation will issue it's first digital currency pegged to fiat currencies using UBTC as collateral") %></p>
                    </div>


                    <div class="item">
                            <h4><span><%- LANG('April 2018') %></span><%- LANG('(Projected) Upgrade UnitedBitcoin, add support for smart contracts') %></h4>
                            <p><%- LANG('If there is no delay in testing, UnitedBitcoin will be officially upgraded to a version with smart contract support.') %></p>
                    </div>



                    <div class="item">
                            <h4><span><%- LANG('April 2018') %></span><%- LANG('(Projected) Transfer of all pegged currencies to smart contracts') %></h4>
                            <p><%- LANG('Because it is too complex for color coins to support smart contracts, in order to support the smart contracts for pegged currencies, all pegged currencies will be transferred to the smart contracts system.') %></p>

                    </div>



                    <div class="item">
                            <h4><span><%- LANG('July 2018') %></span><%- LANG('(Projected) Upgrade UnitedBitcoin with Lightning Network support') %></h4>
                            <p><%- LANG('If there is no delay in development, UnitedBitcoin will be upgraded to a version with Lightning Network and payment channels support.') %></p>
                    </div>
                    </div>

            </div>
            </div>
        </div>
</div>
