<div class="section section7">
    <div class="section-bg" id="page7canvasWrap"></div>
    <div class="container">
        <div class="ub-box">
            <div class="ub-text">
                <h3 class="wow fadeInUp" data-wow-delay=".5s"><%- LANG('PEGGED FIAT CURRENCY SYSTEM') %></h3>
                <p style="max-width: 800px;display: inline-block" class="wow fadeInUp" data-wow-delay=".9s"><%- LANG('The UB Foundation will manage funds from inactive wallets post fork and foster the ecosystem with them. It will also develop a cryptoasset – pegged to UB’s reserve – against fiat currencies to support projects worldwide.') %></p>
            </div>
        </div>
    </div>
</div>