<div class="section section9">
    <div class="container">
        <div class="ub-box">
                <div class="ub-text">
                    <h3><%- LANG('Technical team') %></h3>
                </div>

        <div class="ub-team">

                        <div class="item">
                            <div class="photo"><img src="<%= STATIC%>/images/team/1-1.jpg"></div>
                            <div class="text">
                            <h3><%- LANG('Jeff Garzik') %></h3>
                            <p><%- LANG('Board Member') %> & <%- LANG('Chief Scientist') %></p>
                            </div>
                        </div>

                        <div class="item">
                            <div class="photo"><img src="<%= STATIC%>/images/team/1-2.jpg"></div>
                            <div class="text">
                            <h3><%- LANG('Matthew Roszak') %></h3>
                            <p><%- LANG('Board Member') %>, <%- LANG('Chief Strategy Officer') %></p>
                            </div>
                        </div>

                        <div class="item">
                            <div class="photo"><img src="<%= STATIC%>/images/team/wilsonchoi2.png"></div>
                            <div class="text">
                            <h3><%- LANG('Wilson Choi') %></h3>
                            <p><%- LANG('Board Member') %>, <%- LANG('Chief Strategy Officer') %></p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="photo"><img src="<%= STATIC%>/images/team/wouter.jpg"></div>
                            <div class="text">
                            <h3><%- LANG('Wouter van der Schagt') %></h3>
                            <p><%- LANG('Board Member') %>, <%- LANG('Executive Director') %></p>
                            </div>
                        </div>
            <div class="item">
                <div class="photo"><img src="<%= STATIC%>/images/team/12.jpg"></div>
                <div class="text">
                <h3><%- LANG('Marco Ferreira') %></h3>
                <p><%- LANG('Marketing Director') %></p>
                </div>
            </div>

            <div class="item">
                <div class="photo"><img src="<%= STATIC%>/images/team/11.jpg"></div>
                <div class="text">
                <h3><%- LANG('Dennis De Jong') %></h3>
                <p><%- LANG('Project Manager') %></p>
                </div>
            </div>

            <div class="item">
                <div class="photo"><img src="<%= STATIC%>/images/team/13.jpg"></div>
                <div class="text">
                <h3><%- LANG('Michael Banner') %></h3>
                <p><%- LANG('Marketing and Communication') %></p>
                </div>
            </div>
            <div class="item"><a href="/about/team" target="_blank" class="more"><%- LANG('More') %></a></div>


    </div>
    </div>
</div>
</div>