<div class="section section12">
<div class="container">
<div class="ub-other">
        <div class="item list">
            <div class="inner">
                <dl>
                    <dt><%- LANG('FAQ') %></dt>
                    <dd><a href="/support/faq" target="_blank"><%- LANG('About UB') %> & <%- LANG('UnitedBitcoin') %></a> </dd>
                    <dd><a href="/support/faq#AboutSmart" target="_blank"><%- LANG('About Smart Contracts UVM') %></a> </dd>
                    <dd><a href="/support/faq#AboutWitness" target="_blank"><%- LANG('8 MB block-size with SegWit support') %></a> </dd>
                </dl>
                <dl style="margin-top: 20px;">
                    <dt><%- LANG('DOWNLOAD') %></dt>
                    <dd><a href="/project/wallet" target="_blank"><%- LANG('Wallet') %> & <%- LANG('Source Code') %></a> </dd>
                    <dd><a href="/project/ide" target="_blank"><%- LANG('IDE') %></a> </dd>
                </dl>
            </div>
        </div>
        <div class="item address">
            <div class="box">
                <h3><%- LANG('Join Us') %></h3>
                <p><%- LANG('Join us, and let\'s create a new world together.') %></p>
                <a href="/about/joinus" target="_blank" class="btn"><%- LANG('Contact') %></a>
            </div>
        </div>
        <div class="item contact">
            <div class="box">
                <h3><%- LANG('Partner') %></h3>
                <p><%- LANG('We welcome business cooperation, contact us now!') %></p>
                <a href="/about/businesscooperation" target="_blank" class="btn"><%- LANG('Contact') %></a>
            </div>
        </div>
    </div>
    <div class="ub-footer" style="background: transparent;">

        <div class="follow">
            <a href="https://twitter.com/United_Bitcoin" target="_blank"><i class="ub-icon ub-tuite"></i></a>
            <a href="https://www.linkedin.com/company/13599492/" target="_blank"><i class="ub-icon ub-in"></i></a>
            <!--<a href="javascript:void(0);" class="wechat" target="_blank"><i class="ub-icon ub-wechat"></i>-->
                <!--<div class="wechat-code"><img src="/src/images/wechat.png" /></div>-->
            <!--</a>-->
            <a href="https://github.com/UnitedBitcoin/UnitedBitcoin" target="_blank"><i class="ub-icon ub-github"></i></a>
            <a href="https://t.me/unitedbitcoin" target="_blank"><i class="ub-icon ub-telegraph"></i></a>
            <a href="https://www.youtube.com/channel/UC2jI3znZpaWwW4vPjqmO1jw" target="_blank"><i class="ub-icon ub-youtube"></i></a>
            <a href="javascript:void(0);" class="wechat" target="_blank"><i class="ub-icon ub-beechat"></i>
                <div class="wechat-code"><img src="/src/images/bechaterweima.png"/></div>
            </a>
        </div>
        <div class="copyright">Copyright 2017 <%= WEB.NAME %>. All Rights Reserved</div>
    </div>
</div>
</div>
