<div class="section section10">
    <div class="container">
    <div class="ub-support">
        <a href="/project/wallet" target="_blank">
        <div class="item wallet">
                <div class="icon"><img src="<%= STATIC%>/images/home/qb.png"></div>
                <h3><%- LANG('Wallet') %></h3>
                <p><%- LANG('UnitedBitcoin comes with 8MB block sizes, SegWit support, Asset Verification Allocation, Replay Protection, upcoming smart contract support and Lightning Network implementation. Download our wallet here.') %></p>
        </div>
        </a>
        <a  href="/project/ide" target="_blank">
        <div class="item tool">
                <div class="icon"><img src="<%= STATIC%>/images/home/gj.png"></div>
                <h3><%- LANG('Development Tool') %></h3>
                <p><%- LANG('UnitedBitcoin has developed an Integrated Development Environment specifically for creating smart-contracts. To read more, click here.') %></p>
            </div>
        </a>
        <a href="/support/whitepaper" target="_blank">
        <div class="item file">
                <div class="icon"><img src="<%= STATIC%>/images/home/wd.png"></div>
                <h3><%- LANG('White paper') %></h3>
                <p><%- LANG('For a complete breakdown of UnitedBitcoin’s features, advantages and latest enhancements, please refer to our white paper.') %></p>
        </div>
        </a>
    </div>
    </div>
</div>