<div class="section-bg" id="page5canvasWrap">
    <div class='scene'>
        <div class='assembly'>
            <div class='strip'></div>
            <div class='roller'>
                <div class='side'></div>
                <div class='side'></div>
            </div>
        </div>
        <div class='assembly'>
            <div class='strip'></div>
            <div class='roller'>
                <div class='side'></div>
                <div class='side'></div>
                <div class='side'></div>
            </div>
        </div>
        <div class='assembly'>
            <div class='strip'></div>
            <div class='roller'>
                <div class='side'></div>
                <div class='side'></div>
                <div class='side'></div>
                <div class='side'></div>
            </div>
        </div>
        <div class='assembly'>
            <div class='strip'></div>
            <div class='roller'>
                <div class='side'></div>
                <div class='side'></div>
                <div class='side'></div>
                <div class='side'></div>
                <div class='side'></div>
            </div>
        </div>
        <div class='assembly'>
            <div class='strip'></div>
            <div class='roller'>
                <div class='side'></div>
                <div class='side'></div>
                <div class='side'></div>
                <div class='side'></div>
                <div class='side'></div>
                <div class='side'></div>
            </div>
        </div>
        <div class='assembly'>
            <div class='strip'></div>
            <div class='roller'>
                <div class='side'></div>
                <div class='side'></div>
                <div class='side'></div>
                <div class='side'></div>
                <div class='side'></div>
                <div class='side'></div>
                <div class='side'></div>
            </div>
        </div>
        <div class='assembly'>
            <div class='strip'></div>
            <div class='roller'>
                <div class='side'></div>
                <div class='side'></div>
                <div class='side'></div>
                <div class='side'></div>
                <div class='side'></div>
                <div class='side'></div>
                <div class='side'></div>
                <div class='side'></div>
            </div>
        </div>
        <div class='assembly'>
            <div class='strip'></div>
            <div class='roller'>
                <div class='side'></div>
                <div class='side'></div>
                <div class='side'></div>
                <div class='side'></div>
                <div class='side'></div>
                <div class='side'></div>
                <div class='side'></div>
                <div class='side'></div>
                <div class='side'></div>
            </div>
        </div>
    </div>
</div>