<div class="section section2">
    <div class="section-bg" id="page2canvasWrap"></div>
    <div class="container">
        <div class="ub-box">
            <div class="ub-text">
            <h5 class="wow fadeInUp" data-wow-delay=".5s"><%- LANG('Overview') %></h5>
            <h3 class="wow fadeInUp" data-wow-delay=".6s" style="margin-bottom: 30px;"><%- LANG('UnitedBitcoin upgrades Bitcoin through Smart Contract Implementation') %></h3>
            <div class="slist">
                <p class="wow fadeInUp" data-wow-delay=".9s"><i class="ub-icon ub-yes"></i><%- LANG('Same Proof of Work and Issuance Model of Bitcoin, with new hi-speed smart contracts') %></p>
                <p class="wow fadeInUp" data-wow-delay="1.1s"><i class="ub-icon ub-yes"></i><%- LANG('Future Lightning Network support for faster and cheaper transactions') %></p>
                <p class="wow fadeInUp" data-wow-delay="1.2s"><i class="ub-icon ub-yes"></i><%- LANG('UnitedBitcoin (UBTC) will be allocated to active Bitcoin wallets at a rate of 1 BTC to 1 UBTC at time of fork') %></p>
                <p class="wow fadeInUp" data-wow-delay="1.3s"><i class="ub-icon ub-yes"></i><%- LANG('No pre-mining, stable system with fiat currency pegged reserves') %></p>
                <!--<a href="/project/overview" target="_blank" role="button" class="ub-button wow fadeInUp" data-wow-delay="1.7s"><span><%- LANG('More') %></span></a>-->
            </div>
            </div>
        </div>
        <!--<div class="page-movie"><img src="<%= STATIC%>/images/home/blocklink_1_pic1.png"></div>-->
    </div>
</div>