<div class="section section4">
    <div class="section-bg" id="page4canvasWrap" style="padding-right: 30%; background-color: #012;"></div>
    <div class="container">
        <div class="ub-box">
            <div class="ub-text">
                <h3 class="wow fadeInUp" data-wow-delay=".5s"><%- LANG('LIGHTNING NETWORK') %><br><%- LANG('INSTANT PAYMENTS') %></h3>
                <p class="wow fadeInUp" data-wow-delay=".9s"><%- LANG('Greatly enhances scalability by introducing payment channels between users.') %></p>
            </div>
        </div>
        <!--<div class="page-movie"><img src="<%= STATIC%>/images/home/ub-qiu.png"></div>-->
    </div>
</div>