<div class="ub-banner" style="background: url('/src/images/home/banner1.jpg') no-repeat center center / cover;">
    <h2>生态系统</h2>
</div>
<div class="ub-main">
    <div class="ub-container" style="max-width: 1100px;">
        <div class="ub-content">
            <div class="ecosystem">
                    <h3>交易平台</h3>
                    <ul>
                        <li>
                            <a href="https://www.exx.com/trade/ubtc_btc" target="_blank">
                            <div class="logo"><img src="/src/images/exxlogo.png"></div>
                            <h4>EXX</h4>
                            <p>支持QC充值，日交易量超过1.4亿美元</p>
                            </a>
                        </li>
                        <li class="spacing"></li>
                        <li>
                            <a href="https://www.hksy.com/#/tradeCenter?payCoinName=HKD&coinName=UBTC" target="_blank">
                            <div class="logo"><img src="/src/images/hksylogo.png"></div>
                            <h4>HKSY</h4>
                            <p>香港领先交易平台</p>
                            </a>
                        </li>
                        <li class="spacing"></li>
                        <li>
                            <a href="https://www.qbtc.com/trade" target="_blank">
                            <div class="logo"><img src="/src/images/qbtclogo.png"></div>
                            <h4>QBTC</h4>
                            <p>注册于开曼群岛注册的交易平台</p>
                            </a>
                        </li>
                        <li class="spacing"></li>
                        <li>
                            <a href="https://trans.zb.com/ubtcbtc" target="_blank">
                            <div class="logo"><img src="/src/images/zblogo.png"></div>
                            <h4>ZB</h4>
                            <p>支持QC充值，日交易量超过1.81亿美元</p>
                            </a>
                        </li>
                        <li>
                            <a href="https://acx.io/" target="_blank">
                                <div class="logo"><img style="width: 36px;" src="/src/images/acxlogo.png"></div>
                                <h4>ACX</h4>
                                <p>澳洲最大加密货币交易所</p>
                            </a>
                        </li>
                        <li class="spacing"></li>
                        <li>
                            <a href="https://hb.top/" target="_blank">
                                <div class="logo"><img style="width: 80px;" src="/src/images/hblogo.png"></div>
                                <h4>HB.top</h4>
                                <p>安全易用的交易平台</p>
                            </a>
                        </li>
                        <li class="spacing"></li>
                        <li>
                            <a href="https://www.shuzibi.com/" target="_blank">
                                <div class="logo"><img style="width: 80px;" src="/src/images/shuzibilogo.png"></div>
                                <h4>shuzibi.com</h4>
                                <p></p>
                            </a>
                        </li>
                        <li class="spacing"></li>
                        <li>
                            <a href="https://trade.coincoming.com/" target="_blank">
                                <div class="logo"><img style="width: 100px;" src="/src/images/coincominglogo.png"></div>
                                <h4>CoinComing</h4>
                                <p></p>
                            </a>
                        </li>

                        <li>
                            <a href="https://www.coinnest.co.kr/" target="_blank">
                                <div class="logo"><img style="width: 140px;" src="/src/images/coinnestlogo.png"></div>
                                <h4>COINNEST</h4>
                                <p>韩国领先的加密货币交易所之一</p>
                            </a>
                        </li>
                        <li class="spacing"></li>
                        <li>
                            <a href="https://bitafex.com/" target="_blank">
                                <div class="logo"><img style="width: 150px;" src="/src/images/bitafexlogo.png"></div>
                                <h4>Bitafex</h4>
                                <p></p>
                            </a>
                        </li>
                        <li class="spacing"></li>
                        <li>
                            <a href="https://www.btctrade.im/" target="_blank">
                                <div class="logo"><img style="width: 150px;" src="/src/images/btctradelogo.png"></div>
                                <h4>BtcTrade</h4>
                                <p></p>
                            </a>
                        </li>
                        <li class="spacing"></li>
                        <li>
                            <a href="https://www.aex.com/" target="_blank">
                                <div class="logo"><img style="width: 150px;" src="/src/images/aexlogo.png"></div>
                                <h4>AEX</h4>
                                <p></p>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.okex.com/" target="_blank">
                                <div class="logo"><img style="width: 110px;" src="/src/images/okexlogo.png"></div>
                                <h4>OKEX</h4>
                                <p></p>
                            </a>
                        </li>
                        <li class="spacing"></li>
                        <li>
                            <a href="https://quoinex.com/" target="_blank">
                                <div class="logo"><img style="width: 135px;" src="/src/images/quoinexlogo.png"></div>
                                <h4>QUOINEX</h4>
                                <p>World’s Most Advanced Cryptocurrency Trading Platform</p>
                            </a>
                        </li>
                        <li class="spacing"></li>
                        <li>
                            <a href="https://www.qryptos.com/" target="_blank">
                                <div class="logo"><img style="width: 150px;" src="/src/images/qryptoslogo.png"></div>
                                <h4>QRYPTOS</h4>
                                <p>Trade On The Most Popular Crypto Markets</p>
                            </a>
                        </li>
                        <li class="spacing"></li>
                        <li>
                            <a href="https://www.coolcoin.com/" target="_blank">
                                <div class="logo"><img style="width: 150px;" src="/src/images/coolcoinlogo.png"></div>
                                <h4>CoolCoin</h4>
                                <p></p>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.coinegg.com/" target="_blank">
                                <div class="logo"><img style="width: 150px;" src="/src/images/coinegglogo.png"></div>
                                <h4>CoinEgg</h4>
                                <p></p>
                            </a>
                        </li>
                        <li class="spacing"></li>
                        <li>
                            <a href="https://www.to.cn/" target="_blank">
                                <div class="logo"><img style="width: 60px;" src="/src/images/tologo.png"></div>
                                <h4>TO.CN</h4>
                                <p></p>
                            </a>
                        </li>
                    </ul>

                <div class="more-exchanges" style="display: none"><a href="/project/ecosystem/exchanges" target="_blank">查看 <em>55</em> 家正在洽谈的交易所</a></div>
                <h3 style="margin-top: 80px;">钱包/全节点</h3>
                <ul>
                    <li>
                        <a href="http://www.ub.com/project/wallet" target="_blank">
                            <div class="logo"><img style="width: 110px;" src="/src/images/home/logofoot.svg?1513593262610"></div>
                            <h4>UnitedBitcoin</h4>
                            <p>点击下载UnitedBitcoin钱包</p>
                        </a>
                    </li>
                    <li class="spacing"></li>
                    <li>
                        <a href="https://github.com/unitedbitcoin" target="_blank">
                            <div class="logo"><img style="width: 36px;" src="/src/images/gitlogo.png"></div>
                            <h4>Github</h4>
                            <p>UnitedBitcoin源码</p>
                        </a>
                    </li>
                </ul>


                <h3 style="margin-top: 80px;">区块浏览器</h3>
                <ul>
                    <li>
                        <a href="https://block.bitbank.com/ubtc/" target="_blank">
                            <div class="logo"><img src="/src/images/bitbanklogo.png"></div>
                            <h4>Bitbank</h4>
                            <p>前沿的数字资产服务</p>
                        </a>
                    </li>
                </ul>


                <h3 style="margin-top: 80px;">矿池</h3>
                <ul>
                    <li>
                        <a href="https://www.bw.com/" target="_blank">
                            <div class="logo"><img style="width: 80px;" src="/src/images/bwlogo.png"></div>
                            <h4>BW</h4>
                            <p>提供专业、低成本、高效的矿池服务，支持BTC、LTC、ETH、UBTC和ETC挖矿</p>
                        </a>
                    </li>
                    <li class="spacing"></li>
                    <li>
                        <a href="http://www.btc.top/" target="_blank">
                            <div class="logo"><img src="/src/images/btctoplogo.png"></div>
                            <h4>BTC.TOP</h4>
                            <p>领先的比特币矿池</p>
                        </a>
                    </li>
                    <li class="spacing"></li>
                    <li>
                        <a href="https://www.batpool.com/" target="_blank">
                            <div class="logo"><img style="width: 120px;" src="/src/images/batpoollogo.png"></div>
                            <h4>BATPOOL</h4>
                            <p>先进稳定的技术，低手续费</p>
                        </a>
                    </li>
                    <li class="spacing"></li>
                    <li>
                        <a href="https://www.vvpool.com/" target="_blank">
                            <div class="logo"><img style="width: 100px;" src="/src/images/vvpoollogo.png"></div>
                            <h4>VVPool</h4>
                            <p>高效的数字货币矿池，支持UBTC、BTG、SBTC、BCH挖矿</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
