<div class="container">
<div class="ub-content ub-ecosystem">
    <h1 class="ecosystem_primary"><%- LANG('Ecosystem') %></h1>
                    <h2><%- LANG('Exchanges') %></h2>
                    <ul>
                        <li>
                            <a href="https://trans.zb.com/ubtcbtc" target="_blank">
                                <div class="logo"><img src="/src/images/zblogo.png"></div>
                                <h4>ZB</h4>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.exx.com/trade/ubtc_btc" target="_blank">
                            <div class="logo"><img src="/src/images/exxlogo.png"></div>
                            <h4>EXX</h4>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.okex.com/" target="_blank">
                                <div class="logo"><img style="width: 100px;" src="/src/images/okexlogo.png"></div>
                                <h4>OKEX</h4>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.hksy.com/#/tradeCenter?payCoinName=HKD&coinName=UBTC" target="_blank">
                            <div class="logo"><img src="/src/images/hksylogo.png"></div>
                            <h4>HKSY</h4>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.qbtc.com/trade" target="_blank">
                            <div class="logo"><img src="/src/images/qbtclogo.png"></div>
                            <h4>QBTC</h4>
                            </a>
                        </li>


                        <li>
                            <a href="https://acx.io/" target="_blank">
                                <div class="logo"><img style="width: 36px;" src="/src/images/acxlogo.png"></div>
                                <h4>ACX</h4>
                            </a>
                        </li>
                        <li>
                            <a href="https://hb.top/" target="_blank">
                                <div class="logo"><img style="width: 80px;" src="/src/images/hblogo.png"></div>
                                <h4>HB.top</h4>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.shuzibi.com/" target="_blank">
                                <div class="logo"><img style="width: 80px;" src="/src/images/shuzibilogo.png"></div>
                                <h4>数字币</h4>
                            </a>
                        </li>
                        <li>
                            <a href="https://trade.coincoming.com/" target="_blank">
                                <div class="logo"><img style="width: 100px;" src="/src/images/coincominglogo.png"></div>
                                <h4>CoinComing</h4>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.coinnest.co.kr/" target="_blank">
                                <div class="logo"><img style="width: 140px;" src="/src/images/coinnestlogo.png"></div>
                                <h4>COINNEST</h4>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.btctrade.im/" target="_blank">
                                <div class="logo"><img style="width: 150px;" src="/src/images/btctradelogo.png"></div>
                                <h4>BtcTrade</h4>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.aex.com/" target="_blank">
                                <div class="logo"><img style="width: 150px;" src="/src/images/aexlogo.png"></div>
                                <h4>AEX</h4>
                            </a>
                        </li>

                        <li>
                            <a href="https://quoinex.com/" target="_blank">
                                <div class="logo"><img style="width: 130px;" src="/src/images/quoinexlogo.png"></div>
                                <h4>QUOINEX</h4>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.qryptos.com/" target="_blank">
                                <div class="logo"><img style="width: 150px;" src="/src/images/qryptoslogo.png"></div>
                                <h4>QRYPTOS</h4>
                            </a>
                        </li>
                        
                        <li>
                            <a href="https://www.coolcoin.com/" target="_blank">
                                <div class="logo"><img style="width: 150px;" src="/src/images/coolcoinlogo.png"></div>
                                <h4>CoolCoin</h4>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.coinegg.com/" target="_blank">
                                <div class="logo"><img style="width: 130px;" src="/src/images/coinegglogo.png"></div>
                                <h4>CoinEgg</h4>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.to.cn/" target="_blank">
                                <div class="logo"><img style="width: 60px;" src="/src/images/tologo.png"></div>
                                <h4>TO.CN</h4>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.nb.top" target="_blank">
                                <div class="logo"><img style="width: 100px;" src="/src/images/newcoin.png"></div>
                                <h4>NEWCOIN</h4>
                            </a>
                        </li>

                    </ul>
                <div class="more-exchanges" style="display: none"><a href="/project/ecosystem/exchanges" target="_blank">Check out the <em>55</em> exchanges coming soon</a></div>
                <h2 style="margin-top: 50px;"><%- LANG('Wallets/Full node') %></h2>
                <ul>
                    <li>
                        <a href="http://www.ub.com/project/wallet" target="_blank">
                            <div class="logo"><img style="width: 110px;" src="/src/images/home/logofoot.svg?1513593262610"></div>
                            <h4>UnitedBitcoin</h4>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/unitedbitcoin" target="_blank">
                            <div class="logo"><img style="width: 36px;" src="/src/images/gitlogo.png"></div>
                            <h4>Github</h4>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.hyperpay.tech/" target="_blank">
                            <div class="logo"><img style="width: 135px;" src="/src/images/ecosystem/hplogo.png"></div>
                            <h4>HyperPay</h4>
                        </a>
                    </li>
                    <li>
                        <a href="http://beechat.com/" target="_blank">
                            <div class="logo"><img style="width: 36px;height:36px" src="/src/images/beechat.png"></div>
                            <h4>Beechat</h4>
                        </a>
                    </li>
                </ul>
                <h2 style="margin-top: 50px;"><%- LANG('Blockexplorers') %></h2>
                <ul>
                    <li>
                        <a href="https://block.bitbank.com/ubtc/" target="_blank">
                            <div class="logo"><img src="/src/images/bitbanklogo.png"></div>
                            <h4>Bitbank</h4>
                        </a>
                    </li>
                </ul>


                <h2 style="margin-top: 50px;"><%- LANG('Pools') %></h2>
                <ul>
                    <li>
                        <a href="https://www.bw.com/" target="_blank">
                            <div class="logo"><img style="width: 80px;" src="/src/images/bwlogo.png"></div>
                            <h4>BW</h4>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.btc.top/" target="_blank">
                            <div class="logo"><img src="/src/images/btctoplogo.png"></div>
                            <h4>BTC.TOP</h4>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.batpool.com/" target="_blank">
                            <div class="logo"><img style="width: 120px;" src="/src/images/batpoollogo.png"></div>
                            <h4>BATPOOL</h4>
                        </a>
                    </li>
                    
                    <li>
                        <a href="https://www.vvpool.com/" target="_blank">
                            <div class="logo"><img style="width: 100px;" src="/src/images/vvpoollogo.png"></div>
                            <h4>VVPool</h4>
                        </a>
                    </li>
                </ul>


            </div>

</div>
