<div class="ub-banner" style="background: url('/src/images/home/banner1.jpg') no-repeat center center / cover;">
    <h2>エコシステム</h2>
</div>
<div class="ub-main">
    <div class="ub-container" style="max-width: 1100px;">
        <div class="ub-content">
            <div class="ecosystem">
                    <h3>エクスチェンジ</h3>
                    <ul>
                        <li>
                            <a href="https://www.exx.com/trade/ubtc_btc" target="_blank">
                            <div class="logo"><img src="/src/images/exxlogo.png"></div>
                            <h4>EXX</h4>
                            <p>日々の取引で1億4,400万米ドルを超える、QCデポジットをサポートする取引所</p>
                            </a>
                        </li>
                        <li class="spacing"></li>
                        <li>
                            <a href="https://www.hksy.com/#/tradeCenter?payCoinName=HKD&coinName=UBTC" target="_blank">
                            <div class="logo"><img src="/src/images/hksylogo.png"></div>
                            <h4>HKSY</h4>
                            <p>香港に本社を有する大手取引所</p>
                            </a>
                        </li>
                        <li class="spacing"></li>
                        <li>
                            <a href="https://www.qbtc.com/trade" target="_blank">
                            <div class="logo"><img src="/src/images/qbtclogo.png"></div>
                            <h4>QBTC</h4>
                            <p>ケイマン諸島に登録された交換所</p>
                            </a>
                        </li>
                        <li class="spacing"></li>
                        <li>
                            <a href="https://trans.zb.com/ubtcbtc" target="_blank">
                            <div class="logo"><img src="/src/images/zblogo.png"></div>
                            <h4>ZB</h4>
                            <p>日々の取引で1億8100万ドルを超える、QCデポジットをサポートする取引所</p>
                            </a>
                        </li>

                        <li>
                            <a href="https://acx.io/" target="_blank">
                                <div class="logo"><img style="width: 36px;" src="/src/images/acxlogo.png"></div>
                                <h4>ACX</h4>
                                <p>オーストラリアでビットコイン最大の流動性プールと注文書</p>
                            </a>
                        </li>
                        <li class="spacing"></li>
                        <li>
                            <a href="https://hb.top/" target="_blank">
                                <div class="logo"><img style="width: 80px;" src="/src/images/hblogo.png"></div>
                                <h4>HB.top</h4>
                                <p>安全で使いやすい取引所</p>
                            </a>
                        </li>
                        <li class="spacing"></li>
                        <li>
                            <a href="https://www.shuzibi.com/" target="_blank">
                                <div class="logo"><img style="width: 80px;" src="/src/images/shuzibilogo.png"></div>
                                <h4>shuzibi.com</h4>
                                <p></p>
                            </a>
                        </li>
                        <li class="spacing"></li>
                        <li>
                            <a href="https://trade.coincoming.com/" target="_blank">
                                <div class="logo"><img style="width: 100px;" src="/src/images/coincominglogo.png"></div>
                                <h4>CoinComing</h4>
                                <p></p>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.coinnest.co.kr/" target="_blank">
                                <div class="logo"><img style="width: 140px;" src="/src/images/coinnestlogo.png"></div>
                                <h4>COINNEST</h4>
                                <p>A leading cryptocurrency exchange in Korea</p>
                            </a>
                        </li>
                        <li class="spacing"></li>
                        <li>
                            <a href="https://bitafex.com/" target="_blank">
                                <div class="logo"><img style="width: 150px;" src="/src/images/bitafexlogo.png"></div>
                                <h4>Bitafex</h4>
                                <p></p>
                            </a>
                        </li>
                        <li class="spacing"></li>
                        <li>
                            <a href="https://www.btctrade.im/" target="_blank">
                                <div class="logo"><img style="width: 150px;" src="/src/images/btctradelogo.png"></div>
                                <h4>BtcTrade</h4>
                                <p></p>
                            </a>
                        </li>
                        <li class="spacing"></li>
                        <li>
                            <a href="https://www.aex.com/" target="_blank">
                                <div class="logo"><img style="width: 150px;" src="/src/images/aexlogo.png"></div>
                                <h4>AEX</h4>
                                <p></p>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.okex.com/" target="_blank">
                                <div class="logo"><img style="width: 110px;" src="/src/images/okexlogo.png"></div>
                                <h4>OKEX</h4>
                                <p></p>
                            </a>
                        </li>
                        <li class="spacing"></li>
                        <li>
                            <a href="https://quoinex.com/" target="_blank">
                                <div class="logo"><img style="width: 135px;" src="/src/images/quoinexlogo.png"></div>
                                <h4>QUOINEX</h4>
                                <p>World’s Most Advanced Cryptocurrency Trading Platform</p>
                            </a>
                        </li>
                        <li class="spacing"></li>
                        <li>
                            <a href="https://www.qryptos.com/" target="_blank">
                                <div class="logo"><img style="width: 150px;" src="/src/images/qryptoslogo.png"></div>
                                <h4>QRYPTOS</h4>
                                <p>Trade On The Most Popular Crypto Markets</p>
                            </a>
                        </li>
                        <li class="spacing"></li>
                        <li>
                            <a href="https://www.coolcoin.com/" target="_blank">
                                <div class="logo"><img style="width: 150px;" src="/src/images/coolcoinlogo.png"></div>
                                <h4>CoolCoin</h4>
                                <p></p>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.coinegg.com/" target="_blank">
                                <div class="logo"><img style="width: 150px;" src="/src/images/coinegglogo.png"></div>
                                <h4>CoinEgg</h4>
                                <p></p>
                            </a>
                        </li>
                        <li class="spacing"></li>
                        <li>
                            <a href="https://www.to.cn/" target="_blank">
                                <div class="logo"><img style="width: 60px;" src="/src/images/tologo.png"></div>
                                <h4>TO.CN</h4>
                                <p></p>
                            </a>
                        </li>
                    </ul>
                <div class="more-exchanges" style="display: none"><a href="/project/ecosystem/exchanges" target="_blank"><em>55</em> 個相談中の取引所をご覧</a></div>

                <h3 style="margin-top: 50px;">ヲーレット・フルノード</h3>
                <ul>
                    <li>
                        <a href="http://www.ub.com/project/wallet" target="_blank">
                            <div class="logo"><img style="width: 110px;" src="/src/images/home/logofoot.svg?1513593262610"></div>
                            <h4>UnitedBitcoin</h4>
                            <p>ユナイテッド・ビットコイン</p>
                        </a>
                    </li>
                    <li class="spacing"></li>
                    <li>
                        <a href="https://github.com/unitedbitcoin" target="_blank">
                            <div class="logo"><img style="width: 36px;" src="/src/images/gitlogo.png"></div>
                            <h4>Github</h4>
                            <p>ギットハブ</p>
                        </a>
                    </li>
                </ul>


                <h3 style="margin-top: 50px;">ブロックエクスプローラ</h3>
                <ul>
                    <li>
                        <a href="https://block.bitbank.com/ubtc/" target="_blank">
                            <div class="logo"><img src="/src/images/bitbanklogo.png"></div>
                            <h4>Bitbank</h4>
                            <p>ビットバンク</p>
                        </a>
                    </li>
                </ul>


                <h3 style="margin-top: 50px;">プール</h3>
                <ul>
                    <li>
                        <a href="https://www.bw.com/" target="_blank">
                            <div class="logo"><img style="width: 80px;" src="/src/images/bwlogo.png"></div>
                            <h4>BW</h4>
                            <p>BTC、LTC、ETH、UBTC、ETCを専門でサポートする、低コストで効率的なマイニングプールサービス</p>
                        </a>
                    </li>
                    <li class="spacing"></li>
                    <li>
                        <a href="http://www.btc.top/" target="_blank">
                            <div class="logo"><img src="/src/images/btctoplogo.png"></div>
                            <h4>BTC.TOP</h4>
                            <p>Bitcoinで主要なマイニングプール</p>
                        </a>
                    </li>
                    <li class="spacing"></li>
                    <li>
                        <a href="https://www.batpool.com/" target="_blank">
                            <div class="logo"><img style="width: 120px;" src="/src/images/batpoollogo.png"></div>
                            <h4>BATPOOL</h4>
                            <p>低い手数料で高度で安定した技術を提供する</p>
                        </a>
                    </li>
                </ul>


            </div>

        </div>
    </div>
</div>
