<div class="ub-banner" style="background: url('/src/images/home/banner1.jpg') no-repeat center center / cover;">
    <h2>取引所</h2>
</div>
<div class="ub-main">
    <div class="ub-container" style="max-width: 1100px;">
        <div class="ub-content">
            <div class="exchanges-plan">
                <p class="title">UBは50個以上のメインな取引所にUBTCとそのフォーク過程について紹介しました</p>
                <ul>
                    <li><a href="https://www.binance.com" target="_blank"><h4>BINANCE</h4><p>https://www.binance.com</p></a></li>
                    <li><a href="https://www.huobi.com" target="_blank"><h4>Huobi</h4><p>https://www.huobi.com</p></a></li>
                    <li><a href="https://bitcash.com" target="_blank"><h4>bithumb</h4><p>https://bitcash.com</p></a></li>
                    <li><a href="https://www.okex.com" target="_blank"><h4>OKEX</h4><p>https://www.okex.com</p></a></li>
                    <li><a href="https://www.zb.com" target="_blank"><h4>ZB</h4><p>https://www.zb.com</p></a></li>
                    <li><a href="https://www.exx.com" target="_blank"><h4>EXX</h4><p>https://www.exx.com</p></a></li>
                    <li><a href="https://www.okcoin.com" target="_blank"><h4>OKCoin</h4><p>https://www.okcoin.com</p></a></li>
                    <li><a href="https://www.virtualworldland.com" target="_blank"><h4>Virtualworldland</h4><p>https://www.virtualworldland.com</p></a></li>
                    <li><a href="https://www.bitfinex.com" target="_blank"><h4>Bitfinex</h4><p>https://www.bitfinex.com</p></a></li>
                    <li><a href="https://www.btcc.com" target="_blank"><h4>BTCC</h4><p>https://www.btcc.com</p></a></li>
                    <li><a href="https://www.lakebtc.com" target="_blank"><h4>LaKeBTC</h4><p>https://www.lakebtc.com</p></a></li>
                    <li><a href="https://gate.io" target="_blank"><h4>Gate</h4><p>https://gate.io</p></a></li>
                    <li><a href="https://www.coinw.com" target="_blank"><h4>币赢网</h4><p>https://www.coinw.com</p></a></li>
                    <li><a href="https://www.bittrex.com" target="_blank"><h4>Bittrex</h4><p>https://www.bittrex.com</p></a></li>
                    <li><a href="https://www.bitmex.com" target="_blank"><h4>BitMEX</h4><p>https://www.bitmex.com</p></a></li>
                    <li><a href="https://www.gdax.com" target="_blank"><h4>GDAX</h4><p>https://www.gdax.com</p></a></li>
                    <li><a href="https://coincheck.com" target="_blank"><h4>Coincheck</h4><p>https://coincheck.com</p></a></li>
                    <li><a href="https://coinone.co.kr" target="_blank"><h4>Coinone</h4><p>https://coinone.co.kr</p></a></li>
                    <li><a href="https://www.upbit.com" target="_blank"><h4>UPbit</h4><p>https://www.upbit.com</p></a></li>
                    <li><a href="https://www.bitflyer.com" target="_blank"><h4>BitFlyer</h4><p>https://www.bitflyer.com</p></a></li>
                    <li><a href="https://hitbtc.com" target="_blank"><h4>HitBTC</h4><p>https://hitbtc.com</p></a></li>
                    <li><a href="https://www.poloniex.com" target="_blank"><h4>Poloniex</h4><p>https://www.poloniex.com</p></a></li>
                    <li><a href="https://www.korbit.co.kr" target="_blank"><h4>Korbit</h4><p>https://www.korbit.co.kr</p></a></li>
                    <li><a href="https://www.bit-z.com" target="_blank"><h4>Bit-Z</h4><p>https://www.bit-z.com</p></a></li>
                    <li><a href="https://www.kraken.com" target="_blank"><h4>Kraken</h4><p>https://www.kraken.com</p></a></li>
                    <li><a href="https://gemini.com" target="_blank"><h4>Gemini</h4><p>https://gemini.com</p></a></li>
                    <li><a href="https://www.coinnest.co.kr" target="_blank"><h4>Coinnest</h4><p>https://www.coinnest.co.kr</p></a></li>
                    <li><a href="https://www.btcbox.co.jp" target="_blank"><h4>BTCBOX</h4><p>https://www.btcbox.co.jp</p></a></li>
                    <li><a href="http://www.fisco.co.jp" target="_blank"><h4>FISCO</h4><p>http://www.fisco.co.jp</p></a></li>
                    <li><a href="https://coinsbank.com" target="_blank"><h4>CoinsBank</h4><p>https://coinsbank.com</p></a></li>
                    <li><a href="https://cex.io" target="_blank"><h4>CEX</h4><p>https://cex.io</p></a></li>
                    <li><a href="https://wex.nz" target="_blank"><h4>WEX</h4><p>https://wex.nz</p></a></li>
                    <li><a href="https://www.hksy.com" target="_blank"><h4>香港尚亞</h4><p>https://www.hksy.com</p></a></li>
                    <li><a href="https://www.yobit.net" target="_blank"><h4>YObit</h4><p>https://www.yobit.net</p></a></li>
                    <li><a href="https://www.ebtcbank.com" target="_blank"><h4>eBTCbank</h4><p>https://www.ebtcbank.com</p></a></li>
                    <li><a href="https://www.luno.com" target="_blank"><h4>LUNO</h4><p>https://www.luno.com</p></a></li>
                    <li><a href="https://www.bitcoin.co.id" target="_blank"><h4>bitcoin</h4><p>https://www.bitcoin.co.id</p></a></li>
                    <li><a href="https://acx.io" target="_blank"><h4>ACX</h4><p>https://acx.io</p></a></li>
                    <li><a href="https://exmo.com" target="_blank"><h4>EXMO</h4><p>https://exmo.com</p></a></li>
                    <li><a href="https://www.bitconnect.com" target="_blank"><h4>Bitconnect</h4><p>https://www.bitconnect.com</p></a></li>
                    <li><a href="https://liqui.io" target="_blank"><h4>Liqui</h4><p>https://liqui.io</p></a></li>
                    <li><a href="https://www.xbtce.com" target="_blank"><h4>xBTCe</h4><p>https://www.xbtce.com</p></a></li>
                    <li><a href="https://yoexs.com" target="_blank"><h4>Yoexs</h4><p>https://yoexs.com</p></a></li>
                    <li><a href="https://www.livecoin.net" target="_blank"><h4>Livecoin</h4><p>https://www.livecoin.net</p></a></li>
                    <li><a href="https://www.itbit.com" target="_blank"><h4>itBit</h4><p>https://www.itbit.com</p></a></li>
                    <li><a href="https://getbtc.org" target="_blank"><h4>GETBTC</h4><p>https://getbtc.org</p></a></li>
                    <li><a href="https://www.coinegg.com" target="_blank"><h4>CoinEgg</h4><p>https://www.coinegg.com</p></a></li>
                    <li><a href="https://www.btcturk.com" target="_blank"><h4>BTCTurk</h4><p>https://www.btcturk.com</p></a></li>
                    <li><a href="https://dsx.uk" target="_blank"><h4>DSX</h4><p>https://dsx.uk</p></a></li>
                    <li><a href="https://gatecoin.com" target="_blank"><h4>Gatecoin</h4><p>https://gatecoin.com</p></a></li>
                    <li><a href="https://www.mercadobitcoin.com.br" target="_blank"><h4>Mercado Bitcoin</h4><p>https://www.mercadobitcoin.com.br</p></a></li>
                    <li><a href="https://www.allcoin.com" target="_blank"><h4>Allcoin</h4><p>https://www.allcoin.com</p></a></li>
                    <li><a href="https://bitcoinbank.co.jp" target="_blank"><h4>bitbank</h4><p>https://bitcoinbank.co.jp</p></a></li>
                    <li><a href="https://www.mercatox.com" target="_blank"><h4>MERCATOX</h4><p>https://www.mercatox.com</p></a></li>
                    <li><a href="https://www.chaoex.com" target="_blank"><h4>Chaoex</h4><p>https://www.chaoex.com</p></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>