<div class="container">
    <div class="ub-content ub-features">
<h1><%- LANG('Features')%></h1>

                <h2>資產啟動</h2>
                <p> UnitedBitcoin沒有預挖礦，比特幣區塊鏈上的所有活躍的比特幣將在UnitedBitcoin區塊鏈上獲得同等數額的UnitedBitcoin。活躍地址和非活躍地址的定義見"<a href="get">領取UnitedBitcoin</a>"頁面上的定義。</p>
                <h2>生態系統支持與穩定性</h2>
                <p>UnitedBitcoin基金會管理比特幣網絡中不活躍地址的比特幣，其中一部分資金將被鎖定，並錨定法定貨幣，部分資金將用於支持加密貨幣的生態系統。</p>
                <h2>快速交易</h2>
                <p>區塊容量新增到8MB和支持隔離見證可以大大提高鏈上的可伸縮性。UnitedBitcoin也將在2018年新增對閃電網絡的支持。</p>
                <h2>重放保護</h2>
                <p>新的交易簽名提供重放保護，從而使比特幣區塊鏈上的交易不能在UnitedBitcoin區塊鏈上重放，反之亦然。</p>
                <h2>更改地址格式</h2>
                <p>為了防止用戶意外地將UnitedBitcoin提現到比特幣地址，UnitedBitcoin已經改變交易的地址格式。</p>
                <h2>智慧合約</h2>
                <p>智慧合約現時正處於測試階段，將被加入到UnitedBitcoin的交易中，並將為整個網絡帶來全新的可能性。</p>
                <h2>閃電網絡</h2>
                <p>為了支持支付通路和進一步提高鏈上的可伸縮性，UnitedBitcoin將在2018年上半年實施閃電網絡。</p>
                <h2>在考慮之中的特性</h2>
        <div class="ub-text">
                <p>量子計算抵抗散列算灋（安全性）</p>
                <p>零知識證明（隱私和可替代性）</p>
                <p>原子互換</p>
        </div>
    </div>
</div>