<div class="container">
    <div class="ub-content ub-features">
    <h1><%- LANG('Features') %></h1>

                <h2>자산 활성화</h2>
                <p>UnitedBitcoin은 사전 채굴되지 않으며, Bitcoin 체인 내 모든 활성 잔고는 UnitedBitcoin체인 상에서 상응하는 잔고를 받을 것입니다. 잔고의 활성화 여부는 “Get UnitedBitcoin ” 면에 설명되어 있는 절차에 따라 결정될 것입니다.</p>
                <h2>생태계 지원 및 안정화</h2>
                <p>UnitedBitcoin 재단은 Bitcoin 네트워크 상에서 비활성화 상태인 계정의 잔고를 관리합니다. 그 중 일부는 잠금 상태로 법정 화폐에 가치가 연계될 것이며, 일부는 일반적인 가상 화폐 생태계를 지원하는데 사용될 것입니다.</p>
                <h2>거래 속도 개선</h2>
                <p>체인 내 확장성은 블록사이즈가 8MB로 확대될 것이고 SegWit이 지원됨으로써 더욱 개선될 것이며, 라이트닝 네트워크 지원도 2018년 내에 추가될 것입니다.</p>
                <h2>중복 거래 보호</h2>
                <p>New Transaction Signatures은 중복 거래 보호 기능을 지원하여 Bitcoin 네트워크 상의 거래가UnitedBitcoin 네트워크에서 중복되지 않도록 하고, UnitedBitcoin 네트워크 상의 거래가 Bitcoin 네트워크에서 중복되지 않도록 합니다.</p>
                <h2>계정 형식 변경</h2>
                <p>사용자가 실수로UnitedBitcoin을 Bitcoin 계정으로 보내는 일이 없도록UnitedBitcoin은 거래 계정 형식을 변경하였습니다.</p>
                <h2>스마트 컨트랙트</h2>
                <p>현재 베타 테스트 중에 있는 스마트 컨트랙 기능이UnitedBitcoin에 추가되어 네트워크에 완전히 새로운 가능성을 열어줄 것입니다.</p>
                <h2>라이트닝 네트워크</h2>
                <p>결제 채널을 지원하고 체인 내 확장성을 더욱 강화하기 위해UnitedBitcoin은 2018년 상반기 내에 라이트닝 네트워크를 도입할 것입니다.</p>
                <h2>고려중인 사항</h2>
        <div class="ub-text">
                <p>Quantum Computing 저항 해시 알고리즘 (보안)</p>
                <p>Zero knowledge proofs (개인정보 보호 및 호환성)</p>
                <p>Atomic swaps(아토믹 스왑)</p>
        </div>
            </div>
        </div>
