<div class="container">
        <div class="ub-content ub-features">
            <h1><%- LANG('Features') %></h1>
                <h2>Asset Activation</h2>
                <p>UnitedBitcoin is not pre-mined and all active balances on the Bitcoin chain will receive equivalent balances on the UnitedBitcoin chain. Which addresses are active or inactive are determined by a procedure as explained on the “<a href="get">Get UnitedBitcoin</a> ” page.</p>
                <h2>Ecosystem support & stabilization</h2>
                <p>UnitedBitcoin’ s foundation manages the balances of the addresses that were inactive on the Bitcoin network, part of these funds will be locked and pegged against fiat currencies and part will be used to support the crypto-currency eco-system in general.</p>
                <h2>Faster transactions</h2>
                <p>On-chain scalability is greatly improved by increasing the block-size to 8MB and supporting SegWit. Lightning Network support will be added during 2018.</p>
                <h2>Replay Protection</h2>
                <p>New Transaction Signatures offer replay protection so that transactions on the Bitcoin network cannot be replayed on the UnitedBitcoin network (and vice versa)</p>
                <h2>Changed address format</h2>
                <p>To prevent users from accidentally sending UnitedBitcoin to a Bitcoin address, UnitedBitcoin has changed the address format of transactions.</p>
                <h3>Smart Contracts</h3>
                <p>Smart Contracts, currently in beta, are being added to UnitedBitcoin and will open-up entirely new possibilities to the network.</p>
                <h2>Lightning Network</h2>
                <p>To support payment channels and further enhance on-chain scalability, UnitedBitcoin will implement the Lightning Network in the first half of 2018.</p>
                <h2>Features under consideration</h2>
            <div class="ub-text">
                <p>Quantum Computing resistant hashing algorithm (security)</p>
                <p>Zero knowledge proofs (privacy and fungibility)</p>
                <p>Atomic swaps</p>
            </div>


</div>
</div>