<div class="container">
    <div class="ub-content ub-features">
    <h1><%- LANG('Features') %></h1>

                <h2>资产激活</h2>
                <p> UnitedBitcoin没有预挖矿，比特币区块链上的所有活跃的比特币将在UnitedBitcoin区块链上获得同等数额的UnitedBitcoin。活跃地址和非活跃地址的定义见“<a href="get">领取UnitedBitcoin</a> ”页面上的定义。</p>
                <h2>生态系统支持与稳定性</h2>
                <p>UnitedBitcoin基金会管理比特币网络中不活跃地址的比特币，其中一部分资金将被锁定，并锚定法定货币，部分资金将用于支持加密货币的生态系统。</p>
                <h2>快速交易</h2>
                <p>区块容量增加到8MB和支持隔离见证可以大大提高链上的可伸缩性。UnitedBitcoin也将在2018年增加对闪电网络的支持。</p>
                <h2>重放保护</h2>
                <p>新的交易签名提供重放保护，从而使比特币区块链上的交易不能在UnitedBitcoin区块链上重放，反之亦然。</p>
                <h2>更改地址格式</h2>
                <p>为了防止用户意外地将UnitedBitcoin提现到比特币地址，UnitedBitcoin已经改变交易的地址格式。</p>
                <h2>智能合约</h2>
                <p>智能合约目前正处于测试阶段，将被加入到UnitedBitcoin的交易中，并将为整个网络带来全新的可能性。</p>
                <h2>闪电网络</h2>
                <p>为了支持支付渠道和进一步提高链上的可伸缩性，UnitedBitcoin将在2018年上半年实施闪电网络。</p>
                <h2>在考虑之中的特性</h2>
        <div class="ub-text">
                <p>量子计算抵抗散列算法（安全性）</p>
                <p>零知识证明（隐私和可替代性）</p>
                <p>原子互换</p>
        </div>
    </div>
</div>
