<div class="container">
  <div class="ub-content ub-features">
  <h1><%- LANG('Features') %></h1>
        <h2>資産の運用</h2>
        <p>ユナイテッドビットコインは以前にマイニングされておらず、ビットコインチェーンのすべての有効残高はユナイテッドビットコインチェーン上で同等の残高を受け取る予定です。 アクティブまたは非アクティブのアドレスは、「Get UnitedBitcoin」の説明ページの順序に従って決定されます。</p>
        <h3>エコシステムサポート 及スタビライゼーション</h3>
        <p>ユナイテッドビットコインの財団は、ビットコインネットワーク上で活動していないアドレスの残高を管理しています。これらの資金の一部は固定通貨で固定され、一部は一般的に暗号通貨されたエコシステムを支えるために使用されます。</p>
        <h2>取引の高速化</h2>
        <p>オン・チェーン・スケーラビリティは、ブロック・サイズを8MBに増やし、セグウィットをサポートすることで大幅に向上しました。 2018年にライトニングネットワークのサポートが追加されます。</p>
        <h2>リプレイプロテクション</h2>
        <p>新しいとランズアクションシグネチャは、ビットコインネットワーク上のトランザクションをユナイテッドビットコインネットワーク上で再生できないようにリプレイ保護を提供します（逆も同様です）</p>
        <h2>変更されたアドレス形式</h2>
        <p>ユーザーが誤ってユナイテッドビットコインをビットコインアドレスに送信しないように、ユナイテッドビットコインはトランザクションのアドレス形式を変更しました。</p>
        <h2>スマート　コントラクト</h2>
        <p>現在ベータ版のスマートコントラクトがユナイテッドビットコインに追加され、新たな可能性をネットワークに広げます。</p>
        <h2>ライトニングネットワーク</h2>
        <p>支払いチャネルをサポートし、オン・チェーン・スケーラビリティをさらに高める為、ユナイテッドビットコインは2018年前半にライトニングネットワークを導入する予定です。</p>
        <h2>検討中の機能</h2>
    <div class="ub-text">
        <p>クアンタム　コンピューティング　レシスタント　ハッシング　アルゴリズム（セキュリティ）</p>
        <p>ゼロ知識証明(プライバシーと代替性)</p>
        <p>アトミックスワップ</p>
    </div>
  </div>
</div>