
<div class="container">
        <div class="ub-content ub-get">
            <h1><%- LANG('Get UnitedBitcoin') %></h1>
            <h2>Exchanges</h2>
            <div class="ub-text">
                <p>
                    For a full list of where UBTC can be purchased please visit our ecosystem page which is continuously updated when a new exchange lists UBTC;
                    <a href="https://www.ub.com/project/ecosystem" target="_blank" style="color: #00ccff;text-decoration:underline">https://www.ub.com/project/ecosystem</a>
                </p>
            </div>
            <h2>Community Airdrop</h2>
            <div class="ub-text">
                <p>
                    The community airdrop started on 1st February 2018 for ETH, HSR, INK, LTC and QTUM.
                </p>
                <p>
                    Community Airdrop Announcement (22nd January 2018):
                    <a href="https://www.ub.com/news/detail?column=1&id=288" target="_blank" style="color: #00ccff;text-decoration:underline">https://www.ub.com/news/detail?column=1&id=288</a>
                </p>
                <p>
                    Details on distribution timeline (09th February 2018):
                    <a href="https://www.ub.com/news/detail?column=1&id=318" target="_blank" style="color: #00ccff;text-decoration:underline">https://www.ub.com/news/detail?column=1&id=318</a>
                </p>
            </div>
            <h2>Phase 1 – <span>No longer available</span></h2>
            <div class="ub-text">
                <p>UBTC forked from Bitcoin (BTC) on 12th December 2017 at block height 498,777.</p>
                <p>In order to have received UBTC during Phase 1, the BTC address must have:</p>
                <div class="indentation">
                    <p>1.Held at least 0.01 BTC at block height 498,777</p>
                    <p>2.Conducted an outgoing transaction between block height 494,000 and 498,777 to prove that address is active</p>
                </div>
                <p>Distribution of Phase 1 was completed in December 2017.</p>
            </div>
            <h2>Phase 2 – <span>No longer available</span></h2>
            <div class="ub-text">
                <p>For BTC holders who did not claim their UBTC in Phase 1 they could have applied during Phase 2.</p>
                <p>In order to have received UBTC during Phase 2, the BTC address must have:</p>
                <div class="indentation">
                    <p>1.Not received any UBTC during Phase 1</p>
                    <p>2.Held at least 0.01 BTC at block height 498,777</p>
                    <p>3.Conducted an outgoing transaction between block height 498,777 and 502,315 to prove that address is active</p>
                </div>
                <p>This process replaced an early process due to community feedback. If community members followed an older process, then they would have received an e-mail about being refunded the BTC fee in UBTC. The refund will take place once phase 2 distribution is completed.</p>
                <p>
                    Phase 2 distribution started on 24th January 2018 and is still ongoing. We provide updates three times a week on our Telegram announcement channel (
                    <a href="https://t.me/UBTC_Announcements" target="_blank" style="color: #00ccff;text-decoration:underline">https://t.me/UBTC_Announcements</a>) and on Twitter (@United_Bitcoin,
                    <a href="https://twitter.com/United_Bitcoin" target="_blank" style="color: #00ccff;text-decoration:underline">https://twitter.com/United_Bitcoin</a>).
                </p>
            </div>
            <h2>Phase 2 Grace Period – <span>No longer available</span></h2>
            <div class="ub-text">
                <p>Following community feedback, we offered a grace period for community members who did not claim their UBTC during Phase 2. This was the final opportunity for holders of BTC at block height 498,777 to claim their UBTC.</p>
                <p>In order to have received UBTC during Phase 2 Grace Period, the BTC address must have:</p>
                <div class="indentation">
                    <p>1.Not received any UBTC during phase 1 or 2</p>
                    <p>2.Held at least 0.01 BTC at block height 498,777</p>
                    <p>3.Set up an account at UB.com and verified the BTC address as per the on-screen instructions</p>
                </div>
                <p>Phase 2 Grace Period ended at block height 504,510 on 14th February 2018.</p>
                <p>Distribution of Phase 2 Grace Period was completed on 15th February 2018.</p>
            </div>

</div>
</div>
