<div class="container">
    <div class="ub-content ub-get">
    <h1><%- LANG('Get UnitedBitcoin') %></h1>


                <h2>フェイズ2<span>UBTCの最終回の配布</span></h2>
    <div class="ub-text">
                <p>ビットコインコミュニティのためのUBTCの第2および最終配布段階は、2018年1月3日頃正午（UTC + 8）に終了します。正確なブロックの高さは1日前に発表されます。</p>
                <p>ビットコインとUBコミュニティは非常に有用なフィードバックを提供しています。UBチームはコミュニティにコミットしているので、コメントは歓迎され、奨励されます。このフィードバックのため、UBチームはプロセスを変更しましたフィードバックによりUBチームは、プロセスを変えました。ビットコイン所有者はビットコインをアドレスAからアドレスAに送信する必要はなく、所有権を証明するためにTXIDを提供する必要もありません。これにより、ユーザーエクスペリエンスが簡素化されます。以前のプロセスをすでに完了し、TXIDを提供しているユーザーには、詳細をメールで連絡します</p>
                <p>フェーズ2では、ビットコインブロック498,777での残高に等しいUBTCの量が、以下の条件を満たす適格アドレスに1対1の割合で分配されます.</p>
                <div class="indentation">
                    <p>(1) 第1ラウンドではUBTCを受領しなかった。そして</p>
                    <p>(2) ブロック498,777でのビットコイン残高が0.01BTCよりも高い。そして</p>
                    <p>(3) ブロック494,000と502,315（2017年11月12日頃〜2018年1月3日）の間に活動（出て行く）</p>
                </div>
                <p>最初の推定によると、300万以上のUBTCが配布されます</p>
                <p>暗号化交換にビットコインが格納されている場合、UBチームは、UB、UBTC、およびフォークプロシージャについて電子メールで<a href="/project/ecosystem/exchanges" target="_blank">50個以上の主要な取引所</a>を通知していますこのチームは、UBTC取引をサポートするための様々な統合段階にあり、UBTCのユーザー向けに配布されたUBTCの配布を支援しています</p>
                <p>交換所に所持しているユーザーは、交換所にUBTCの請求に関する情報を問い合わせる必要があります保有者は、この手紙を交換所に転送し、UBTCの確実な配布を確実にするためにアドレスが有効であることを証明するために必要な作業が行われているかどうかを確認することもできます。</p>
                <p>ビットコインが取引所に参加している場合、UBは直接UBTCを配布することはできません. しかし、取引所がUBの手続を意識しているかどうかにかかわらず、UBTCは現役のアドレスでUBTCを受け取っており、フェーズ2を通して彼らと一緒に作業します。彼らが意識していることを確認するために、保有者はUBTCの交換を依頼することで助けることができます</p>
                <p>アドレスの残高、UBTCの使用方法、UBTCウォレットのダウンロードを確認するには、ub.comにアクセスしてください</p>
    </div>
                <h2>フォーク時のUBTCの配布</h2>
                <p>UBは2017年12月12日にフォークし（交換所ブロックの高さ498,777）、すぐに配布の第1段階が完了しました。およそ900,000のUBTCが配布された</p>
    </div>
</div>