<div class="container">
    <div class="ub-content ub-get">
    <h1><%- LANG('Get UnitedBitcoin') %></h1>


                <h2>第2阶段</h2>
        <div class="ub-text">
                <p>第二轮（也是最后一轮）针对比特币社区的分配将在格林威治时间大约2018年1月3日中午完结，我们会提前一天公布具体的块高度。</p>
                <p>比特币和比特联储的社群均提供了极有帮助性的回馈。UB团队致力于社群，所以欢迎和鼓励评论。</p>
                <p>社区明表示需要确认的是分发过程。由于这些反馈，UB团队改变了这个过程。比特币持有人不需要从地址A发送比特币到地址A，或者提供一个TXID来证明所有权。这将简化用户体验。已完成上述流程并已提供TXID的用户将通过电子邮件收到我们的回复。</p>
                <p>第二轮将按照比特币区块高度498777时的余额快照1：1比例的数量，对同时符合以下所有条件的比特币地址进行分配：</p>
                <div class="indentation">
                    <p>(1) 于第一轮未被分配任何UBTC；</p>
                    <p>(2) 比特币区块高度498777（大约格林威治时间2017年12月12日零时）时的余额快照数量高于0.01BTC；</p>
                    <p>(3) 从块高度494000到大约502315之间（大约时间2017年11月12日到2018年01月03日之间50天时间）有过任意额度付款记录（包括对自己地址付款）的地址。</p>
                </div>
                <p>我们初步统计的第二轮分配额预测已经超过300万枚UB。</p>
                <p>如果您的比特币储存在交易所平台，我们已经向超过<a href="/project/ecosystem/exchanges" target="_blank">50家主要交易所平台</a>发出了有关UB/UBTC及分叉的通知邮件。对UBTC的存取交易的支持，我们现正跟这些交易所进行不同程度的对接，并且协助如何将他们所得的UBTC再分发给相关用户。</p>
                <p>对于比特币储存在交易所的用户，请联系你们的交易所有关如何领取UBTC。你亦可以转发这封信给您存币的交易所平台，并询问有关如何成功申领UTBC所的细节（包括如何证明活跃地址）。于我们网站已刊登已通知的交易所清单。</p>
                <p>如果您的比特币储存在交易所平台，UnitedBitcoin将不能向你直接分币。尽管如此，无论您存币的交易所知道UB分币流程与否，交易所的活跃地址都将会收到UBTC，我们亦会就第二阶段分币与他们对接。為確保交易所知道，您可以主动想你存笔的交易所提出要求领取UBTC。</p>
                <p>如果您需要查看和使用已获取的UB，可以登录ub.com下载钱包，并查看相关文档。</p>

        </div>
                <h2>第1阶段</h2>
                <p>UB的分叉时间为2017年12月12日（比特币区块高度498777），并立刻分叉出第一轮大约90万枚的UBTC，为UB社群打造了稳固的基础。</p>
    </div>
</div>