<div class="container">
    <div class="ub-content ub-get">
    <h1><%- LANG('Get UnitedBitcoin') %></h1>

                <h2>第2階段</h2>
    <div class="ub-text">
                <p>第二輪（也是最后一輪）針對比特幣社區的分配將在格林威治時間大約2018年1月3日中午完結，我們會提前一天公布具體的塊高度。</p>
                <p>比特幣和比特聯儲的社群均提供了極有幫助性的回饋。UB團隊致力於社群，所以歡迎和鼓勵評論。</p>
                <p>社區明表示需要確認的是分發過程。由於這些反饋，UB團隊改變了這個過程。比特幣持有人不需要從地址A發送比特幣到地址A，或者提供一個TXID來証明所有權。這將簡化用戶體驗。已完成上述流程並已提供TXID的用戶將通過電子郵件收到我們的回復。</p>
                <p>第二輪將按照比特幣區塊高度498777時的余額快照1：1比例的數量，對同時符合以下所有條件的比特幣地址進行分配：</p>
                <div class="indentation">
                    <p>(1) 於第一輪未被分配任何UBTC；</p>
                    <p>(2) 比特幣區塊高度498777（大約格林威治時間2017年12月12日零時）時的余額快照數量高於0.01BTC；</p>
                    <p>(3) 從塊高度494000到大約502315之間（大約時間2017年11月12日到2018年01月03日之間50天時間）有過任意額度付款記錄（包括對自己地址付款）的地址。</p>
                </div>
                <p>我們初步統計的第二輪分配額預測已經超過300萬枚UB。</p>
                <p>如果您的比特幣儲存在交易所平台，我們已經向超過<a href="/project/ecosystem/exchanges" target="_blank">50家主要交易所平台</a>發出了有關UB/UBTC及分叉的通知郵件。對UBTC的存取交易的支持，我們現正跟這些交易所進行不同程度的對接，並且協助如何將他們所得的UBTC再分發給相關用戶。</p>
                <p>對於比特幣儲存在交易所的用戶，請聯系你們的交易所有關如何領取UBTC。你亦可以轉發這封信給您存幣的交易所平台，並詢問有關如何成功申領UTBC所的細節（包括如何証明活躍地址）。於我們網站已刊登已通知的交易所清單。</p>
                <p>如果您的比特幣儲存在交易所平台，UnitedBitcoin將不能向你直接分幣。盡管如此，無論您存幣的交易所知道UB分幣流程與否，交易所的活躍地址都將會收到UBTC，我們亦會就第二階段分幣與他們對接。為確保交易所知道，您可以主動想你存筆的交易所提出要求領取UBTC。</p>
                <p>如果您需要查看和使用已獲取的UB，可以登錄ub.com下載錢包，並查看相關文檔。</p>

</div>
                <h2>第1階段</h2>
                <p>UB的分叉時間為2017年12月12日（比特幣區塊高度498777），並立刻分叉出第一輪大約90萬枚的UBTC，為UB社群打造了穩固的基礎。</p>

    </div>
</div>