<div class="container">
    <div class="ub-content ub-get">
    <h1><%- LANG('Get UnitedBitcoin') %></h1>

                <h2>페이즈2<span>UBTC를 분배 받기 위한 마지막 라운드</span></h2>
    <div class="ub-text">
                <p>비트코인 커뮤니티를 위한 두번째 그리고 마지막 분배는 2018년 1월 3일(UTC+8)에 일어난다. 정확한 블록높이는 하루 전에 발표 됩니다.</p>
                <p>비트코인과 UB커뮤니티는 매우 유용한 피드백을 제공했습니다. UB팀은 지역 사회에 헌신하고 있으므로 의견을 주고 받는것을 환영합니다. 커뮤니티가 분명히 해야 할 한 가지 영역은 주소를 분명히 하는 것입니다. 이 피드백으로 인해 UB팀은 프로세스를 바꿨습니다. 비트코인 소지자는 비트코인을 주거 받거나, TXID를 제공하여 소윤권을 증명하지 않아도 됩니다. 그리하여 사용자는 할 것이 단순해집니다. 이미 이전 프로세스를 완료하고 TXID를 제공한 사용자는 이메일로 자세한 내용을 문의 바랍니다.</p>
                <p>페이즈2 동안 UBTC의양은 비트코인 블록 498,777의 잔고량과 동일하게 갈 것이고 1:1 비율로 아래 조건을 만족 하는 주소에 지급 될 것입니다.</p>
                <div class="indentation">
                    <p>(1) PHASE 1에서 UBTC를 지급 받지 못한 자</p>
                    <p>(2) 498,777블록에 0.01BTC보다 더 많은 잔고를 가진 자</p>
                    <p>(3) 블록 494,000~502,315사이에 활동이 있는 자</p>
                </div>
                <p>초기의 추정치에 따라서 300만개 이상의 UBTC가 배포 될 것입니다.</p>
                <p>암호화폐 거래소에 비트코인을 가지고 있는 사람들을 위해서 UB팀은 <a href="/project/ecosystem/exchanges" target="_blank">50개이상의 주요 암호화폐 거래소에</a> UBTC 및 포크 절차에 대해 전자 메일을 통보했습니다. 그 팀은 UBTC의 지급 뿐만 아니라 거래를 지원하기 위해서 노력 중입니다.</p>
                <p>암호화폐 거래소에 보유하고있는 사용자는 거래소에 UBTC 지급에 대한 정보를 문의해야 합니다.암호화폐를 가지고 있는 사람은 그들의 거래소에 성공적으로 지급 받기 위해서 주소가 활성화 되어있는지 필요한 작업이 수행되었는지 확인 해야 할수도 있습니다.</p>
                <p>비트코인이 거래 중일 경우 지급이 직접적으로 될수 없습니다. 그러나 거래소가 UB의 절차를 알고 있든 아니든 상관없이 UBTC는 유효한 주소로 UBTC를 수령할 것 이고  페이스2 에서 그들의 거래소와 함께 UBTC를 지급 받기 위해 도움을 청할 수 있습니다.</p>
                <p>주소와 잔고의 체크, UBTC의 지갑과 사용 방법을 알고 싶다면 ub.com을 방문해주세요</p>
    </div>
                <h2>페이즈1<span>포크  때 UBTC를 지급하였음.</span></h2>
                <p>UB는 2017년 12월 12일에 포크하였고 페이즈1 배포 첫 단계가 완료 되었습니다. 대략 900,000UBTC가 지급되었습니다.</p>
    </div>
</div>