
<div class="container">
    <div class="ub-content">
    <h1><%- LANG('Integrated Development Environment') %></h1>
        <div class="ub-text">
                <p><%- LANG('Considering the difficulty of developing smart contracts, UnitedBitcoin will independently develop an Integrated Development Environment (IDE) that will be launched at the same time as when smart contracts are fully supported. The environment is a debugging environment for LUA which should make it much easier for developers to develop smart contracts.') %></p>
                <p><%- LANG('In later stages, UnitedBitcoin’ s virtual machines will provide UVM opportunities to develop virtual languages that resemble the syntax structures of C#, Java and even EVM, which will allow a lot more developers to join in.') %></p>
                <p><%- LANG('In the future, plug-ins will also be developed for professional IDEs such as Eclips, Visual Studio, and so forth.') %></p>
        </div>
</div>
</div>


