<div class="container">
    <div class="ub-content ub-overview">
<h1>プロジェクト概要</h1>

        <div class="ub-text">
                <p>ユナイテッドビトコンは、認可された通貨に対してペッグしクレジット通貨システムを確立し、価値のあるブロックチェーン開発を育成して社会に役立つスマート契約をサポートします。 ユナイテッドビットコインのネットワークはビットコインから100％継承されています。 アクティブビットコインウォレットはUBTCを1：1の割合で受け取り、非アクティブウォレットファンドはエコシステム内の他の高品質ブロックチェーンまたは他のプロジェクトのサポートに移行します。</p>
                <p>スマートな契約により、ユナイテッドビットコインの実際的なアプリケーション価値が大幅に強化されます。</p>
                <p>ユナイテッドビットコインはUB基金の信用を利用しながら強力なグローバルネットワークを構築し、エコシステムをサポートし、協力関係を改善するという目標を持つスーパー共同信用枠です。</p>
        </div>
            <h2>フォークの計画は次の通りです。</h2>
        <div class="ub-text">
                <p style="margin-top: 50px;"><img src="<%= STATIC%>/images/home/btc-pic.png"></p>
                <p>この計画に続いて、ビットコインのブロックチェーンは100％継承されます。 ユナイテッドビットコインの総量、ブロック時間、半減時間、PoWメカニズムは同じままです。</p>
                <p>すべての非アクティブアドレスの残高は、その後UBファウンデーションに転送されます。</p>
<div class="indentation">
                        <p>1. ビットコインユーザーは、「ユナイテッドビットコインの取得」に記載されている手順に従ってユナイテッドビットコインを請求することができます。 こちらのウェブサイトのページをご覧ください。</p>
                        <p>2.残りの未請求ユナイテッドビットコインの30％は、暗号通貨エコシステムで少なくともその他10個のプロジェクトを支援するために使用されます。</p>
                        <p>3. 残りの70％は、通貨建てに固定されたデジタル通貨の発行を裏付けるために担保として使用されます。</p>
</div>
                <p>ユナイテッドビットコインは、フォークとビットコインの資産配分手続きを完了後、引き続きグローバルクレジット・チェーンを構築し、世界規模で迅速かつ安定したグローバル資産交換を促進するためのユナイテッドビットコインの開発を継続する予定です。</p>
        </div>
                    <h2>ビジネスビジョン</h2>
                    <p style="margin-top: 50px;"><img src="<%= STATIC%>/images/home/businessvision.png"></p>
    </div>
</div>