<div class="container">
    <div class="ub-content ub-overview">
        <h1><%- LANG('Project overview') %></h1>
        <div class="ub-text">
            <p><%- LANG('UnitedBitcoin will establish a credit currency system pegged against fiat currencies, and supporting smart contracts that can serve society, by nurturing worthy blockchain developments.UnitedBitcoin’s network is 100% inherited from Bitcoin. Active bitcoin wallets will receive UBTC at a rate of 1:1, and inactive wallet funds will go toward supporting other high quality blockchains or other projects in the ecosystem.') %></p>
            <p><%- LANG('With smart contracts, the practical application value of UnitedBitcoin will be greatly enhanced.') %></p>
            <p><%- LANG('UnitedBitcoin is a super joint credit carrier with the target to establish a powerful global network and support the ecosystem and improve collaboration by using credit from the UB foundation.')%></p>
        </div>
        <h2><%- LANG('The blueprint of the fork is as follows') %></h2>
        <div class="ub-text">
            <p><img style="width: 700px;" src="<%= STATIC%>/images/home/btc-pic.png"></p>
            <p><%- LANG('Following this blueprint, Bitcoin’s blockchain will be 100% inherited. Total volume, block-time, halving time and PoW mechanism of UnitedBitcoin will stay the same.') %></p>
            <p><%- LANG('Balances of all inactive addresses will be transferred to the UB foundation, thereafter,')%></p>
            <div class="indentation">
                <p>1. <%- LANG('Bitcoin users will be able to claim their UnitedBitcoin following the procedure outlined on the “Get UnitedBitcoin” page on this website.') %></p>
                <p>2. <%- LANG('30% of the remaining unclaimed UnitedBitcoin will be used to support at least 10 other projects in the crypto-currency eco-system.') %></p>
                <p>3. <%- LANG('The remaining 70% will be used as collateral, to back the issuance of digital currencies pegged to fiat currencies.') %></p>
            </div>
            <p><%- LANG('Once UnitedBitcoin completes the fork and Bitcoin asset allocation procedure, it will continue building a global credit chain and continue developing UnitedBitcoin to promote a wide, fast and stable exchange of global assets.') %></p>
        </div>
        <h2><%- LANG('Business Vision') %></h2>
        <p style="margin-top: 50px;"><img src="<%= STATIC%>/images/home/businessvision.png"></p>


    </div>
</div>