<div class="container">
    <div class="ub-content ub-overview">
    <h1>프로젝트 개요</h1>
        <div class="ub-text">
                <p>UnitedBitcoin은 블록체인을 적극적으로 개발함으로써 신용 화폐 시스템을 구축할 것이며, 이는 법정 화폐와 일정 비율로 가치가 연계되고, 사회에 기여하는 스마트 컨트랙을 지원할 것입니다. UnitedBitcoin 네트워크는 100% Bitcoin에서 파생되었습니다. 활성 Bitcoin 지갑은 1:1 비율로 UBTC를 받게 되고, 비활성 지갑 내 자산은 그 외 우수한 블록체인 또는 생태계 내 기타 프로젝트를 지원하게 될 것입니다.</p>
                <p>스마트 컨트랙트는 UnitedBitcoin의 실제 적용 가치를 크게 향상시킬 것입니다.</p>
                <p>UnitedBitcoin은 UB 재단의 신용에 힘입어 강력한 글로벌 네트워크를 구축하고 생태계를 지원하며 협력을 강화하기 위한 목적의 초강력 통합 신용 수단(super joint credit carrier)입니다.</p>
        </div>
            <h2>포크의 청사진은 다음과 같습니다.</h2>
        <div class="ub-text">
                <p style="margin-top: 50px;"><img src="<%= STATIC%>/images/home/btc-pic.png"></p>
                <p>이 청사진에 따라, 비트코인의 블록체인이 100% 계승 될 것입니다. 유나이티드 비트코인의 볼륨, 블록시간, 채굴 매커니즘 등은 비트코인과 비슷할 것입니다.</p>
                <p>이로써, 모든 비활성 계정의 잔액은 UB 재단으로 이전될 것입니다.</p>
<div class="indentation">
                        <p>1. Bitcoin 사용자들은 본 사이트 “Get UnitedBitcoin”면에 설명되어 있는 절차에 따라 자신의 UnitedBitcoin을 청구할 수 있습니다.</p>
                        <p>2. 청구되지 않은 잔여 UnitedBitcoin의 30%는 가상 화폐 생태계에서 다른 프로젝트 최소 10개를 지원하는데 사용될 것입니다.</p>
                        <p>3. 나머지 70%는 법정 화폐에 일정 비율로 가치가 연계된 디지털 화폐의 발행을 위한 담보로 사용될 것입니다.</p>
</div>
                <p>UnitedBitcoin은 포크 및 비트코인 자산 할당 절차를 완료한 후, 계속해서 글로벌 신용 체인을 수립하고, UnitedBitcoin이 보다 광범위하고 신속하며 안정적인 글로벌 자산 교환을 촉진하도록 발전시키는데 힘쓸 것입니다.</p>
        </div>
                    <h2>Business Vision</h2>
                    <p style="margin-top: 50px;"><img src="<%= STATIC%>/images/home/businessvision.png"></p>
    </div>
</div>