<div class="container">
    <div class="ub-content ub-overview">
<h1>项目概述</h1>
        <div class="ub-text">
                <p>UnitedBitcoin将建立一个与法定货币挂钩的信用货币体系，并通过鼓励有价值的区块链开发项目，以支持能够为社会服务的智能合约。UnitedBitcoin网络100%继承比特币网络，活跃的比特币钱包将会按1:1的比例收到UBTC，而不活跃的钱包资产将用于支持其他优质的区块链或者生态系统中的其他项目。</p>
                <p>加入智能合约，UnitedBitcoin的实际应用价值将大大提高。</p>
                <p>UnitedBitcoin是一个超级联合信用载体，目标是建立一个强大的全球网络，并通过使用UB基金会的信用来支持生态系统和促进协作。</p>
        </div>
                <h2>UnitedBitcoin分叉蓝图：</h2>
        <div class="ub-text">
                <p style="margin-top: 50px;"><img src="<%= STATIC%>/images/home/btc-pic.png"></p>
                <p>根据这一蓝图，UnitedBitcoin将100%继承比特币区块链。比特币的总容量、出块时间、减半时间和PoW机制将保持不变。</p>
                <p>所有非活跃地址的资产将被转移到UB基金会，此后，</p>
<div class="indentation">
                        <p>1. 比特币用户将能够按照本网站上 “<a href="get">领取UnitedBitcoin</a>” 页面所述的步骤要求领取UBTC。</p>
                        <p>2. 其余无人领取的UBTC中，有30％将用于支持至少10个加密货币生态系统中的其他项目。</p>
                        <p>3. 其余70％将用于抵押，以支持与法定货币挂钩的数字货币的发行。</p>
</div>
                <p>一旦UnitedBitcoin完成分叉和比特币资产分配程序，它将继续建立一个全球信用链，并继续开发UnitedBitcoin以促进全球资产广泛，快速和稳定的交换。</p>
        </div>
                    <h2>商业版图</h2>
                    <p style="margin-top: 50px;"><img src="<%= STATIC%>/images/home/businessvision.png"></p>

    </div>
</div>