<div class="container">
    <div class="ub-content ub-overview">
    <h1>項目概述</h1>

        <div class="ub-text">
                <p>UnitedBitcoin將建立一個與法定貨幣挂鉤的信用貨幣體系，並通過鼓勵有價值的區塊鏈開發項目，以支持能夠為社會服務的智能合約。UnitedBitcoin網絡100%繼承比特幣網絡，活躍的比特幣錢包將會按1:1的比例收到UBTC，而不活躍的錢包資產將用於支持其他優質的區塊鏈或者生態系統中的其他項目。</p>
                <p>加入智能合約，UnitedBitcoin的實際應用價值將大大提高。</p>
                <p>UnitedBitcoin是一個超級聯合信用載體，目標是建立一個強大的全球網絡，並通過使用UB基金會的信用來支持生態系統和促進協作。</p>
        </div>
                <h2>UnitedBitcoin分叉藍圖：</h2>
        <div class="ub-text">
                <p style="margin-top: 50px;"><img src="<%= STATIC%>/images/home/btc-pic.png"></p>
                <p>根據這一藍圖，UnitedBitcoin將100%繼承比特幣區塊鏈。比特幣的總容量、出塊時間、減半時間和PoW機制將保持不變。</p>
                <p>所有非活躍地址的資產將被轉移到UB基金會，此后，</p>
                <div class="indentation">
                    <p>1. 比特幣用戶將能夠按照本網站上 “<a href="get">領取UnitedBitcoin</a>” 頁面所述的步驟要求領取UBTC。</p>
                    <p>2. 其余無人領取的UBTC中，有30％將用於支持至少10個加密貨幣生態系統中的其他項目。</p>
                    <p>3. 其余70％將用於抵押，以支持與法定貨幣挂鉤的數字貨幣的發行。</p>
                </div>
                <p>一旦UnitedBitcoin完成分叉和比特幣資產分配程序，它將繼續建立一個全球信用鏈，並繼續開發UnitedBitcoin以促進全球資產廣泛，快速和穩定的交換。</p>
        </div>
                <h2>商業版圖</h2>
                <p style="margin-top: 50px;"><img src="<%= STATIC%>/images/home/businessvision.png"></p>

    </div>
</div>
