<div class="container">
    <div class="ub-content wallet-panel">
                <h1><%- LANG('Wallet & Source Code') %></h1>
                <div class="ub-box">
                    <div class="item">
                        <span>v1.0.7</span>
                        <h2><%- LANG('QT Wallet') %> v1.0.7</h2>
                        <p><%- LANG("QT Wallet is one of the earliest Bitcoin wallets developed based on Core's core in association with QT's UI, currently UnitedBitcoin only provides QT version wallet as follows:") %></p>
                        <ul>
                        <li><a href="https://github.com/UnitedBitcoin/UnitedBitcoin/releases/download/v1.0.7.0/UnitedBitcoin-Qt_linux.zip" target="_blank"><i class="ub-icon ub-download"></i>UnitedBitcoin-Qt_linux.rar</a></li>
                        <li><a href="https://github.com/UnitedBitcoin/UnitedBitcoin/releases/download/v1.0.7.0/UnitedBitcoin-Qt_mac.zip" target="_blank"><i class="ub-icon ub-download"></i>UnitedBitcoin-Qt_mac.zip</a></li>
                        <li><a href="https://github.com/UnitedBitcoin/UnitedBitcoin/releases/download/v1.0.7.0/UnitedBitcoin-Qt_win.rar" target="_blank"><i class="ub-icon ub-download"></i>UnitedBitcoin-Qt_win.rar</a></li>
                        <li><a href="https://github.com/UnitedBitcoin/UnitedBitcoin/releases/download/v1.0.7.0/UnitedBitcoin_Core_linux.zip" target="_blank"><i class="ub-icon ub-download"></i>UnitedBitcoin_Core_linux.rar</a></li>
                        <li><a href="https://github.com/UnitedBitcoin/UnitedBitcoin/releases/download/v1.0.7.0/UnitedBitcoin_Core_mac.zip" target="_blank"><i class="ub-icon ub-download"></i>UnitedBitcoin_Core_mac.zip</a></li>
                        <li><a href="https://github.com/UnitedBitcoin/UnitedBitcoin/releases/download/v1.0.7.0/UnitedBitcoin_Core_win.rar" target="_blank"><i class="ub-icon ub-download"></i>UnitedBitcoin_Core_win.rar</a></li>
                        </ul>
                        <div class="course"><a href="/tutorial/qt" target="_blank"><%- LANG('使用教程') %></a></div>
                    </div>
                    <div class="item">
                        <span>v1.0.7</span>
                <h2><%- LANG('Core') %> v1.0.7</h2>
                <p><%- LANG('The current first version of UnitedBitcoin Wallet, inherited from core, with features of SegWit and 8M scalability, can be used for execution of fork phase, mining, exchanges and individuals, with data retained of more than 200G before fork as well as data newly generated thereafter.') %><%- LANG('The current core compiling and upgrade are consistent with that of the original Bitcoin core.') %></p>
                <ul>
                    <li><a href="https://github.com/UnitedBitcoin/UnitedBitcoin/archive/v1.0.7.0.zip" target="_blank"><i class="ub-icon ub-download"></i>Source code (zip)</a></li>
                    <li><a href="https://github.com/UnitedBitcoin/UnitedBitcoin/archive/v1.0.7.0.tar.gz" target="_blank"><i class="ub-icon ub-download"></i>Source code (tar.gz)</a></li>
                </ul>
                    </div>
                    <div class="item">
                        <span>v3.0.8</span>
                <h2><%- LANG('Electrum wallet (thin)') %> v3.0.8</h2>
                <ul>
                    <li>
                        <a href="https://github.com/UnitedBitcoin/electrum/releases/download/3.0.8/electrum-3.0.8.dmg" target="_blank">
                            <i class="ub-icon ub-download"></i>
                            electrum-3.0.8.dmg
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/UnitedBitcoin/electrum/releases/download/3.0.8/electrum-ubtc-3.0.8-portable.exe" target="_blank">
                            <i class="ub-icon ub-download"></i>
                            electrum-ubtc-3.0.8-portable.exe
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/UnitedBitcoin/electrum/releases/download/3.0.8/electrum-ubtc-3.0.8-setup.exe" target="_blank">
                            <i class="ub-icon ub-download"></i>
                            electrum-ubtc-3.0.8-setup.exe
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/UnitedBitcoin/electrum/releases/download/3.0.8/electrum-ubtc-3.0.8.exe" target="_blank">
                            <i class="ub-icon ub-download"></i>
                            electrum-ubtc-3.0.8.exe
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/UnitedBitcoin/electrum/archive/3.0.8.zip" target="_blank">
                            <i class="ub-icon ub-download"></i>
                            Source code (zip)
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/UnitedBitcoin/electrum/archive/3.0.8.zip" target="_blank">
                            <i class="ub-icon ub-download"></i>
                            Source code (tar.gz)
                        </a>
                    </li>
                    </ul>
                        <div class="course"><a href="/tutorial/electrum" target="_blank"><%- LANG('使用教程') %></a></div>
                    </div>
                    <div class="item">
                    <h2><%- LANG('APP') %></h2>
                    <p><%- LANG('A lightweight wallet based on SPV will be released soon.') %></p>
                    </div>
            </div>
</div>
</div>