<div class="ub-footer">
            <div class="follow">
                <a href="https://twitter.com/United_Bitcoin" target="_blank"><i class="ub-icon ub-tuite"></i></a>
                <a href="https://www.linkedin.com/company/13599492/" target="_blank"><i class="ub-icon ub-in"></i></a>
                <!--<a href="javascript:void(0);" class="wechat" target="_blank"><i class="ub-icon ub-wechat"></i>-->
                    <!--<div class="wechat-code"><img src="/src/images/wechat.png"/></div>-->
                <!--</a>-->
                <a href="https://github.com/UnitedBitcoin/UnitedBitcoin" target="_blank"><i class="ub-icon ub-github"></i></a>
                <a href="https://t.me/unitedbitcoin" target="_blank"><i class="ub-icon ub-telegraph"></i></a>
                <a href="https://www.youtube.com/channel/UC2jI3znZpaWwW4vPjqmO1jw" target="_blank"><i class="ub-icon ub-youtube"></i></a>
                <a href="javascript:void(0);" class="wechat" target="_blank"><i class="ub-icon ub-beechat"></i>
                    <div class="wechat-code"><img src="/src/images/bechaterweima.png"/></div>
                </a>
            </div>
            <div class="copyright">Copyright 2017 <%= WEB.NAME %>. All Rights Reserved</div>
</div>