<div class="ub-banner" style="background: url('/src/images/home/banner1.jpg') no-repeat center center / cover;">
    <h2>News</h2>
</div>
<div class="ub-main">
    <div class="ub-container">
        <div class="ub-content">
            <div class="news-details">
                <div class="news-info">


                    <p>UnitedBitcoin (“UBTC”)董事会欣然宣布，UBTC已经在以下交易所上线：</p>
                    <p><span style="display: block; font-size: 14px; color: #111;">ACX</span> <a href="https://acx.io/markets/ubtcbtc" target="_blank" rel="noopener">https://acx.io/markets/ubtcbtc</a></p>
                    <p><span style="display: block; font-size: 14px; color: #111;">EXX</span> <a href="https://www.exx.com/trade/ubtc_btc" target="_blank" rel="noopener">https://www.exx.com/trade/ubtc_btc</a></p>
                    <p><span style="display: block; font-size: 14px; color: #111;">HB.top</span> <a href="https://hb.top/" target="_blank" rel="noopener">https://hb.top/</a></p>
                    <p><span style="display: block; font-size: 14px; color: #111;">HKSY</span> <a href="https://www.hksy.com/#/tradeCenter?payCoinName=HKD&amp;coinName=UBTC" target="_blank" rel="noopener">https://www.hksy.com/#/tradeCenter?payCoinName=HKD&amp;coinName=UBTC</a></p>
                    <p><span style="display: block; font-size: 14px; color: #111;">QBTC</span> <a href="https://www.qbtc.com/trade" target="_blank" rel="noopener">https://www.qbtc.com/trade</a></p>
                    <p><span style="display: block; font-size: 14px; color: #111;">ZB</span> <a href="https://trans.zb.com/ubtcbtc" target="_blank" rel="noopener">https://trans.zb.com/ubtcbtc</a></p>
                    <h4>UNITEDBITCOIN</h4>
                    <p style="margin-top: -10px;">链接价值 & 服务社会</p>
                    <p>注：中文版公告如与英文版有异，请以英文版为准。</p>

                </div>


            </div>

        </div>
    </div>
</div>