<div class="container">
    <div class="ub-content ub-faq">
    <h1><%- LANG('Frequently Asked Questions') %></h1>

            <a name="AboutUB"></a>
                <h2>About UB & UnitedBitcoin</h2>
                <div class="faq-box">
                    <div class="box">
                    <p class="q"><span>Q</span>What is UB?</p>
                    <p class="a"><span>A</span>UB is a shorthand for UnitedBitcoin and is also the suggested blockchain asset/ticker symbol for UnitedBitcoin.</p>
                    </div>
                    <div class="box">
                    <p class="q"><span>Q</span>What is UnitedBitcoin's goal?</p>
                    <p class="a"><span>A</span>Rely on the credit of inacitve Bitcoin to provide more intelligent and stable blockchain services for bulk transactions;</p>
                    </div>
                    <div class="box">
                    <p class="q"><span>Q</span>What is the difference between UnitedBitcoin and Bitcoin?</p>
                    <p class="a"><span>A</span>While UnitedBitcoin is inherited from Bitcoin, we’ve added many new security features and made additional functional improvements (faster transactions, SegWit support, smart contract functionality, payment channels through Lightning Network, etc.).</p>
                    </div>
                    <div class="box">
                    <p class="q"><span>Q</span>UnitedBitcoin currency system and bitcoin What is the difference?</p>
                    <p class="a"><span>A</span>UnitedBitcoin’ s total volume, distribution policy, block-time, halving time, and PoW mechanism are exactly the same as Bitcoin after the fork. The only difference with regards to the network is the increased block-size to facilitate faster transaction validation.</p>
                    </div>
                    <div class="box">
                    <p class="q"><span>Q</span>How to receive UnitedBitcoin?</p>
                    <p class="a"><span>A</span>A snapshot will be taken of the Bitcoin blockchain at block height #498,777 (around 12 o’clock on December 12, 2017). Addresses that have been active in the last 30 days will receive the equivalent amount of UnitedBitcoin after the fork, addresses that have been inactive can claim UnitedBitcoin in Phase #2. Phase #2 is for manual allocation of UnitedBitcoin and lasts until January 3, 2018. The entire procedure is explained on the “Get UnitedBitcoin” page of this website.</p>
                    </div>
                </div>
                <a name="AboutSmart"></a>
                <h2>About Smart Contracts UVM</h2>
                <div class="faq-box">
                    <div class="box">
                    <p class="q"><span>Q</span>Why do we need smart contract support?</p>
                    <p class="a"><span>A</span>Smart contracts can add unlimited application scenarios to UnitedBitcoin, which can greatly expand the value of its use;</p>
                    </div>
                    <div class="box">
                    <p class="q"><span>Q</span>Is a block time of 10 minutes fast enough to support smart contracts?</p>
                    <p class="a"><span>A</span>Although UVM is a lot faster than EVM, UnitedBitcoin does not pursue extremely fast execution, but instead pursues a stable value system and focuses on stable execution which we believe is the biggest priority in business applications. To facilitate near real-time/instant transactions we will have the Lightning Network for everyday transactions.</p>
                    </div>
                    <div class="box">
                    <p class="q"><span>Q</span>Why not use technologies such as EVM?</p>
                    <p class="a"><span>A</span>EVM was created specifically for ETH, and is a new language. As for UVM, based on LUA, LUA is a relatively mature language, both in terms of security and stability and has had more time to be tested in real-life applications. It is also faster than EVM based solutions.</p>
                    </div>
                    <div class="box">
                    <p class="q"><span>Q</span>What’s next for UVM and smart contracts?</p>
                    <p class="a"><span>A</span>UVM will add support for C# and JAVA and UnitedBitcoin will release an IDEA to facilitate the development of smart contracts.</p>
                    </div>
                    <div class="box">
                    <p class="q"><span>Q</span>Are there any technical obstacles when using PoW for smart-contracts?</p>
                    <p class="a"><span>A</span>UnitedBitcoin's team has many years of blockchain- and virtual machine development experience and has provided numerous bug fixes. We now have the technical support of QTUM’s team and community and team. Both give us more than enough confidence to do well.</p>
                    </div>
                    <div class="box">
                    <p class="q"><span>Q</span>Does EVM affect the mining algorithm?</p>
                    <p class="a"><span>A</span>No, EVM runs in the wallet.</p>
                    </div>
                </div>
                <a name="AboutWitness"></a>
                <h2>Block-size increase to 8 MB and SegWit support</h2>
                <div class="faq-box">
                    <div class="box">
                    <p class="q"><span>Q</span>Why increase the block-size to 8MB and support SegWit?</p>
                    <p class="a"><span>A</span>To facilitate faster transactions. We believe 8MB is an appropriate balance when looking at both the advantages and disadvantages of such an increase.</p>
                    </div>
                </div>

</div>
</div>
