<div class="container">
     <div class="ub-content ub-faq">
       <h1>常見問題</h1>
       <a name="AboutUB"></a>
       <div class="content-text">
           <h2 style="margin-top: 0;">關於UB & UnitedBitcoin</h2>
           <div class="faq-box">
                 <div class="box">
                        <p class="q"><span>Q</span>UB是什麼?</p>
                        <p class="a"><span>A</span>UB是UnitedBitcoin的簡寫，也是UnitedBitcoin的區塊鏈資產和貨幣代碼。 </p>
                 </div>
                 <div class="box">
                        <p class="q"><span>Q</span>UnitedBitcoin的目標是什麼?</p>
                        <p class="a"><span>A</span>依靠非活躍比特幣的信用，為大宗交易提供更智能、更穩定的區塊鏈服務;</p>
                 </div>
                 <div class="box">
                        <p class="q"><span>Q</span>UnitedBitcoin和Bitcoin（比特幣）的區別是什麼?</p>
                        <p class="a"><span>A</span>雖然UnitedBitcoin是從比特幣繼承而來的，但我們增加了許多新的安全功能，並進行了額外的功能改進(更快的交易、 SegWit隔離見證支持、智能合約功能、通過閃電網絡的支付渠道等)。 </p>
                </div>
                <div class="box">
                        <p class="q"><span>Q</span>UnitedBitcoin貨幣體係與比特幣有什麼區別?</p>
                        <p class="a"><span>A</span>UnitedBitcoin的總數量、分配方案、出塊時間、減半時間和PoW（工作證明）機制與比特幣完全相同。唯一區別是更大的區塊，以方便交易更快的驗證。 </p>
                </div>
                <div class="box">
                        <p class="q"><span>Q</span>如何領取UnitedBitcoin?</p>
                        <p class="a"><span>A</span>比特幣區塊鏈將於2017年12月12日12點左右在區塊高度498,777進行快照。在過去的30天內活躍的地址將在分叉之後收到相同數量的UnitedBitcoin，不活躍的地址則可以在第2階段中領取。第2階段是手工分配UnitedBitcoin，並持續到2018年1月3日。整個過程在網站的“領取UnitedBitcoin”頁面上有詳細解釋。 </p>
                </div>
           </div>
           <a name="AboutSmart"></a>
           <h2>關於採用智能合約的UVM</h2>
           <div class="faq-box">
                 <div class="box">
                        <p class="q"><span>Q</span>為什麼需要智能合約支持?</p>
                        <p class="a"><span>A</span>智能合約可以為UnitedBitcoin增加無限的應用場景，這將極大地擴大其使用的價值。 </p>
                 </div>
                 <div class="box">
                        <p class="q"><span>Q</span>10分鐘的出塊速度是否足夠快，進而支持智能合約?</p>
                        <p class="a"><span>A</span>雖然UVM比EVM快得多，但是UnitedBitcoin並沒有追求極快的執行，而是追求一個穩定的價值體系，專注於穩定的執行，我們認為這是業務應用程序中最重要的。為了方便接近實時/即時交易，我們將用閃電網絡進行日常交易。 </p>
                </div>
                <div class="box">
                        <p class="q"><span>Q</span>為什麼不採用EVM?</p>
                        <p class="a"><span>A</span>EVM是專門為ETH創建的，是一種新的語言。對於基於LUA的UVM,LUA是一種相對成熟的語言，在安全性和穩定性方面都比較成熟，並且在實際應用中有更多的時間進行測試。它也比基於EVM的解決方案更快。 </p>
               </div>
               <div class="box">
                        <p class="q"><span>Q</span>UVM和智能合約的下一步是什麼？ </p>
                        <p class="a"><span>A</span>UVM將增加對C#和JAVA的支持，而UnitedBitcoin將發布一個IDEA，以促進智能合約的開發。 </p>
               </div>
               <div class="box">
                        <p class="q"><span>Q</span>在使用PoW進行智能合約時是否存在技術上的障礙?</p>
                        <p class="a"><span>A</span>UnitedBitcoin的團隊有多年的區塊鍊和虛擬機開發經驗，並擁有大量的bug修復經驗。我們現在得到了QTUM團隊、社區和團隊的技術支持。兩者都給了我們足夠的信心去做好。 </p>
               </div>
               <div class="box">
                        <p class="q"><span>Q</span>EVM影響挖礦的算法嗎?</p>
                        <p class="a"><span>A</span>不會，EVM在錢包中運行。 </p>
                </div>
           </div>
           <a name="AboutWitness"></a>
           <h2>區塊擴容至8MB以及隔離見證支持</h2>
           <div class="faq-box">
              <div class="box">
                    <p class="q"><span>Q</span>為什麼擴容至8MB，為什麼支持隔離見證?</p>
                    <p class="a"><span>A</span>為了促使交易更快地進行。權衡利弊，我們相信8MB是一個適當的數值。 </p>
              </div>
            </div>
       </div>
    </div>
</div>
