<div class="container">
        <div class="ub-content ub-faq">
            <h1>질문</h1>
            <a name="AboutUB"></a>
            <div class="content-text">
                <h2 style="margin-top: 0;">UB & UnitedBitcoin</h2>
                <div class="faq-box">
                    <div class="box">
                        <p class="q"><span>Q</span>UB란 무엇입니까?</p>
                        <p class="a"><span>A</span>UB는 UnitedBitcoin의 약자이자 UnitedBitcoin의 블록체인 자산을 의미합니다.</p>
                    </div>
                    <div class="box">
                        <p class="q"><span>Q</span>UnitedBitcoin의 목표는 무엇입니까?</p>
                        <p class="a"><span>A</span>비활성화 상태인 비트코인을 기반으로 삼아 대량 거래를 위한 보다 전문적이고 안정적인 블록체인 서비스를 제공하는 것입니다.</p>
                    </div>
                    <div class="box">
                        <p class="q"><span>Q</span>UnitedBitcoin과 Bitcoin의 차이점은 무엇입니까?</p>
                        <p class="a"><span>A</span>UnitedBitcoin은 Bitcoin에서 파생되었지만 Bitcoin에는 없는 새로운 특성을 많이 가지고 있으며 기능적으로도 보다 개선되었습니다. (거래속도 개선, SegWit 지원, 스마트 컨트랙트, 라이트닝 네트워크를 통한 결제등이 있습니다)</p>
                    </div>
                    <div class="box">
                        <p class="q"><span>Q</span>UnitedBitcoin 화폐 시스템과 Bitcoin의 차이점은 무엇인가요?</p>
                        <p class="a"><span>A</span>UnitedBitcoin의 총량, 분배 정책, 블록타임, 반감기, 및 채굴 메카니즘은 포크 후의 Bitcoin과 완전히 동일합니다. 네트워크와 관련한 유일한 차이점은 거래 승인 속도 개선을 위해 블록사이즈를 키웠다는 점입니다.</p>
                    </div>
                    <div class="box">
                        <p class="q"><span>Q</span>UnitedBitcoin 확보 방법은 무엇인가요?</p>
                        <p class="a"><span>A</span>A비트코인 블록체인 스냅샷이 block height #498,777 (2017년 12월 12일 약 12시 즈음)에 찍힐 것입니다. 지난 30일 간 활성화 되어 있던 계정은 포크 후 UnitedBitcoin 의 해당량을 받게 되며, 그렇지 않은 계정은 Phase #2에서 UnitedBitcoin을 청구할 수 있습니다. Phase #2는 UnitedBitcoin을 수동으로 할당하기 위한 것이며 2018년 1월 3일까지 지속 됩니다. 보다 상세한 절차는 본 사이트 “Get UnitedBitcoin”에서 보실 수가 있습니다.</p>
                    </div>
                </div>
                <a name="AboutSmart"></a>
                <h2>스마트 컨트랙트 UVM</h2>
                <div class="faq-box">
                    <div class="box">
                        <p class="q"><span>Q</span>왜 스마트 컨트랙트를 지원할 필요가 있는 것입니까?</p>
                        <p class="a"><span>A</span>스마트 컨트랙트 지원을 통해 UnitedBitcoin에 무제한의 어플리케이션 확장을 할 수 있으므로 사용 가치를 한차원 더 높일 수 있습니다.</p>
                    </div>
                    <div class="box">
                        <p class="q"><span>Q</span>블록타임 10분이 스마트 컨트랙을 지원하기에 충분한가요?</p>
                        <p class="a"><span>A</span>UVM이 EVM보다 훨씬 빠르지만 유나이티드 비트코인은 빠른 것만을 추구하지 않습니다. 대신 안정적인 가치 시스템을 따르고 그것은 비즈니스 애플리케이션의 우선권에 크나큰 우선권이 있다고 우리는 믿습니다. 리얼타임 거래 또는 실시간 거래를 좀 더 쉽게 하기 위해서 모든 거래에 우리는 라이트닝 네트워크를 사용합니다</p>
                    </div>
                    <div class="box">
                        <p class="q"><span>Q</span>EVM과 같은 기술을 사용하지 않는 이유는 뭔가요?</p>
                        <p class="a"><span>A</span>EVM은 특히 ETH를 위해 생성된 새로운 언어입니다. UVM은 LUA에 기반하고, LUA는 상대적으로 성숙한 언어입니다. UVM과 LUA 모두 보안과 안정성 측면에서 상당한 시간 동안 테스트를 거쳤다. . 그 결과EVM 기반의 솔루션보다 훨씬 빠르다는 결론입니다.</p>
                    </div>
                    <div class="box">
                        <p class="q"><span>Q</span>UVM과 스마트 컨트랙트는 다음에 어떤 것을 계획하고 있습니까?</p>
                        <p class="a"><span>A</span>UVM은 C# 과 JAVA 를 추가 지원할 것이며, UnitedBitcoin은 스마트 컨트랙트 개발을 촉진하기 위한 IDEA를 발표할 것입니다.</p>
                    </div>
                    <div class="box">
                        <p class="q"><span>Q</span>POW방식이 스마트 컨트랙트를 구현하는데 어려운 점은 없습니까?</p>
                        <p class="a"><span>A</span>UnitedBitcoin팀은 수년 간 블록체인 및 Virtual Machine을 개발해왔고 수많은 버그 들을 개선한 경력이 있으며, 퀀텀 팀과 커뮤니티 등으로부터 기술적 지원을 받고 있습니다. 이러한 경력 및 기술지원 덕분에 우리는 특별히 어려운 점은 없습니다</p>
                    </div>
                    <div class="box">
                        <p class="q"><span>Q</span>EVM은 채굴 알고리즘에 영향을 미치나요?</p>
                        <p class="a"><span>A</span>아니요.  EVM은 지갑에서 작동합니다.</p>
                    </div>
                </div>
                <a name="AboutWitness"></a>
                <h2>블록사이즈 확대(8 MB) 및 SegWit 지원</h2>
                <div class="faq-box">
                    <div class="box">
                        <p class="q"><span>Q</span>왜 블록 사이즈를8MB로 키우고 SegWit을 지원 하나요</p>
                        <p class="a"><span>A</span>좀 더 빠른 거래를 용이하게 하기 위해, 우리는 8메가의 블록이 적절한 타협안 이라고 생각합니다</p>
                    </div>
                </div>
            </div>
        </div>
</div>

