<div class="container">
    <div class="ub-content ub-faq">
      <h1>よくある問題</h1>
      <a name="AboutUB"></a>
      <div class="content-text">
        <h2 style="margin-top: 0;">UB及ユナイテッドビットコインについて</h2>
        <div class="faq-box">
          <div class="box">
              <p class="q"><span>Q</span>UBとは何ですか？</p>
              <p class="a"><span>A</span>UBはユナイテッドビットコインの略語であり、ユナイテッドビットコインのブロックチェーン資産/ティッカーシンボルとしても推奨されています。</p>
          </div>
            <div class="box">
                <p class="q"><span>Q</span>なぜスマートな契約サポートが必要なのでしょうか？</p>
                <p class="a"><span>A</span>スマート契約はユナイテッドビートコインに無制限のアプリケーションシナリオを追加することができ、使用価値を深める事ができます。</p>
            </div>
          <div class="box">
              <p class="q"><span>Q</span>ユナイテッドビットコインのゴールは何ですか？</p>
              <p class="a"><span>A</span>インアクティブなビットコインのクレジットに依拠し大量なトランズアクションをインテリジェントと安定したブロックチェーンサービスで提供させる。</p>
          </div>
          <div class="box">
              <p class="q"><span>Q</span>ユナイテッドビットコインとビットコインの違いは何ですか？</p>
              <p class="a"><span>A</span>ユナイテッドビットコインはビットコインから継承されていますが、多くの新しいセキュリティ機能を追加し、追加の機能強化（トランザクションの高速化、セグウィットサポート、スマート契約機能、ライトニングネットワークによる支払いチャネルなど）を追加しました。</p>
          </div>
          <div class="box">
              <p class="q"><span>Q</span>ユナイテッドビットコインの通貨システムとビットコインの違いは何ですか？</p>
              <p class="a"><span>A</span>ユナイテッドビットコインの総量、配信ポリシー、ブロック時間、半減時間、PoWメカニズムは、フォーク後のビットコインとまったく同じです。 ネットワークに関する唯一の違いは、トランザクションの検証を高速化するためにブロックサイズが増えたことです。</p>
          </div>
          <div class="box">
              <p class="q"><span>Q</span>ユナイテッドビットコインの受け取り方法</p>
              <p class="a"><span>A</span>スナップショットはブロック高さ＃498,777（2017年12月12日約12時）にビットコインブロックチェーンから取得されます。 過去30日間に有効だったアドレスはフォーク後に同等の金額がユナイテッドビットコインから送信されますが、フェーズ2でユナイテッドビットコインにて無効にしているアドレスは無効になります。 フェーズ2は、ユナイテッドビットコインの手動割り当て用で、2018年1月3日まで続きます。手順全体については、当サイトのページ「ユナイテッドビットコインの取得」にて説明しております。</p>
          </div>

        </div>
        <a name="AboutSmart"></a>
        <h2>スマート契約UVMについて</h2>
        <div class="faq-box">
            <div class="box">
                <p class="q"><span>Q</span>なぜスマートな契約サポートが必要なのでしょうか？</p>
                <p class="a"><span>A</span>スマート契約はユナイテッドビートコインに無制限のアプリケーションシナリオを追加することができ、使用価値を深める事ができます。</p>
            </div>
            <div class="box">
                <p class="q"><span>Q</span>スマートな契約をサポートするのにブロック時間10分は十分速いのすか？</p>
                <p class="a"><span>A</span>UVMはEVMよりもはるかに高速ですが、ユナイテッドビットコインは非常に高速な実行力を追求するのではなく、安定したバリューシステムを追求し、安定した実行力に焦点を置いてます。 リアルタイム/即時取引に近い状態にするために、日々の取引のためにライトニングネットワークを用意しています。</p>
            </div>
            <div class="box">
                <p class="q"><span>Q</span>何故EVMのようなテクノロジーを使用しないのですか？</p>
                <p class="a"><span>A</span>EVMはETH向けに特別に作成されたもので、新しい言語です。 UVAはLUAに基づいており、LUAはセキュリティと安定性の両面で比較的成熟した言語であり、実際のアプリケーションでテストされた時間が長くなっています。 EVMベースのソリューションよりも高速です。</p>
            </div>
            <div class="box">
                <p class="q"><span>Q</span>UVMとスマート契約の次は？</p>
                <p class="a"><span>A</span>UVMはC＃とJAVAのサポートを追加し、UnitedBitcoinはスマート契約の開発を容易にするためにIDEAをリリースします。</p>
            </div>
            <div class="box">
                <p class="q"><span>Q</span>スマート契約でPoWを使用する際に技術的な障害はありますか？</p>
                <p class="a"><span>A</span>ユナイテッドビットコインのチームは、長年のブロックチェーンと仮想マシンの開発経験を持っており、多数のバグフィックスを経験しています。また、 私たちは今QTUMのチームとコミュニティとチームの技術サポートを受けています。 どちらも私たちに十分な自信を与えてくれます。</p>
            </div>
            <div class="box">
                <p class="q"><span>Q</span>EVMはマイニングアルゴリズムに影響しますか？</p>
                <p class="a"><span>A</span>いいえ、EVMはウォレット内で動作します。</p>
            </div>
        </div>
        <a name="AboutWitness"></a>
        <h2>ブロックサイズが8 MBに増加、及セグウィットのサポート</h2>
        <div class="faq-box">
            <div class="box">
                <p class="q"><span>Q</span>ブロックサイズを8MBに増やし、セグウィットをサポートするのはなぜですか？</p>
                <p class="a"><span>A</span>迅速な取引を促進する為です。 このような増加の長所と短所の両方を見ると、8MBが適切なバランスであると考えています。</p>
            </div>

        </div>
      </div>
    </div>
</div>

