<div class="container">
    <div class="ub-content ub-whitepaper">
    <h1><%- LANG('White Paper') %></h1>

                <div class="explain">
                    <span>名詞解釋</span>
                    <p>UB：比特聯儲的基礎貨幣簡寫，也是比特聯儲的簡寫，其官網為WWW.UB.COM</p>
                </div>
                <h2><span>第一部分：</span>摘要</h2>
        <div class="ub-text">
                <p>比特幣作為數字貨幣的杰出代表，將不可逆的交易實現以及去中心化的共識帶給到了這個世界，其本身作為信用載體的集大成者，價格也已經突破16000美元，雖然不斷有各種新的數字貨幣誕生，但是都不可動搖比特幣的核心地位以及價值體系。</p>
                <p>比特幣是區塊鏈的最杰出代表，在全球從IT、精英人群開始蔓延，其本質是信用的延伸。</p>
                <p>比特幣作為一種貨幣的功能，在最初的價值極低。因此，人們沒有採取必要的安全預防措施。雖然理論上這些比特幣並沒有消失，但實際上它們降低了比特幣的循環供應。沒有私鑰，這些硬幣被鎖住，無法回收。</p>
                <p>雖然這是通貨緊縮，並推動了比特幣的價格上漲，但這還不足以推動其進一步發展。比特幣的高價格、高交易成本和低數量限制是比特幣進一步發展的重要因素。</p>
                <p>UnitedBitcion的使命是為丟失的比特幣和不活躍的錢包找到一個目標，並通過聯合信用和智能合約建立一個穩定的加密貨幣系統。</p>
                <p>UnitedBitcoin將利用比特幣的壓力測試機制，比如PoW、blocktimes、supply cap和發行模型，同時還會升級一些區域，以滿足更大的社會需求。這些改進將會增加到8Mb，增加了基於UVM的智能合約支持，增加了閃電網絡支持，以及隔離見証實現。</p>
        </div>
                <h2><span>第二部分：</span>運作模型</h2>
        <div class="ub-text">
                <p>UnitedBitcoin將離開比特幣網絡，並立即改進其在新網絡中的協議。所有活躍的比特幣地址將在UnitedBitcoin的鏈上獲得相應的余額。非活動地址的余額將被收集並用於為社區服務。</p>
                <p>30%的不活躍余額將被分配給其他有技術影響的社區，以進一步增加比特聯儲的影響力和領取數量。</p>
                <p>70%的不活躍的余額將被保留作為抵押物，以發行穩定的貨幣，類似於金本位制。然而，不同於金本位制(黃金與美元價值之間的固定匯率)傾向於高估黃金，UB標准的設計目的是保持UB儲備的價值，而不是抵押債券的價值。這個比率的目標是在3:1左右，也就是說，對於每一個被保留的UB，我們隻能發行恆值的代幣，也就是穩定的代幣，高達UB的市值的33.3%。如果UB的市場價格增加，那麼它就提供了更多的價值能力來發行更穩定的代幣，但是沒有必要發行新的穩定的代幣;如果UB的市場價格降低了，穩定代幣的價值就會突破保留的UB的33.3%，那麼穩定代幣就必須回購，直到33.3%的安全線為止。這與美聯儲保持美元流動性的方式類似。</p>
                <p>由UB儲備支持的穩定代幣將用於全球貿易或大型項目，這將極大地提高UB系統的使用和受歡迎程度。</p>
                <p>UB將成為一個真正的全球聯合信用儲蓄聯盟。基於PoW的新的智能合約功能也將為UB供無限的可能性。</p>

                <p style="margin-top: 30px;" class="img-w"><img src="<%= STATIC%>/images/home/OperatingModel.png"></p>
        </div>
                <h2><span>第三部分：</span>技術方案</h2>
        <div class="ub-text">
                <p>雖然比特幣目前是最安全、最主要的加密貨幣，但它也有一些缺陷——主要是因為它是行業的先驅。</p>
                <p>UnitedBitcoin將利用比特幣的壓力測試機制，比如PoW、blocktimes、supply cap和發行模型，同時還會升級一些區域，以滿足更大的社會需求。</p>
        </div>

                <h3>UTXO數據模型</h3>
                <p>在過去的9年裡，用於比特幣的UTXO數據模型已經被証明是創造穩定可靠的數字貨幣的一種非常可靠的手段。貨幣最重要的功能是交換介質，而UTXO模型做得非常好。通過分叉繼承這一點至關重要。</p>
                <h3>SHA256 PoW 挖礦模型</h3>
                <p>UnitedBitcoin保持著比特幣的挖掘算法。雖然能源消耗是PoW的一個關注點，但它有著非常可靠的記錄，並且已被証明是非常安全的。</p>

                <h3>總量與出塊時間</h3>
                <p>UnitedBitcoin是比特幣的一個分支，它繼承了比特幣的出塊時間、減半周期和總量(2100萬)。這些屬性保持不變。</p>


                <h3>隔離見証 / SegWit</h3>
        <div class="ub-text">
                <p>隔離見証是一種數據結構改進，它將TX_IN和TX_OUT的數字簽名置於交易之外。這解決了交易可擴展性的問題，並緩解了區塊大小限制的問題。它能增強鏈上的可擴展性。</p>
                <p>隔離見証實施之前，區塊的結構如下：</p>
                <p class="img-w"><img src="<%= STATIC%>/images/home/IsolationVerification1.svg"></p>
                <p class="img-w">隔離見証實施之后，區塊的結構如下：</p>
                <p class="img-w"><img src="<%= STATIC%>/images/home/IsolationVerification2.svg"></p>
        </div>
                <h3>區塊擴容</h3>
        <div class="ub-text">
                <p>比特幣目前最大的TPS是每秒7筆交易。這不能及時適應網絡的需求，因此無法開始處理全球交易量的需求。</p>

                <p>之前提到的隔離見証能夠解決一部分區塊限制的問題，但是非常有限。為了擴大全網的交易量上限，最直接的方式是增加區塊的大小。這會給比特幣帶來一次硬分叉，而UnitedBitcoin借分叉比特幣這一機會，恰好可以實施這一舉措。</p>
                <p>增加區塊大小和擴展將增加存儲和網絡的需求，但是考慮到大多數節點並由礦池或挖礦公司運行，我們認為這不是一個很大的限制，8MB是一個適當的值。</p>
        </div>

                <h3>重放保護</h3>
                <p>因為UnitedBitcoin是比特幣的一個分支，我們必須確保一個鏈上的交易不能在另一個鏈上重播。UnitedBitcoin通過引入新的交易簽名來實現重放保護。新的SigHash類型還將提高網絡的整體安全性。</p>

                <h3>資產激活</h3>
        <div class="ub-text">
                <p>在分叉之后，比特幣網絡上的所有活躍地址將在UB網絡上獲得相等的余額。</p>
                <p>非活動地址是自區塊高度#494000(2017年11月11日)以來沒有活動的地址，因此在資產分配過程的第1階段不會自動接收UBTC。</p>
        </div>
                <h3>智能合約</h3>
        <div class="ub-text">
                <p>UnitedBitcoin的智能合約允許用戶編寫自定義的行為，並在區塊鏈中使用它們，而不是必須做一些(手動的)預定義操作。通過使用智能合約，用戶可以輕鬆地配置復雜交易邏輯，以及執行復雜的財務契約。與此同時，用戶可以擴展功能、添加權限或添加動態控件，而無需修改或升級區塊鏈。</p>
                <p>智能合約允許用戶將自定義的合約字節碼注冊到區塊鏈中，並在UB中調用交易。合約字節碼是在一個圖靈完備的用於區塊鏈的合約字節碼虛擬機中執行的。</p>
                <p>開發人員可以使用具有友好語法的編程語言編寫智能契約，然后將其編譯成契約字節碼並存儲在區塊鏈中。</p>
                <p>UnitedBitcoin的每個錢包都將區塊鏈與契約交易同步，並調用虛擬機執行相關的協議字節碼並驗証。</p>
        </div>
                <h4>合約交易類型</h4>
        <div class="ub-text">
                <p>在交易的ScriptPubKey鎖定腳本區可以增加合約相關的操作符，用來觸發注冊合約，調用合約，升級合約，注銷合約的行為。帶有這些操作符的交易，驗証時會觸發智能合約虛擬機執行相關的合約字節碼。</p>
                <p>注冊合約的操作符會執行將合約字節碼注冊到鏈上成為新的智能合約，成功則分配一個新的智能合約地址。</p>
                <p>調用合約的操作符會調用某個鏈上的智能合約，執行相應的字節碼，並產生一定的執行結果，比如轉賬或者合約狀態變更。</p>
                <p>升級合約的操作符可以給區塊鏈上未升級且未注銷的合約分配一個唯一的名稱，並且將合約標記為不可被注銷。通過合約名稱方便用戶或者其他合約調用此智能合約。</p>
                <p>注銷合約的操作符可以將用戶創建的區塊鏈上未升級且未注銷的合約標記為已注銷。已注銷的合約不會從區塊鏈中消失，但是無法再調用，隻能查詢相關歷史數據。</p>
        </div>




                <h4>合約虛擬機</h4>
        <div class="ub-text">
                <p>合約虛擬機使用圖靈完備的虛擬機實現，合約虛擬機具有確定下，高性能，可擴展性等性質，可以和UB進行交互，執行合約字節碼並返回執行結果。</p>
                <p>UB的合約虛擬機具有確定性的特點，一筆合約相關的交易上鏈后，任何時刻執行都有同樣的結果，可以驗証和復現。</p>
                <p>合約虛擬機使用賬戶模型進行價值傳輸，使得開發者在編寫智能合約時更容易使用，而UB鏈的UTXO交易模型則通過賬戶抽象層傳遞。</p>
                <p>開發人員可以使用各種高級編程語言進行智能合約開發，並編譯和生成合約字節碼，存儲在UnitedBitcoin的區塊鏈中。</p>
                <p>經過多方權衡,UnitedBitcoin決定採用基於LUA改進的UVM虛擬機,並且后續增加部分模擬C#、Java以及EVM等類型虛擬機的模擬語言，以取得最為廣泛的技術社區支持和介入.UVM在所有的虛擬機中會是最為高效的虛擬機之一，並且其底層語言經過了多年的社會實踐與應用。</p>
                <p>在安全性方面，UVM將刪除一些功能，如外部IO。在穩定性方面，UVM財務雙重進程確保了異常進程退出以及持續執行的特性。</p>

        </div>



                <h4>Gas機制</h4>
        <div class="ub-text">
                <p>智能合約的執行需要消耗Gas，Gas是執行智能合約的經濟開銷，UB中的Gas使用系統基礎代幣UB。通過Gas機制，增加了通過大量發送合約調用攻擊區塊鏈的代價，並且給區塊鏈生態整體支付執行智能合約的酬勞。</p>
                <p>不同的合約調用根據執行過程中合約字節碼指令數量和指令類型的不同，需要消耗不同數量的Gas數量。</p>
        </div>
            <h4>合約狀態存儲</h4>
        <div class="ub-text">
                <p>每個智能合約有一個相互隔離的狀態存儲區，記錄這個智能合約的狀態數據。合約執行時可以修改或查詢合約的狀態存儲區。合約調用執行時對狀態存儲區的修改隻有執行成功后才能提交到區塊鏈。當發生區塊鏈的塊的回退時，合約的狀態存儲需要根據狀態存儲的變化歷史，逆向回退成過去的狀態。</p>
                <p>智能合約虛擬機的功能組成如下:</p>
                <p class="img-w"><img src="<%= STATIC%>/images/home/ContractStateStorage.svg"></p>
        </div>




                <h4>合約賬本</h4>
                <p>每個合約有一個合約地址，合約地址可以擁有區塊鏈資產。合約地址可以接收轉賬。合約執行時如果發生合約轉賬到其他地址的，出塊時在合約調用交易后緊跟著執行時產生的從合約轉賬到其他地址的交易，稱作結果交易。結果交易的ScriptPubKey鎖定腳本區包含了從合約轉賬到其他地址的腳本。合約地址的資產轉出依靠合約執行和共識，不需要某個私鑰對合約地址資產轉出的行為進行簽名。</p>




                <h3>閃電網絡</h3>
        <div class="ub-text">
                <p>在當前比特幣網絡中，比特幣每10分鐘會進行一次打包出塊。但是目前網絡中存在交易嚴重擁堵現象，用戶發起的交易很難被快速打包出塊，如果用戶想要及時打包自己交易就需要支付較高的礦工手續費； 同理，因為比特幣出塊間隔也使得用戶間無法進行快速轉賬，海量交易更是由於高昂礦工費以及網絡擁堵而無法進行。因此引入閃電網絡，閃電網絡是一套去中心化體系，指在UB主網以外架設一個通道，用戶在這個通道上可以自由進行快速支付，海量交易，並且無需信任對方或者第三方。</p>
                <p>閃電網絡特性如下:</p>
        </div>
                <h4>直接交易</h4>
                <p>在當前的BTC網絡中，用戶發起的交易需要打包到鏈段，並向網絡廣播，以得到每個節點的確認。但是在閃電網絡中，不需要認証過程，交易直接與對方進行。</p>
                <h4>微型交易</h4>
                <p>在BTC網絡中，當用戶進行轉賬時，轉賬金額需要高於最小值。在閃電網絡中，沒有這樣的限制，用戶可以自由地創建交易。</p>
                <h4>可伸縮性</h4>
                <p>在BTC網絡中為了網絡廣播塊交易，因為帶寬原因，每塊中攜帶交易數量是有限制，而在閃電網絡中，則沒有對交易數量限制，用戶可以在某時間段內發送海量數據。</p>
                <h4>實現方式</h4>
        <div class="ub-text">
                <p>參與交易的雙方都需要創建一個2 / 2的多簽名地址作為交易通道，並在通道中存入相關的金額。雙方之間的交易實際上是對多重簽名地址中的金額的共識。最后協商一致后，雙方的交易結束，雙方的最終金額將確定。雙方之間的交易將不會被記錄在鏈上。</p>
                <p class="img-w"><img src="<%= STATIC%>/images/home/Implementationmode.svg"></p>
        </div>
                <h3>技術路線</h3>
                <p>2017年12月12號: 比特幣分叉為UnitedBitcoin (區塊高度: #498,777)，並支持:</p>
                <div class="indentation">
                    <p>I. 區塊擴容至8MB</p>
                    <p>II. 支持隔離見証</p>
                    <p>III. 重放保護</p>
                    <p>IV. 資產分配</p>
                </div>

                <p>2018年1月3號:</p>
                <div class="indentation">
                    <p>V. 完成第二階段的資產分配</p>
                    <p>VI. 基於彩色幣的恆值貨幣</p>
                </div>

                <p>2018年2月28號:</p>
                <div class="indentation">
                    <p>VII. 支持智能合約</p>
                </div>

                <p>2018年4月28號:</p>
                <div class="indentation">
                    <p>VIII. 支持閃電網絡</p>
                </div>
    </div>
</div>