<div class="container">
    <div class="ub-content ub-whitepaper">
    <h1><%- LANG('白書') %></h1>

                <div class="explain">
                    <span>用語</span>
                    <p>UB：UnitedBitcoinの基本通貨の略語、UnitedBitcoinの略語、公式サイト：WWW.UB.COM</p>
                </div>
                <h2><span>パート1：</span>要約</h2>
        <div class="ub-text">
                <p>優れたデジタル通貨の代表者として、ビットコインは分散及不可逆的が一体となったトランザクションを世界にもたらします。ビットコイン価格は、最近、16,000ドルを突破しました。これは、爆発的な技術、豊富な価値、および交換の媒体としてのその価値を反映しています。ビットコインは数多くのアルトコインの出現であっても、この分野では支配的であり、先物取引を通じて伝統的な市場の目で認知度が高まっています。</p>
                <p>ビットコインは、ブロックチェーン技術を適用された最良の例です。 それは技術愛好家によって始められ、採用され、現在世界中に広がっています。</p>
                <p>貨としてのBitcoinの機能、当初Bitcoinの価値は極端に低かった。 その結果、人々は必要なセキュリティ上の注意を払っていませんでした。 技術的にはこれらのBitcoinはどこにもいないが、実際にはBitcoinの循環供給を低下させる。 秘密鍵がなければ、これらのコインはロックアウトされ、再生できません。</p>
                <p>れはデフレとビットコインの価格を上昇させてますが、さらなる発展のためには開発が十分ではありません。高い価格、高い取引コスト、利用可能なビットコインの低量は、発展を制限しています。</p>
                <p>ユナイテッドビットコインの使命は、損失したビットコインと非アクティブな財布の目的を見つけ、共同クレジットとスマート契約の関連を通じて安定した暗号化システムを作り出すことです。</p>
                <p>ユナイテッドビトコンは、PoW、ブロックタイム、供給キャップ、発行モデルなど、ビットコインの圧力テストをされたメカニックスを使用し、より大きな社会の供給に対応するための領域をアップグレードします。 これらの改善点は、ブロック・サイズが8MBに増加し、UVMに基づくスマート・コントラクト・サポートの追加、ライトニングネットワークサポートの追加、セグウィットの実装になります。</p>
        </div>
                <h2><span>パート2：</span>操作モデル</h2>
        <div class="ub-text">
                <p>ユナイテッドビットコインはビットコインネットワークから離れ、新しいネットワークのプロトコルを随時改善します。 すべてのアクティブなビットコインアドレスは、ユナイテッドビットコインのチェーンに対応する残高を受け取り、 非アクティブアドレスの残高は収集され、コミュニティに役立ちます。</p>
                <p>非アクティブ残高の30％は、暗号通貨分野の他の技術的に影響力のあるコミュニティに配布され、ユナイテッドビットコインの影響と採用をさらに拡大します。</p>
                <p>非アクティブ残高の70％は、ゴールドスタンダードと同様に、選択された通貨に固定された安定トークンを発行するための担保として確保されます。 しかし、ミントレシオ（金とドルの間の固定為替レート）が金を過大評価するゴールド・スタンダードとは異なり、ユナイテッドビットコイン・スタンダードは、ペッグで発行されたトークンの価値に対して準備金UBの価値保証を超過してを保つように設計されています。比率は約3：1になるように、すなわち確保された各UBについて、UBの市場価値の33.3％までの安定トークンのみを発行することができる。UBの市場価格が上昇すれば、より安定トークンを発行する能力が増加しますが、新しく安定トークンを発行する必要はありません。 UBの市場価値が落下し、確保分のUBの安定トークンの価値の33.3％分以下に下がった場合、33.3％の安全ラインが満たされるまで、安定トークンが買い戻されることが義務付けられます。これは、連邦準備制度が米ドル流動性とのように相互作用する事と同様です。</p>
                <p>B準備金に裏打ちされた安定トークンは、グローバル貿易や大規模プロジェクトでの使用を目的としており、ユナイテッドビットコインのシステムの使いやすさと人気が大幅に向上します。</p>
                <p>ユナイテッドビットコインは、真のグローバルな共同クレジットの貯蓄組合になる予定です。 PoWに基づく新しいスマート契約機能は、ユナイテッドビットコインに無限の可能性を与えます。</p>

                <p style="margin-top: 30px;" class="img-w"><img src="<%= STATIC%>/images/home/OperatingModel.png"></p>
        </div>
                <h2><span>パート3：</span>技術的解決策</h2>
        <div class="ub-text">
                <p>ビットコインははるかに安全で最も支配的な暗号化通貨ですが、最初の者でもあった為、不完全性もあります</p>
                <p>ユナイテッドビットコインは、PoW、ブロックタイム、供給キャップ、発行モデルなど、Bitcoinの圧力テストされたメカニックスを使用し、より大きな社会的要求に対応するための領域をアップグレードします。</p>
        </div>

                <h3>UTXOデータモデル</h3>
                <p>過去9年間、ビットコインで使用されるUTXOデータモデルは、安定した信頼性の高いデジタル通貨を作成するための非常に信頼性の高い手段であることが証明されています。 通貨の最も重要な機能は決済機能であり、UTXOモデルの決済機能は素晴らしいです。 フォークを介し継承することが最も重要です。</p>
                <h3>SHA256 PoW マイニングモデル</h3>
                <p>ナイテッドビットコインはビットコインのマイニングアルゴリズムを維持しています。 エネルギー消費はPoW（Proof of Work）にとって懸念事項ですが、実績は非常に良好であり、非常に安全であることが実証されています。</p>

                <h3>総量とブロック時間</h3>
                <p>ユナイテッドビットコインはビットコインのフォークであり、そのブロック時間、半分の時間ビットコインの上限（2100万）を継承しています。 これらのプロパティは変更されません。</p>


                <h3>分離監視/セグウィット</h3>
        <div class="ub-text">
                <p>セグウィットは、TX_INとTX_OUTのデジタル署名をトランザクション外に置くデータ構造の改良です。 これは、トランザクションの拡張性の問題を解決し、ブロックサイズの制限の問題を緩和します。 その上、チェーン上のスケーラビリティが向上します。</p>
                <p>セグウィットの実用以前の、チェーンブロックの構造は次のとおりです：</p>
                <p class="img-w"><img src="<%= STATIC%>/images/home/IsolationVerification1.svg"></p>
                <p class="img-w">セグウィットの実用以降、チェーンブロックの構造は次のようになります：</p>
                <p class="img-w"><img src="<%= STATIC%>/images/home/IsolationVerification2.svg"></p>
        </div>
                <h3>オンチェーン　スケーラビリティ</h3>
        <div class="ub-text">
                <p>ビットコインの現在の最大TPSは、1秒あたり約7トランザクションです。 これは、ネットワークのニーズを時間通りに反映していないため、グローバルトランザクション量のニーズに近づける事はできません。</p>

                <p>前に述べたセグウィットの実用は、これの一部を軽減しますが、限られた範囲でしか行いません。 ブロックサイズを大きくすると、大幅に緩和され、大きな成長余地が生まれますが、ハードフォークが必要になります。 したがって、ユナイテッドビットコインはこの機会にブロックサイズを増やしています。</p>
                <p>ブロックサイズとスケーリングを増やすと、ストレージとネットワークの必要が増加しますが、ほとんどのノードを考慮して、マイニングプールや企業によって実行されますが、これはあまり制約がなく、8 MBが適切な値です。</p>

        </div>
                <h3>リプレイ保護</h3>
                <p>ユナイテッドビットコインはビットコインのフォークであるため、あるチェーンのトランザクションを別のチェーンで再生できないようにする必要があります。 ユナイテッドビットコインは、新しいトランザクション署名を導入することによってリプレイ保護を実用しています。 新しいSigHashタイプは、ネットワークの全体的なセキュリティも改善します。</p>

                <h3>資産の有効化</h3>
        <div class="ub-text">
                <p>フォーク後、ビットコインネットワーク上のすべてのアクティブアドレスは、ユナイテッドビットコインネットワーク上で同等の残高を受け取ります。</p>
                <p>非アクティブアドレスは、ブロックの高さ＃494000（2017年11月11日）以降のアクティビティのないアドレスであり、その結果、アセット割り当て手順のフェーズ1でUBTCを自動的に受信しません。</p>
        </div>
                <h3>スマート契約</h3>
        <div class="ub-text">
                <p>ユナイテッドビットコインのスマート契約では、複数の（手動で）事前定義された操作を行うのではなく、カスタマイズされた習性を記述してブロックチェーンで使用できます。スマート契約を使用することで、ユーザーは複雑なトランザクションロジックを簡単に設定し、複雑な金融契約を実行することができます。同時に、ブロックチェーンを変更またはアップグレードすることなく、機能を拡張したり、制限を追加したり、ダイナミックコントロールを追加したりすることができます。</p>
                <p>スマート契約を使用すると、ユーザーはブロックチェーンにカスタマイズされた契約バイトコードを登録し、ユナイテッドビットコインのチェーンでトランザクションを呼び出すことができます。 バイトコードは、ブロックチェインのためにチューリング済み仮想マシンで実行されます。</p>
                <p>開発者は、フレンドリーな構文でプログラミング言語を使用してスマート契約を書くことができます。その後、契約のバイトコードにコンパイルされ、ブロックチェーンに格納されます。</p>
                <p>ユナイテッドビットコインの各ウォレットは、契約トランザクションを使用してブロックチェーンをブロックに同期させ、関連する契約バイトコードを実行して検証する仮想マシンを呼び出します。</p>
        </div>
                <h4>契約取引のタイプ</h4>
        <div class="ub-text">
                <p>トランザクションのScriptPubKeyロックスクリプト領域は、契約関連オペレータを増やして、契約登録を実行し、契約を呼び出し、契約をアップグレードし、又は契約をキャンセルすることができる。 これらのオペレータとのトランザクションは、スマート契約バーチャルマシンが関連する契約バイトコードを実行するようにトリガする。</p>
                <p>登録契約のオペレータは契約のバイトコードを実行して新しいスマート契約としてチェーンに登録し、成功すると新しいスマート契約アドレスが割り当てられます。</p>
                <p>契約を呼び出すオペレータは、チェーン上のスマート契約を呼び出し、対応するバイトコードを実行し、転送または契約ステータスの変更などの特定の実行結果を生成します。</p>
                <p>アップグレード契約のオペレータは、ブロックチェーン上のアップグレードされていない未記入の契約に一意の名前を割り当て、その契約を取消不能としてマークすることができます。 このスマートな契約は、契約名によってユーザーまたは他の契約者によって呼び出されます。</p>
                <p>ログアウト契約のオペレータは、ユーザが作成したブロックチェーン上の未アップグレードおよび未書き込みの契約をキャンセルしたものとしてマークすることができます。 キャンセルされた契約はブロックチェーンから消えず、再度呼び出すことはできません。関連する履歴データのみを照会することができます。</p>
        </div>




                <h4>契約仮想マシン</h4>
        <div class="ub-text">
                <p>契約仮想マシンはチューリング済み仮想マシンを実用し、契約仮想マシンは高性能で拡張性があり、ユナイテッドビットコインのブロックチェーンと対話できるため、スマート契約のバイトコードを強制して結果を返すことができます。</p>
                <p>ユナイテッドビットコインの契約仮想マシンは確定性の特性を持ち、契約のトランザクションがブロックチェーンに記録された後、いつでも同じ結果が得られます。これは確認して元に戻すことができます。</p>
                <p>契約仮想マシンは、アカウントモデルを使用してバリュートランスファーを実行します。これにより、スマート契約の作成において開発者にとってより使いやすいようになり、ユナイテッドビットコイン チェンのUTXOトランザクションモデルがアカウント抽象化レイヤーに渡されます。</p>
                <p>开発者は、スマート契約開発に高度なプログラミング言語を使用して、ユナイテッドビットコインのブロックチェーンに格納される契約バイトコードをコンパイルおよび生成することができます。</p>
                <p>さまざまなオプションを検討した後、ユナイテッドビットコインはLUAの改良に基づいたUVM仮想マシンを採用することを決定し、C＃、Java、EVMに類似したシミュレート言語をサポートし、将来的に他のタイプの仮想マシンが追加され、 豊富な技術コミュニティサポート。 UVMは最も効率的な仮想マシンの1つであり、その基礎となる言語は実用的なアプリケーションで長年にわたって使用されています。</p>
                <p>セキュリティ面では、UVMは外部IOなどの機能を削除します。 安定性の観点から、UVM財務デュアルプロセスは、異常なプロセスや継続的な処刑による出口の特徴を保証します。</p>
        </div>




                <h4>ガスのメカニズム</h4>
        <div class="ub-text">
                <p>スマート契約の実施には、スマート契約を実施する経済的コストであるガスが必要であり、ユナイテッドビットコインのチェーンは、システムベーストークンUBを使用します。 ガスの仕組みを通じ、多数の送金契約を通じてブロックチェーンを攻撃するコストを増加させ、ブロックチェーンエコシステムのためのスマート契約の実施に払う。</p>
                <p>異なる契約コールは、契約バイトコード命令の数および実行プロセスにおける命令のタイプに応じて、異なる量のガスを必要とする。</p>
                <h4>契約状態記憶域</h4>
                <p>各スマート契約には、ハウスキーピングとスマート契約のステータスデータを記録するための独立したストレージ領域があります。 契約が実行されると、契約の記憶域を変更または照会することができます。 記憶域への変更は、実行が成功した場合にのみブロックチェーンに提出することができます。 ブロックチェーンブロックの逆行が発生した場合、ストレージの履歴に応じて、契約の保存を過去の状態に戻す必要があります。</p>
                <p>スマートコントラクト仮想マシンの機能は次のとおりです</p>
                <p class="img-w"><img src="<%= STATIC%>/images/home/ContractStateStorage.svg"></p>

        </div>



                <h4>契約書</h4>
                <p>各スマート契約には契約アドレスがあり、契約アドレスにはブロックチェーン資産があり、移動を受け取ることができます。 契約実行中に、別のアドレスへの契約転送の場合、契約呼び出しの実行後に他のアドレスへの契約転送から生じる取引を結果取引といいます。 結果トランザクションのScriptPubKeyロックスクリプト領域には、契約転送から他のアドレスへのスクリプトが含まれています。 契約アドレスの資産は、契約アドレス資産の動作に署名するための秘密鍵を必要とせずに、契約の実行とコンセンサスから移転されます。</p>




                <h3>ライトニングネットワーク</h3>
        <div class="ub-text">
                <p>在、ビットコインネットワークは10分に1回ブロックしています。これは、2つの当事者の間の最速の取引が10分かかることを意味しますが、このユーザーがネットワークの輻輳のために過剰になる可能性があるより高い料金を支払わなければならないことを保証するためです。しばしばユーザは、最も高い料金を払う事を望まない確認をする為、取引時間が長くなってしまい、取引を放棄を長くまつ可能性も有ります。これにより、Bitcoinネットワーク上での迅速な転送が事実上不可能になります。 セグウィットの実装と上記のより大きなブロックサイズに加えて、これに対する解決策は、ライトニングネットワークと呼ばれるものです。ライトニングネットワークはオフ・チェーン・ペイメント・チャネルであり、当事者は料金の安いものから安価なものに近い即時取引を設定することができます。 これらの安全な、そしてこれらのトランザクションが連鎖する唯一の時間は、当事者が契約を締結するか離れるかということです。</p>
                <p>ライトニングネットワークの特長:</p>
        </div>
                <h4>直接取引</h4>
                <p>在のBTCネットワークでは、ユーザーが開始したトランザクションをチェーンブロックにパッケージ化し、各ノードが確認するためにネットワークにブロードキャストする必要があります。 しかし、ライトニングネットワークでは、認証プロセスは不要であり、取引は相手方と直接行われます。</p>
                <h4>マイクロトランザクション</h4>
                <p>TCネットワークでは、ユーザが転送を行う場合、転送量は最小値よりも大きくする必要があります。 ライトニングネットワークでは、このような制限はなく、ユーザーは自由に取引を作成することができます。</p>
                <h4>スケーラビリティ</h4>
                <p>TCネットワークでは、ブロックトランザクションをブロードキャストするために、各ブロックで運ばれるトランザクションの数は帯域幅の理由で制限されますが、ライトニングネットワークではトランザクションの数に制限はなく、ユーザは巨大な 一定期間内のデータ量。</p>
                <h4>実用モード</h4>
        <div class="ub-text">
                <p>取引に参加する両当事者は、取引チャネルとして2/2マルチサインアドレスを作成し、関連する金額をチャネルに入金する必要があります。両当事者間のトランザクションは、実際には、マルチシグネチャアドレスの量に関する一致である。最終一致後、両当事者間の取引は終了し、両当事者の最終的な金額が決定される。両当事者間の取引はチェーンに記録されません。</p>
                <p class="img-w"><img src="<%= STATIC%>/images/home/Implementationmode.svg"></p>
        </div>
                <h3>テクニカルプラン</h3>
                <p>2017年12月12日：BitcoinのFork of UnitedBitcoin（ブロックの高さ：＃498,777）</p>
                <div class="indentation">
                    <p>I. ブロックサイズを8MBに増加</p>
                    <p>II. セグウィットのサポート</p>
                    <p>III. リプレイ保護</p>
                    <p>IV. 資産配分</p>
                </div>

                <p>2018年1月3日:</p>
                <div class="indentation">
                    <p>V. 資産配分の終了フェーズ2</p>
                    <p>VI. カラー通貨に基づいた固定通貨</p>
                </div>

                <p>2018年2月28日:</p>
                <div class="indentation">
                    <p>VII. スマート契約サポートの開始</p>
                </div>

                <p>2018年4月28日:</p>
                <div class="indentation">
                    <p>VIII. ライトニングネットワークサポートの開始</p>
                </div>
    </div>
</div>
