<div class="ub-banner" style="background: url('/src/images/home/banner3.jpg') no-repeat center center / cover;">
    <h2  class="contact_us"><%- LANG('Contact Us') %></h2>
</div>
<div class="ub-main">
    <div class="ub-container">
        <div class="ub-content">
            <div class="content-text">
                <p><%- LANG('联系我们的说明文字') %></p>
                <!--<h3><%- LANG('Contact Form') %></h3>-->
                <!--<div class="join-form" id="app-join">-->
                    <!--<input placeholder="<%- LANG('Name') %>" type="text" v-model="name">-->
                    <!--<input placeholder="<%- LANG('Email') %>" type="text" v-model.trim="email">-->
                    <!--<input placeholder="<%- LANG('Phone') %>" type="text" v-model="phone">-->
                    <!--<textarea placeholder="<%- LANG('Comments') %>" v-model="comments"></textarea>-->
                    <!--<a @click="doSubmit" role="button" class="button"><%- LANG('Submit') %></a>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
<%-include("app.join.html", {type : 2})%>
