<div class="ub-banner" style="background: url('/src/images/home/banner1.jpg') no-repeat center center / cover;">
    <h2><%- LANG('Team') %></h2>
</div>
<div class="ub-main">
    <div class="ub-container" style="max-width: 1100px;">
        <div class="ub-content" style="padding: 80px 0;">
            <div class="team-box">
                <h2>이사회</h2>
                <div class="item-line one">
                <div class="item">
                    <div class="photo"><img src="<%= STATIC%>/images/team/1-1.jpg"></div>
                    <h3>Jeff Garzik</h3>
                    <h4>Board Member & Chief Scientist</h4>
                    <div class="text">
                    <p>Jeff는 미래학자, 사업가, 소프트웨어 엔지니어이고, 블록체인 기술 선두기업인 Bloq의 설립자이자 CEO이며, Metronome의 수석 디자이너입니다.</p>
                    <p>제프(Jeff)는 코인 센터(Coin Center)의 이사이고 비트퓨리(BitFury), 비트페이(Bitpay), 체인닷컴(Chain.com), 넷키(Netki) 및 웨이페이버 랩스의 (WayPaverL Labs) 자문위원으로써, 테드x,  그리고 State of Digital Money, 스케일링 비트코인에서 비트코인 및 블록체인 기술에 대해 발표한 바가 있으며, 다수의 기법, 정부기관, 중앙 은행 및 헷지 펀드사에서 개별 자문을 제공한적이 있다. 또한 제프는 최근 리눅스 재단(Linux Foundation)의 이사로 임명되어 세계 경제 전문가 네트워크 포럼(World Economic Forum Expert Network)에 정보통신 기술 전문가로 등록 되어있다.</p>
                    <p>제프는 초기 기술을 도입 하는 분야에서 장기적인 활동을 해왔다. 1990년대 초반 CNN.COM런칭 프로젝트에 참여한 이후, 다수 인터넷 스타트업 및 서비스 기업의 성공에 기여해왔으며, 현재는 20년 이상 오픈소스 소프트웨어 엔지니어링 프로젝트를 진행해왔다. 또한 인지도 높은 오픈소스 중 하나인 더 리눅스 커널(the linux kernel)에 참여하는 등의 활동에 힘입어 오픈소스가 가장 활발히 형성되고 있던 시기에 리눅스 시장의 선두주자인 래드 햇으로부터 인정 받아 장기간 근무한 경력이 있다. 제프의 업무 성과는 오늘날 리눅스를 채택한 모든 안드로이드 폰과 데이터센터에서 찾아 볼 수 있다.</p>
                    <p>2010년 7월에 제프는 비트코인에 대한 기사를 접했다. 그는 이전까지 불가능하다고 여겨진 분권화된 디지털 화폐 개념이 비트코인이 가능할 것이라고 얘기하는 것에 잠재력이 있다고 판단, 비트코인의 오픈소스 소프트웨어 개발에 착수하였다. 제프는 초기 비트코인 개발자 중 한 명이며, 세계적인 현상 비트코인 현상의 중심에 서있다.</p>
                </div>
                </div>

                <div class="item">
                    <div class="photo"><img src="<%= STATIC%>/images/team/1-2.jpg"></div>
                    <h3>메튜 로작</h3>
                    <h4>이사회 맴버, 최고 전략 책임자</h4>
                    <div class="text">
                    <p>메튜는 블록체인 기술의 선두기업인 Bloq의 공동 설립자이자 의장이며 지속 가능하도록 엔지니어링 된 가상화폐 메트로놈의 전략가이자 Matthew는 블록체인 기술 선두기업인 Bloq의 공동 설립자이자 의장이며 장기 지속 가능하도록 엔지니어링 된 가상화폐 Metronome의 전략가이자 톨리 캐피탈(Tally Capita)의 설립 파트너이다.  톨리 캐피탈(Tally Capital)은 디지털 자산과 블록체인 기반 기술에 특화된 민간 투자 회사로써Blockstream, BTC Media, Civic, Doc.ai, Factom, Genaro, Orchid, Rivetz, Token Report 및 Qtum 등 30개 이상의 투자 포트폴리오를 관리하고 있다.</p>
                    <p>메튜는 블록체인 투자자, 사업가이자 대변자이고, 블록체인 산업을 대표하는 세계 최대 무역 협회인 Chamber of Digital Commerce의 의장이며, 공공 보건 및 환경 보호에 힘쓰는 비영리재단 BitGive의 이사이기도 하다. 또한 그는 일리노이 주, CME Group, DRW 및 Lightbank간의 민관 협력기구인 Chicago Blockchain Center의 설립자이자, Bitcoin에 관한 최초 보고서 "The Rise and Rise of Bitcoin"의 저술자이기도 하다.</p>
                    <p>메튜(Matthew)는 블록체인 기술에 있어 각광받는 전문가이며 미 의회(U.S. Congress)에서 전문가로 증언하였고 미 연방준비제도(U.S. Federal Reserve)에서 연설한 바 있다. TEDx에서도 강연을 하였으며 CNBC에 출연했을 뿐 아니라 The Wall Street Journal, Bloomberg 및 Financial Times에 인용되기도 했다. 나아가 메튜(Matthew)는 Money20/20, CES 및 American Banker 등 세계적인 핀테크 컨퍼런스의 발표자이다.</p>
                </div>
                </div>

            </div>


                <div class="item-line one">
                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/wilsonchoi2.png"></div>
                        <h3>윌슨 최 , CFA</h3>
                        <h4>이사회 맴버, 최고 운영 책임자(COO)</h4>
                        <p>윌슨은 Beam VC의 공동 설립자 입니다. Beam VC는 Testbird, Aipai, VivaVideo, Boo!, Meike, LumiGame 및 Kadho를 포함한 15개 이상의 회사에 투자하였습니다.</p>
                        <p>그는 그의 커리어를 시작하기 전에, HSBC의 딜러로 일했고, 선물 및 파생 상품을 통해 투기 및 헷지 활동에 대한 은행 및 금융 기관에 일했습니다. </p>
                        <p>윌슨은 차트 기반의 분석가이며 그는 맬버른 대학교에서 상업 학사 학위를 취득했습니다</p>
                    </div>


                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/wouter.jpg"></div>
                        <h3>부터 반 에더 샤트</h3>
                        <h4>이사회 맴버, 상무 이사</h4>
                        <p>부터(Wouter)는 현재 사용자가 만 명 이상인 온라인 멀티 화폐 지갑 QoinPro의 설립자이자 이사이다. 그는 약 20년의 개발, 설계 (architectural) 및 사업 경력이 있고 다수의 IT 기술 자격증을 보유하고 있으며, 지난 수 년간 사이버보안, 블록체인 및 암호화폐에 집중해왔다.</p>
                        </div>

                </div>

                <h2 style="margin-top: 80px;">팀</h2>


                <div class="item-line two">
                <div class="item">
                    <div class="photo"><img src="<%= STATIC%>/images/team/12.jpg"></div>
                    <h3>마로코 페헤이어</h3>
                    <h4>마케팅 디렉터</h4>
                    <p>마로코는(Marco) 주로 금융 서비스 운영 부문에서 약 20년 동안 의 경력이 있으며, 남아프리카의 펀드 관리 아웃소싱 플랫폼 설립에 있어 중추적 역할을 수행하였다. 그는 CAT (Certified Accounting Technician) 자격을 보유하고 있고, 펀드 관리 학위를 우수한 성적으로 취득하였으며, Hong Kong Institute of Directors의 일원이다.</p>
                </div>




                <div class="item">
                    <div class="photo"><img src="<%= STATIC%>/images/team/11.jpg"></div>
                    <h3>데니스 디 종</h3>
                    <h4>프로젝트 매니저</h4>
                    <p>데니스(Dennis De Jong)은 다수의 대규모 복합 프로젝트(그 중 일부는 가상 화폐와 관련됨)의 수석(senior/lead) back-end 개발자로 20년 간 근무한 경력이 있으며 2013년부터 블록체인에 관심을 가지고 연구해왔다.</p>
                </div>
            </div>



                <div class="item-line two">
                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/13.jpg"></div>
                        <h3>Michael Banner</h3>
                        <h4>마케팅 및 커뮤니케이션</h4>
                        <p>Michael은 오랜 경험을 가진 교육자이자 작가입니다. 그는 케임브리지 대학에서 인정하는 교원 자격증을 보유하고 있으며 미디어 연구 및 창작 작문 학사 학위를 보유하고 있습니다. 그는 계발을 목표로 현재 그래픽 디자인에 대한 인증서를 얻고 있습니다.</p>
                        <p>그는 영어 교과서 및 시험 내용을 작성, 교정 및 편집하는 경험이 풍부합니다. 영국에서 자신의 DVD 영화 사업을 운영하면서 홍보 자료 제작, 고객 및 제품 파트너와의 상호 작용, 웹 사이트 관리 경험을 쌓았습니다. 그는 또한 영화 리뷰 사이트<a href="http://www.fareastfilms.com" target="_blank">www.fareastfilms.com</a>의 직원 작가이기도합니다.</p>
                    </div>

                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/14.jpg"></div>
                        <h3>Johan Lombaert</h3>
                        <h4>프로젝트 관리</h4>
                        <p>개발자로서 경력을 시작한 후 소프트웨어 프로젝트 관리자, eSecurity 감사원 및 PMO 컨설턴트로 빠르게 성장했습니다. Johan은 정부, 보험 회사 및 은행에서 20 년이 넘는 경험을 쌓았습니다.　블록 체인 암호화 통화 필드에 들어가는 것은 늦었지만 그가 빨리 따라 잡고 그 안에 가장 관심있 것은 큐리티에 도전도전이다.</p>
                    </div>

                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/15.jpg"></div>
                        <h3>Pavle Vujosevic</h3>
                        <h4>고급 개발자</h4>
                        <p>전체 스택 개발자로서 5 년간의 경험을 가지고 Pavle는 주로 PHP와 Laravel 프레임 워크에 초점을 맞추고 밧쿠돈도 개발을 전문으로하고있었습니다. 또한 jQuery, vue.js, Bootstrap을 사용하여 프런트 개발을 완벽하게 지원 할 수 있습니다.</p>
                        <p>Pavle 카를 스루에 대학 (독일)과 카탈루냐 공과대학교 (스페인)에서 IT 분야의 석사 학위를 취득하고 있습니다. 그는 기업에서 경력을 시작하고 시작 세계를 옮겼습니다. 그는 여러 통화 거래소를 지원하는 자동 획득 플랫폼에 최선을 다하고 있습니다.</p>
                    </div>
                </div>



                <div class="item-line four">
                <div class="item">
	<div class="photo"><img src="<%= STATIC%>/images/team/A13.jpg"></div>
                    <h3>젠타오 장</h3>
                    <h4>개발자</h4>
                    <p>젠타오(Zhentao)는 난징대학교에서 Information and Computing을 전공했으며, 10년 이상의 연구개발 경력과 8년 이상의 엔지니어링 관리 경력이 있다. 즈타(Zhentao)는 미 정보보안회사의 기술 고문으로서 사이버보안 개발에 참여한 바 있다. 이후 국가 통신 사업자 핵심 시스템 설계 및 개발을 맡은 Asiainfo-Linkage에서 senior architect로 근무하였고, 클라우트 컴퓨팅이나 병렬 데이터 처리와 같은 기술통합 영역에서 괄목할 만한 성과를 거두었다.  Zhentao는 현재 팀에서 기술 관리 및 구조 분석을 주로 담당하고 있다.</p>
                </div>



                <div class="item">
<div class="photo"><img src="<%= STATIC%>/images/team/A9.jpg"></div>
                    <h3>지안 탕</h3>
                    <h4>개발자</h4>
                    <p>지안(Jian)은 난징대학교에서 수학을 전공했으며, 10년 이상의 개발 경력이 있습니다. 지안(Jian)은 운영 시스템 커널 엔지니어링 및 네트워크 커뮤니케이션 프로토콜 전문가이고, 컴퓨터 시스템 결함 및 기술 결함을 대상으로 하는 공격과 방어(attack and defense implementations against technical defects) 방면에서 상당한 경력을 보유하고 있다. 지안(Jian)은 팀의 "최고 해커"라고 불리우며 현재 당사 기술 보안 관리를 담당하고 있습니다.</p>
                </div>



                <div class="item">
<div class="photo"><img src="<%= STATIC%>/images/team/A8.jpg"></div>
                    <h3>유 썬</h3>
                    <h4>개발자</h4>
                    <p>유 난징 심사 대학을 졸업하고 컴퓨터 과학 및 기술 학위를 취득했으며 Oracle Database Certified Professional 자격증을 보유하고 있다. 그는 Nanjing Ouben Software Technology에서 개발팀(구성원 10명)을 이끌었고 China Aerospace Hospital and Chery Automobile 등 주요 프로젝트를 담당했다. 블록체인 산업의 전문가 요유(Yu)는 컨센서스 메커니즘, 네트워크 데이터 전송 및 암호화 알고리즘 방면에서 상당한 경력을 쌓았다. 그는 본 프로젝트의 핵심 엔지니어로서 blockchain bottom agreement 설계 및 개발을 담당하고 있으며, 현재 다수 특허권을 보유하고 있다.</p>
                </div>


                <div class="item">
<div class="photo"><img src="<%= STATIC%>/images/team/A14.jpg"></div>
                    <h3>웨이 저우</h3>
                    <h4>개발자</h4>
                    <p>웨이(Wei)는 난징대학교에서 software engineering을 전공했고, IT스타트업에서 5년 간 경력을 쌓았으며 다수 프로그래밍 언어에 능통하다. 웨이(Wei)는 full stack 개발자로써 컴파일러 및 가상 머신 커널 개발에 주력하고 있다.</p>
                </div>
                </div>






                <div class="item-line four">
                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A10.jpg"></div>
                        <h3>쳉 웽</h3>
                        <h4>개발자</h4>
                        <p>쳉(Qiang) 절강대학교를 졸업했고 computer science 석사학위를 보유하고 있다. 또한 그는 5년의 소프트웨어 개발 경력이 있으며 블록체인 소프트웨어 및 가상화폐 개발에 주력하고 있다.</p>
                    </div>

                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A3.jpg"></div>
                        <h3>장콰이 하오</h3>
                        <h4>개발자</h4>
                        <p>장콰이(Zhongkai)는 Ocean University를 졸업하였고 8년의 소프트웨어 개발 경력 및 화웨이(Huawei) switch core R&D 근무 경력이 있다.</p>
                    </div>
                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A12.jpg"></div>
                        <h3>췬 장</h3>
                        <h4>개발자</h4>
                        <p>췬(Qin)은 Harbin Institute of Technology을 졸업하였고, 주로 블록체인 및 가상화폐 분야에서 7년의 소프트웨어 개발 경력이 있다.</p>
                    </div>
                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A4.jpg"></div>
                        <h3>하이 리</h3>
                        <h4>개발자</h4>
                        <p>하이(Hai)는 Huaihai Institute of Technology를 졸업하였고 5년의 소프트웨어 개발 경력이 있으며 리버스 엔지니어링(reverse engineering) 및 디컴파일링에 주력하고 있다.</p>
                    </div>
                </div>




                <div class="item-line four">
                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A6.jpg"></div>
                        <h3>리안 린</h3>
                        <h4>개발자</h4>
                        <p>리안(Lian)은 난징대학교를 졸업하였고 주로 블록체인 및 가상화폐 분야에서 4년간의 소프트웨어 개발 경력이 있다.</p>
                    </div>

                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A7.jpg"></div>
                        <h3>야쿠이 마</h3>
                        <h4>개발자</h4>
                        <p>야쿠이(Yakui)는 길림대학교를 졸업하였고 5년의 소프트웨어 개발 경력이 있으며 주로 e-commerce 및 결제처리시스템 분야에서 Java back-end개발에 주력하고 있다.</p>
                    </div>
                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A2.jpg"></div>
                        <h3>제잉샨 페이</h3>
                        <h4>개발자</h4>
                        <p>10년 이상의 경력을 보유한 제잉샨(Zhuangxuan)은 이전에 소셜 게임 스타트업의 CTO로 근무한바 있고, 리버스 엔지니어링(reverse engineering) 및 가상 머신 분야의 전문가이다.</p>
                    </div>
                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A5.jpg"></div>
                        <h3>샤오루 리</h3>
                        <h4>개발자</h4>
                        <p>샤오루 (Xiaolu)는 8년 이상의 소프트웨어 개발 경력이 있으며, 2015년부터 해당 산업에서 블록체인 개발 및 가상화폐에 주력하고 있다.</p>
                    </div>
                </div>






            </div>

        </div>
    </div>
</div>
