<div class="ub-banner" style="background: url('/src/images/home/banner1.jpg') no-repeat center center / cover;">
    <h2><%- LANG('Team') %></h2>
</div>
<div class="ub-main">
    <div class="ub-container" style="max-width: 1100px;">
        <div class="ub-content" style="padding: 80px 0;">
            <div class="team-box">
                <h2>基金董事會</h2>
                <div class="item-line one">
                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/1-1.jpg"></div>
                        <h3>Jeff Garzik</h3>
                        <h4>董事會成員&首席科學家</h4>
                        <div class="text">
                            <p>Jeff是一個未來主義者，企業家和軟件工程師，他是領先的區塊鏈科技公司Bloq的聯合創始人和首席執行官以及Metronome的首席設計師。</p>
                            <p>Jeff在Coin Center擔任董事，並擔任BitFury、BitPay、Chain.com、Netki和WayPaver Labs的顧問。他曾在TEDx、State of Digital Money、Scaling Bitcoin上發表關於比特幣和區塊鏈技術的演講，也為私人企業、政府、中央銀行和對沖基金介紹比特幣和區塊鏈技術。杰夫最近還被任命為Linux基金董事會成員，並擔任世界經濟論壇專家網絡的信息技術專家。</p>
                            <p>Jeff在早期技術採用方面有很多年的經驗。上世紀90年代初，繼在互聯網上幫助開創了CNN.com之后，他為很多成功的互聯網創業公司和服務提供商工作，致力於開發源代碼軟件工程項目超過二十年。他參與了最知名的開源項目之一--Linux內核的開發，在Linux開源成型階段，他接手了Linux市場領先者Red Hat。如今，在運行Linux的每個Android手機和數據中心都可以看到Jeff的工作成果。</p>
                            <p>2010年7月，Jeff偶然看到了一篇描述比特幣的文章，認識到去中心化的電子貨幣的潛力，而這是他以前認為不可能的概念。他開始為比特幣開源軟件做出奉獻，成為第一代比特幣開發者之一。Jeff發現自己正處於比特幣全球革命性技術的核心。</p>
                        </div>
                    </div>



                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/1-2.jpg"></div>
                        <h3>Matthew Roszak</h3>
                        <h4>董事會成員&首席策略官</h4>
                        <div class="text">
                            <p>Matthew是領先的區塊鏈技術公司Bloq的聯合創始人兼董事長以及數字貨幣Metronome的夢想家。Matthew也是Tally Capital的創始合伙人，Tally Capital是一家專注於數字資產和區塊鏈技術的私人投資公司，已經投資了包括Blockstream、BTC Media、Civic、Doc.ai、Factom、Genaro、Orchid、Rivetz、Token Report和Qtum在內的30多家公司或機構。</p>
                            <p>Matthew是區塊鏈投資者，企業家和倡導者。他擔任了全球最大的區塊鏈行業協會Chamber of Digital Commerce的主席以及致力於公共健康和環境的非營利性基金會BitGive的董事。他還是芝加哥區塊鏈中心的創始人，芝加哥區塊鏈中心是與伊利諾斯州、CME集團、DRW和Lightbank等公立及私營部門共同合作開展的。Matthew是業界首部紀錄片《比特幣的崛起》的制片人。</p>
                            <p>Matthew是一個區塊鏈技術的思想領袖，曾在美國國會擔任區塊鏈專家，並在美聯儲發表演講。他曾在TEDx發表演講，演過CNBC的特色節目，並多次被《華爾街日報》、《彭博社》和《金融時報》提及。此外，Matthew還曾在Money20/20、CES和美國銀行家等全球金融科技大會上發表過演講。</p>
                        </div>
                    </div>

                </div>


                <div class="item-line one">
                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/wilsonchoi2.png"></div>
                        <h3>Wilson Choi, CFA</h3>
                        <h4>董事會成員&首席運營官</h4>
                        <p>Wilson是光照資本的聯合創始人，一家投資超過15家公司TMT風險投資基金，當中包括Testbird, 愛拍, 小影, Boo!, 美刻, LumiGame and Kadho. 在創業之前，Wilson在匯豐銀行任職衍生產品交易員，協助銀行及金融機構通過衍生產品進行避險和投機交易。Wilson是特許金融分析師，畢業於澳洲墨爾本大學經濟暨商學院商科本科。</p>


                    </div>


                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/wouter.jpg"></div>
                        <h3>Wouter van der Schagt</h3>
                        <h4>董事會成員&執行官</h4>
                        <p>Wouter是在線多幣種錢包QoinPro的創始人和總監，目前擁有超過100萬的用戶。他擁有大概20年的IT開發、架構和創業經驗，並獲得多項IT技術的認証。過去幾年，他一直專注於網絡安全、區塊鏈和加密貨幣。</p>
                    </div>

                </div>

                <h2 style="margin-top: 80px;">團隊</h2>


                <div class="item-line two">
                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/12.jpg"></div>
                        <h3>Marco Ferreira</h3>
                        <h4>市場總監</h4>
                        <p>Marco在金融服務營銷業務方面擁有約20年的行業經驗，其中包括在建立南非基金管理外包平台扮演關鍵角色。他擁有注冊會計師資格，榮獲基金管理專業文憑，是香港董事學會會員。</p>
                    </div>

                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/11.jpg"></div>
                        <h3>Dennis De Jong</h3>
                        <h4>項目經理</h4>
                        <p>Dennis De Jong擁有20年的工作經驗，曾經擔任多個大型復雜項目的高級/主管后端開發人員，其中包括一些加密貨幣項目。自2013年起，他一直對區塊鏈感興趣並參與其中。</p>
                    </div>
                </div>

                <div class="item-line two">
                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/13.jpg"></div>
                        <h3>Michael Banner</h3>
                        <h4>市場營銷與傳播</h4>
                        <p>Michael是壹位經驗豐富的教育者及寫作者。他擁有劍橋大學認證的教學證書並取得傳媒與創意寫作學士學位。同時他也因個人興趣正在進修平面設計。</p>
                        <p>Michael擁有豐富的寫作、校訂和編輯英文課本和考試材料的經驗。他曾在英國運營自己的DVD電影公司，並涉獵創作營銷材料，與客戶和商業夥伴互動和維護網站。他也是電影評論網站<a href="http://www.fareastfilms.com" target="_blank">www.fareastfilms.com</a>的簽約作者。</p>
                    </div>

                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/14.jpg"></div>
                        <h3>Johan Lombaert</h3>
                        <h4>項目經理</h4>
                        <p>Johan以開發人員身份初入職場，並迅速成為軟件項目經理、電子安全審計員及項目管理辦公室顧問。Johan曾有超過20年為政府，保險公司和銀行工作的經驗。他隨後進入區塊鏈和加密貨幣領域追趕行業趨勢，並對其中的安全性問題頗有興趣。</p>
                    </div>

                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/15.jpg"></div>
                        <h3>Pavle Vujosevic</h3>
                        <h4>高級開發人員</h4>
                        <p>Pavle擁有5年全棧開發經驗，並專註於後端PHP和Laravel框架開發。同時他可以熟練運用jQuery、vue.js和Bootstrap進行前端開發。</p>
                        <p>Pavle於德國卡爾斯魯厄大學和西班牙加泰羅尼亞理工大學取得計算機碩士學位。他起初為大型企業工作，之後加入創業公司。他致力於開發支持多種貨幣和交易所的自動化交易平臺。</p>
                    </div>
                </div>



                <div class="item-line four">
                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A13.jpg"></div>
                        <h3>張震濤</h3>
                        <h4>開發人員</h4>
                        <p>畢業於南京大學信息與計算科學專業，張震濤擁有十年以上研發經驗和超過8年以上研發團隊管理經驗。他曾任職美資信息安全企業技術顧問，主要從事安全技術方案設計研發實施，帶領團隊獲得了多次技術上的突破，填補信息安全領域的空白。后任職亞信聯創高級架構師，負責國家電信運營商核心系統的設計和研發，同時在雲計算和並行處理數據等技術遷移到傳統的小型機為主的應用環境實現突破。目前主要負責團隊技術管理和架構分析。</p>
                    </div>



                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A9.jpg"></div>
                        <h3>唐劍</h3>
                        <h4>開發人員</h4>
                        <p>唐劍畢業於南京大學信息與計算科學專業，擁有十年以上研發經驗，精通操作系統內核與網絡通訊協議，尤其是在計算機系統內核原理方面。在歷任公司中，他都擔任首席顧問和專家角色，擅長計算機系統漏洞分析，擅長技術漏洞的攻防實施，是團隊的超級黑客。目前負責公司的技術安全管理。</p>
                    </div>



                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A8.jpg"></div>
                        <h3>孫瑜</h3>
                        <h4>開發人員</h4>
                        <p>孫瑜擁有南京審計大學計算機科學與技術專業學位，獲得Oracle數據庫認証專家（OCP）。他曾帶領南京歐奔軟件技術有限公司10人開發團隊，負責中國航天醫院十五所、兵器二零二所、奇瑞等公司的核心項目。作為區塊鏈行業的老兵，擅長區塊鏈應用軟件架構，在區塊鏈共識機制、區塊鏈網絡數據傳輸、加密算法方面有非常豐富經驗。目前作為公司的核心工程師負責區塊鏈底層協議的設計與開發，擁有多項國內專利。</p>
                    </div>


                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A14.jpg"></div>
                        <h3>周維</h3>
                        <h4>開發人員</h4>
                        <p>周維畢業於南京大學軟件工程專業，擁有5年的IT創業公司經驗，精通Python、Java、C、C++、JavaScript等多門編程語言，是全棧工程師，擅長編譯原理與虛擬機內核。</p>
                    </div>
                </div>

                <div class="item-line four">
                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A10.jpg"></div>
                        <h3>翁強</h3>
                        <h4>開發人員</h4>
                        <p>翁強畢業於浙江大學，擁有計算機與科學專業碩士學位，擁有5年軟件開發經驗，專注於區塊鏈軟件開發和加密貨幣的發展。</p>
                    </div>

                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A3.jpg"></div>
                        <h3>浩仲凱</h3>
                        <h4>開發人員</h4>
                        <p>浩仲凱畢業於中國海洋大學，擁有8年軟件開發經驗，曾任職於華為交換機核心研發部門，在軟件開發方面有非常豐富經驗。</p>
                    </div>
                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A12.jpg"></div>
                        <h3>張琴</h3>
                        <h4>開發人員</h4>
                        <p>張琴畢業於哈爾濱工業大學，擁有7年軟件開發經驗，精通Java、C、C++、JavaScript等多門編程語言，擅長軟件開發和架構分析。</p>
                    </div>
                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A4.jpg"></div>
                        <h3>李海</h3>
                        <h4>開發人員</h4>
                        <p>李海畢業於淮海工學院，擁有5年的技術開發工作經驗，擅長逆向工程和反編譯，對區塊鏈技術和加密數字貨幣頗有研究。</p>
                    </div>
                </div>


                <div class="item-line four">
                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A6.jpg"></div>
                        <h3>林煉</h3>
                        <h4>開發人員</h4>
                        <p>林煉畢業於南京理工大學，擁有4年軟件開發經驗，擅長軟件開發、專業的客戶維護和開發經驗。</p>
                    </div>

                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A7.jpg"></div>
                        <h3>馬亞魁</h3>
                        <h4>開發人員</h4>
                        <p>馬亞魁畢業於吉林大學，擁有5年軟件開發經驗，擅長java后端開發，尤其是高並發支付和電商平台系統。  </p>
                    </div>
                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A2.jpg"></div>
                        <h3>費庄軒</h3>
                        <h4>開發人員</h4>
                        <p>費庄軒擁有10年以上的工作經驗，曾擔任創業公司CTO，帶領團隊完成游戲的逆向破解，擅長逆向工程和虛擬機。</p>
                    </div>
                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A5.jpg"></div>
                        <h3>李曉璐</h3>
                        <h4>開發人員</h4>
                        <p>李曉璐畢業於西安郵電大學，擁有8年軟件開發經驗，精通Python、Java、C、C++、JavaScript等多門編程語言，專注於區塊鏈軟件開發和加密貨幣的發展。</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

