<div class="ub-banner" style="background: url('/src/images/home/banner1.jpg') no-repeat center center / cover;">
    <h2><%- LANG('Team') %></h2>
</div>
<div class="ub-main">
    <div class="ub-container" style="max-width: 1100px;">
        <div class="ub-content" style="padding: 80px 0;">
            <div class="team-box">
                <h2>FOUNDATION BOARD</h2>
                <div class="item-line one">
                <div class="item">
                    <div class="photo"><img src="<%= STATIC%>/images/team/1-1.jpg"></div>
                    <h3>Jeff Garzik</h3>
                    <h4>Board Member & Chief Scientist</h4>
                    <div class="text">
                    <p>A futurist, entrepreneur and software engineer, Jeff is co-founder and CEO of Bloq, a leading blockchain technology company. Jeff is also the chief designer of Metronome.</p>
                    <p>Jeff serves on the board of Coin Center, and the advisory boards of BitFury, BitPay, Chain.com, Netki and WayPaver Labs. He has delivered presentations on bitcoin and blockchain technology at TEDx, State of Digital Money, and Scaling Bitcoin, as well as private briefings to corporations, governments, central banks and hedge funds. Jeff was also recently appointed to the Linux Foundation board of directors, as well as the World Economic Forum Expert Network as an expert in information technology.</p>
                    <p>Jeff has a long history of early technology adoption. After helping to launch CNN.com on the Internet in the early 1990s, he worked for many successful Internet startups and service providers. Concurrently, he worked continuously on open source software engineering projects for over two decades. His involvement in one of the best known open source projects — the Linux kernel — led to an extended tenure at Linux market leader Red Hat during open source's most formative years. Jeff's work is found in every Android phone and data center running Linux today.</p>
                    <p>In July 2010, Jeff came across a post describing bitcoin. Recognizing the potential of a concept previously thought impossible — decentralized digital money — he began contributing to Bitcoin’s open source software as a developer. He was one of the first Bitcoin developers. Jeff found himself at the heart of the global, revolutionary, technology phenomenon known as bitcoin.</p>
                </div>
                </div>



                <div class="item">
                    <div class="photo"><img src="<%= STATIC%>/images/team/1-2.jpg"></div>
                    <h3>Matthew Roszak</h3>
                    <h4>Board Member & Chief Strategy Officer</h4>
                    <div class="text">
                    <p>Matthew is co-founder and chairman of Bloq, a leading blockchain technology company and a visionary of Metronome – a cryptocurrency engineered for longevity. Matthew is also founding partner of Tally Capital, a private investment firm focused on digital assets and blockchain-enabled technology with a portfolio of over 30 investments, including Blockstream, BTC Media, Civic, Doc.ai, Factom, Genaro, Orchid, Rivetz, Token Report and Qtum.</p>
                    <p>Matthew is a blockchain investor, entrepreneur and advocate. Matthew serves as chairman of the Chamber of Digital Commerce, the world’s largest trade association representing the blockchain industry. In addition, Matthew serves on the board of BitGive, a non-profit foundation targeting public health and the environment. He is also the founder of the Chicago Blockchain Center, a public-private partnership with the State of Illinois, CME Group, DRW and Lightbank. Matthew was a producer of the industry’s first ever documentary, The Rise and Rise of Bitcoin.</p>
                    <p>Matthew is a sought after thought leader on blockchain technology, and has testified as an expert before U.S. Congress and spoken at the U.S. Federal Reserve. He has presented at TEDx, been featured on CNBC and quoted in The Wall Street Journal, Bloomberg and Financial Times. In addition, Matthew has been a speaker at FinTech conferences worldwide, including Money20/20, CES and American Banker.</p>
                </div>
                </div>

            </div>


                <div class="item-line one">
                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/wilsonchoi2.png"></div>
                        <h3>Wilson Choi, CFA</h3>
                        <h4>Board Member & Chief Operating Officer</h4>
                        <p>Wilson is the co-founder of Beam VC, a TMT venture capital fund that has invested in over 15 companies including Testbird, Aipai, VivaVideo, Boo!, Meike, LumiGame and Kadho.</p>
                        <p>Before starting his own business, Wilson worked as a derivative dealer at HSBC, helping banks and financial institutions to arbitrage and hedge risks with futures and various derivative products.</p>
                        <p>Wilson is a Chartered Financial Analyst. He gained his Bachelor of Commerce degree from University of Melbourne.</p>
                    </div>


                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/wouter.jpg"></div>
                        <h3>Wouter van der Schagt</h3>
                        <h4>Board Member & Executive Director</h4>
                        <p>Wouter is founder and director of the online multi-currency wallet QoinPro, which currently supports over 1 million users. He has about 20 years of development, architectural and entrepreneurial experience, and is certified in multiple IT technologies. He has focused the last several years on cybersecurity, blockchain and cryptocurrencies.</p>
                        </div>

                </div>

                <h2 style="margin-top: 80px;">TEAM</h2>


                <div class="item-line two">
                <div class="item">
                    <div class="photo"><img src="<%= STATIC%>/images/team/12.jpg"></div>
                    <h3>Marco Ferreira</h3>
                    <h4>Marketing Director</h4>
                    <p>Marco has about twenty years industry experience primarily in financial services operations which included a pivotal role in establishing a fund administration outsourcing platform in South Africa. He qualified as a Certified Accounting Technician, completed his diploma in fund administration with distinction, and is a member of the Hong Kong Institute of Directors.</p>
                </div>




                <div class="item">
                    <div class="photo"><img src="<%= STATIC%>/images/team/11.jpg"></div>
                    <h3>Dennis De Jong</h3>
                    <h4>Project Manager</h4>
                    <p>Dennis De Jong has 20 years of work experience and has been the senior / lead back-end developer for several large and complex projects, of which some were related to crypto-currencies. He has been interested and involved with the blockchain since 2013.</p>
                </div>
            </div>




                <div class="item-line two">
                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/13.jpg"></div>
                        <h3>Michael Banner</h3>
                        <h4>Marketing and Communication</h4>
                        <p>Michael is an educator and writer with many years of experience. He has a teaching certificate accredited by the University of Cambridge and a bachelors degree in Media Studies and Creative Writing. In the interest of self development, he is currently studying for a certificate in graphic design.</p>
                        <p>He has a great deal of experience of creating, proofreading and editing English text books and exam content. He has experience of creating promotional material, interacting with customers and product partners, as well as maintaining a website, from his time running his own DVD film business in the UK. He has also been a staff writer for the film review site <a href="http://www.fareastfilms.com" target="_blank">www.fareastfilms.com</a>. </p>
                    </div>

                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/14.jpg"></div>
                        <h3>Johan Lombaert</h3>
                        <h4>Project Management</h4>
                        <p>Started his career as a developer, and then quickly became a Software Project Manager, eSecurity auditor, and PMO consultant. Johan has now over 20 years’ experience working for governments, insurance companies and banks. Late to the fields of blockchain and cryptocurrencies he's quickly catching up, and mostly interested in its security challenges.</p>
                    </div>

                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/15.jpg"></div>
                        <h3>Pavle Vujosevic</h3>
                        <h4>Senior Developer</h4>
                        <p>During 5 years of experience as a full stack developer Pavle specialized in back-end development focusing mainly on PHP and Laravel framework. He can also fully support front-end development using jQuery, vue.js and Bootstrap.</p>
                        <p>Pavel has obtained his MS degree in IT area at University of Karlsruhe (Germany) and Universtat Politecnica de Catalunya (Spain). He started his career from corporates and then moved to start-up world. He has been working on automated trading platforms that support multiple currencies and exchanges.</p>
                    </div>
                </div>





                <div class="item-line four">
                <div class="item">
	<div class="photo"><img src="<%= STATIC%>/images/team/A13.jpg"></div>
                    <h3>Zhentao Zhang</h3>
                    <h4>Developer</h4>
                    <p>Zhentao graduated from Nanjing University with a major in Information and Computing. He has more than ten years of research and development experience and more than eight years of engineering management experience. As the technology consultant for a US-based information security company, he was engaged in cybersecurity development. Afterwards he worked as the senior architect in Asiainfo-Linkage, responsible for design and development of the national telecom operators’ core system. Concurrently he achieved breakthroughs in migration of technologies, such as cloud computing and parallel data processing. Zhentao is currently mainly responsible for technology management and architecture analysis of the team.</p>
                </div>
                <div class="item">
<div class="photo"><img src="<%= STATIC%>/images/team/A9.jpg"></div>
                    <h3>Jian Tang</h3>
                    <h4>Developer</h4>
                    <p>Jian graduated from Nanjing University with major in Mathematics. He has more than ten years of development experience. Jian is proficient in operating system kernel engineering and network communication protocols. Jian has significant experience in computer system defects, and attack and defense implementations against technical defects. Jian is the team's “super hacker” and currently responsible for the company's technical security management.</p>
                </div>



                <div class="item">
<div class="photo"><img src="<%= STATIC%>/images/team/A8.jpg"></div>
                    <h3>Yu Sun</h3>
                    <h4>Developer</h4>
                    <p>Yu graduated from Nanjing Audit University with a degree in Computer Science and Technology, and is also an Oracle Database Certified Professional. He led the 10-member development team of Nanjing Ouben Software Technology and was responsible for the core projects including China Aerospace Hospital and Chery Automobile. As a veteran of the blockchain industry, Yu has extensive experience in consensus mechanisms, network data transmission and encryption algorithms. He is the project’s core engineer and responsible for the design and development of the blockchain bottom agreement. Yu also holds a number of patents.</p>
                </div>


                <div class="item">
<div class="photo"><img src="<%= STATIC%>/images/team/A14.jpg"></div>
                    <h3>Wei Zhou</h3>
                    <h4>Developer</h4>
                    <p>Wei graduated from Nanjing University with a degree in software engineering. He has five years of experience in IT startups, and excels in multiple programming languages. Wei is a full stack of developer and focuses on compilers and virtual machine kernel development.</p>
                </div>
                </div>






                <div class="item-line four">
                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A10.jpg"></div>
                        <h3>Qiang Weng</h3>
                        <h4>Developer</h4>
                        <p>Qiang graduated from Zhejiang University. He is a master’s degree in computer science, with five years of software development experience. Qiang focuses on blockchain software and cryptocurrency development.</p>
                    </div>

                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A3.jpg"></div>
                        <h3>Zhongkai Hao</h3>
                        <h4>Developer</h4>
                        <p>Zhongkai graduated from Ocean University. He has eight years of experience in software development and has previously worked in switch core R&D at Huawei.</p>
                    </div>
                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A12.jpg"></div>
                        <h3>Qin Zhang</h3>
                        <h4>Developer</h4>
                        <p>Qin graduated from Harbin Institute of Technology. She has seven years of experience in software development, with a focus on blockchain and cryptocurrencies.</p>
                    </div>
                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A4.jpg"></div>
                        <h3>Hai Li</h3>
                        <h4>Developer</h4>
                        <p>Hai graduated from Huaihai Institute of Technology. He has five years of software development experience, and focuses on reverse engineering and decompiling.</p>
                    </div>
                </div>




                <div class="item-line four">
                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A6.jpg"></div>
                        <h3>Lian Lin</h3>
                        <h4>Developer</h4>
                        <p>Lian graduated from Nanjing University. He has four years of software development experience, with a focus on blockchain and cryptocurrencies.</p>
                    </div>

                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A7.jpg"></div>
                        <h3>Yakui Ma</h3>
                        <h4>Developer</h4>
                        <p>Yakui graduated from Jilin University. He has five years of software development experience, and focuses on Java back-end development, primarily in e-commerce and payment processing systems.</p>
                    </div>
                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A2.jpg"></div>
                        <h3>Zhuangxuan Fei</h3>
                        <h4>Developer</h4>
                        <p>Zhuangxuan has over ten years of work experience. Previously he was the CTO of a social gaming startup. Zhuangxuan excels at reverse engineering and virtual machines.</p>
                    </div>
                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A5.jpg"></div>
                        <h3>Xiaolu Li</h3>
                        <h4>Developer</h4>
                        <p>Xiaolu has over eight years of experience in software development. He primarily focuses on blockchain development and cryptocurrencies, and has been involved in the industry since 2015.</p>
                    </div>
                </div>






            </div>

        </div>
    </div>
</div>
