<div class="ub-banner" style="background: url('/src/images/home/banner1.jpg') no-repeat center center / cover;">
    <h2><%- LANG('Team') %></h2>
</div>
<div class="ub-main">
    <div class="ub-container" style="max-width: 1100px;">
        <div class="ub-content" style="padding: 80px 0;">
            <div class="team-box">
                <h2>役員</h2>
                <div class="item-line one">
                <div class="item">
                    <div class="photo"><img src="<%= STATIC%>/images/team/1-1.jpg"></div>
                    <h3>ジェフ　ガルジク</h3>
                    <h4>役員、 チーフサイエンティスト</h4>
                    <div class="text">
                    <p>フューチャリスト、起業家、及ソフトウェアエンジニアであるジェフは、ブロックチェーンテクノロジーのリーディングカンパニーであるBloqの共同創設者兼最高経営責任者です。 ジェフはメトロノームのチーフデザイナーでもあります。</p>
                    <p>ジェフは、NPOのCoin Centerの取締役員を務めており、BitFury、BitPay、Chain.com、Netki、WayPaver Labsの相談役顧問を務めています。 また、TEDx、Digital Money、Scaling Bitcoinでのビットコインとブロックチェーンテクノロジに関するプレゼンテーション、企業、政府、中央銀行、ヘッジファンドへのプライベートブリーフィングを行いました。 ジェフは最近、リナックス ファンデーションの取締役会に加え、情報技術の専門家としてワールドエコノミックフォーラムのエキスパートネットワークにも任命されました。</p>
                    <p>ジェフは技術面に長い経験を持っており、1990年代にはCNN.comの立ち上げをし、その後多くのインターネット関係のスタートアップ及サービスプロバイダーにて就職されました。また、ジェフは長年オープンソースソフトウェアエンジニアリングプロジェクトに携わり、最も有名なプロジェクトで有るリナックスカーネルに彼が関与した事により、形成的な年の間にLinuxマーケット・リーダーRed Hatにて長期在任に至りました。</p>
                    <p>2010年7月、ジェフはビットコインに関する記事を見つけました。 以前は不可能と考えられていたコンセプト「潜在的なデジタルマネー」の可能性を認識し、Bitcoinの開発者としてオープンソースソフトウェアに貢献し始めました。ジェフは初期のBitcoin開発者のうちの一人であり、ビットコインと呼ばれる世界的な画期的な技術現象の中に自分自身の存在を設けました。</p>
                </div>
                </div>


                <div class="item">
                    <div class="photo"><img src="<%= STATIC%>/images/team/1-2.jpg"></div>
                    <h3>マシュー　ロザク</h3>
                    <h4>役員、最高戦略責任者</h4>
                    <div class="text">
                    <p>マシューは、ブロックチェーンテクノロジー企業である、長期使用のために設計された暗号化技術の先見性を持つBloqの共同創設者兼会長であります。 マシューは、Blockstream、BTC Media、Civic、Doc.ai、Factom、Genaro、Orchid、Rivetz, Token Report, 及 Qtumなどの30を超える投資ポートフォリオを持つデジタルアセットとブロック チェーン対応の技術を扱う民間投資会社であるTally Capitalの創設パートナーです。</p>
                    <p>また、マシューは、ブロックチェーンの投資家、起業家と弁護士です。 Matthewはブロックチェーン業界を代表する世界最大のであるデジタル商工会議所の議長を務めています。 さらに、マシューは公衆衛生と環境を対象とした非営利団体BitGiveの理事会を勤めています。 また、イリノイ州、CMEグループ、DRW、ライトバンクとの官民パートナーシップであるシカゴブロックチェーンセンターの創設者でもあります。 マシューは業界初のドキュメンタリー「The Rise and Rise of Bitcon」のプロデューサーでした。</p>
                    <p>さらにマシューは、ブロックチェーン技術に関する思惑的なリーダーであり、米国議会にて専門家として証明をされ、米連邦準備理事会（FRB）で話しています。 彼はTEDxで発表し、CNBCに掲載され、ウォールストリート・ジャーナル、ブルームバーグ、ファイナンシャルタイムズで引用されています。 さらに、マシューは、Money20 / 20、CES、American Bankerを含むフィンテックカンファレンスのスピーカーを務めています。</p>
                </div>
                </div>

            </div>


                <div class="item-line one">
                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/wilsonchoi2.png"></div>
                        <h3>ウィルソン チョイ、CFA</h3>
                        <h4>役員、最高執行責任者</h4>
                        <p>ウィルソンは、Testbird、Aipai、VivaVideo、Boo !, Meike、LumiGame、Kadhoなど15社以上に投資しているTMTベンチャーキャピタルファンドのBeam VCの共同設立者です。 </p>
                        <p>彼自身のビジネスを開始する前に、HSBCのディーラーとして働き、先物やデリバティブを通じて投機的およびヘッジ活動を銀行や金融機関に支援しました。</p>
                        <p>ウィルソンはチャータード・ファイナンシャル・アナリストであり、メルボルン大学から商業学士号を取得しています。</p>
                    </div>


                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/wouter.jpg"></div>
                        <h3>ヲゥター　ヴァン　デー　シャッ</h3>
                        <h4>役員、取締役</h4>
                        <p>Wouterは100万人を超えるユーザーをサポートするオンラインマルチ通貨財布QoinProの創設者兼ディレクターであり、 彼は複数のIT技術の認定を受け約20年間の開発、構築、起業家経験を持っています。 そして、彼はここ数年をサイバーセキュリティ、ブロックチェーン、暗号化通信に集中してきました。</p>
                        </div>

                </div>

                <h2 style="margin-top: 80px;">チーム</h2>


                <div class="item-line two">
                <div class="item">
                    <div class="photo"><img src="<%= STATIC%>/images/team/12.jpg"></div>
                    <h3>マルコ　フェレイラ</h3>
                    <h4>マーケティングディレクター</h4>
                    <p>マルコは、約20年の金融業界で経験を有しており、南アフリカにてファンド運用をするアウトソーシングプラットフォームを確立する上で重要な役割を果たした。 彼は、公認会計士として資格を持ち、ファンド管理における卒業証書を授与し、香港インスティテュートオブディレクターのメンバーです。</p>
                </div>




                <div class="item">
                    <div class="photo"><img src="<%= STATIC%>/images/team/11.jpg"></div>
                    <h3>デニス　デ　ジョン</h3>
                    <h4>プロジェクト　マネージャー</h4>
                    <p>デニス　デ　ジョンは20年の経験を持ち、いくつかの大規模で複雑なプロジェクトの上級及リードバックエンド開発者であり、その中には暗号通貨に関連するものもあります。 彼はブロックチェーンに興味を持ち、2013年以来ブロックチェーンに関わっています。</p>
                </div>
            </div>



                <div class="item-line two">
                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/13.jpg"></div>
                        <h3>マイケルバナー</h3>
                        <h4>マーケティングとコミュニケーション</h4>
                        <p>マイケルは長年の経験を持つ教育者でありライターです。 彼はケンブリッジ大学の認定を受けた教員養成校で、メディア研究と創作学の学士号を取得しています。 自己開発のために、現在はグラフィックデザインの証明書を勉強しています。</p>
                        <p>彼は、英語のテキストブックと試験内容の作成、校正、編集の経験が豊富です。 英国で自身のDVD映画事業を運営する時から、プロモーション素材の制作、顧客や製品パートナーとのやりとり、ウェブサイトの維持などの経験があります。 また、映画レビューサイト<a href="http://www.fareastfilms.com" target="_blank">www.fareastfilms.com</a>のスタッフライターも務めています。</p>
                    </div>

                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/14.jpg"></div>
                        <h3>ヨハン ランバート</h3>
                        <h4>プロジェクト管理</h4>
                        <p>開発者としてのキャリアを開始し、その後ソフトウェアプロジェクトマネージャー、eSecurity監査員、PMOコンサルタントになりました。 ヨハンは、政府、保険会社、銀行に今まで20年以上の経験を持っています。 ブロックチェーンと暗号通貨のフィールドに入るのは遅かったが彼がすぐに追いついて、その中に最も興味あるはキュリティ上の挑戦であります。</p>
                    </div>

                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/15.jpg"></div>
                        <h3>Pavle Vujosevic</h3>
                        <h4>上級開発者</h4>
                        <p>フルスタックの開発者として5年間の経験を持っているPavleは、主にPHPとLaravelのフレームワークにフォーカスを当ててバックドンド開発を専門としていました。また、jQuery、vue.js、Bootstrapを使ってフロント 開発を完全にサポートすることもできます。</p>
                        <p>Pavleはカールスルーエ大学（ドイツ）とカタルーニャ工科大学（スペイン）でIT分野の修士号を取得しています。彼は企業からキャリアをスタートし、スタートアップの世界を移しました。彼は複数の通貨と取引所をサポートする自動取込プラットフォームに取り組んでいます。</p>
                    </div>
                </div>





                <div class="item-line four">
                <div class="item">
	<div class="photo"><img src="<%= STATIC%>/images/team/A13.jpg"></div>
                    <h3>ジェンタオ　ジャン</h3>
                    <h4>開発者</h4>
                    <p>ジェンタオは南京大学を卒業し、情報及算出を専攻しました。 彼は10年以上の研究開発経験と8年以上の技術管理経験を持っています。 米国の情報セキュリティ会社の技術コンサルタントとして、サイバーセキュリティ開発に従事していました。 その後、Asiainfo-Linkageのシニアアーキテクトとして、国営通信事業者のコアシステム設計と開発を担当しました。 同時に、彼はクラウドコンピューティングや並列データ処理などのテクノロジの移行において画期的な成果を上げました。 ジェンタオは現在主にチームの技術管理と構築分析を担当しています。</p>
                </div>



                <div class="item">
<div class="photo"><img src="<%= STATIC%>/images/team/A9.jpg"></div>
                    <h3>ジアン　タング</h3>
                    <h4>開発者</h4>
                    <p>ジアンは南京大学を卒業し、数学を専攻しました。 彼は10年以上の開発経験を持っています。 ジアンは、オペレーティングシステムのカーネルエンジニアリングとネットワーク通信プロトコルに堪能です。ジアンは、コンピュータシステムの欠陥、技術的な欠陥に対する攻撃と防御の実装において重要な経験を持っています。 ジアンはチーム内のスーパーハッカーであり現在、同社の技術的セキュリティ管理を担当しています。</p>
                </div>



                <div class="item">
<div class="photo"><img src="<%= STATIC%>/images/team/A8.jpg"></div>
                    <h3>ユー　サム</h3>
                    <h4>開発者</h4>
                    <p>ユは南京監査大学を卒業し、コンピュータ科学と技術の学位を取得しました。また、オラクルの認定データーベース専門家です。 Nanjing Ouben Software Technologyの10名の開発チームを率いて、中国航空宇宙病院やChery Automobileなどの中核プロジェクトを担当しました。 ブロックチェーン業界のベテランであるユーは、コンセンサスメカニズム、ネットワークデータ伝送、暗号化アルゴリズムに豊富な経験を持っています。 彼はプロジェクトのコアエンジニアであり、ブロックチェーンボトムアグリーメントの設計と開発を担当しています。 ユーには多数の特許もあります。</p>
                </div>


                <div class="item">
<div class="photo"><img src="<%= STATIC%>/images/team/A14.jpg"></div>
                    <h3>ウェイ　ジョウ</h3>
                    <h4>開発者</h4>
                    <p>ウェイは南京大学を卒業し、ソフトウェアエンジニアリングの学位を取得しました。 彼はITスタートアップで5年間の経験を持ち、複数のプログラミング言語に優れています。 ウェイは完全なる開発者であり、コンパイラと仮想マシンのカーネル開発に重点を置いています。</p>
                </div>
                </div>






                <div class="item-line four">
                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A10.jpg"></div>
                        <h3>チャング　ウェン</h3>
                        <h4>開発者</h4>
                        <p>チャングは浙江大学でコンピュータサイエンスの修士号を卒業しました。 5年間のソフトウェア開発経験を持っており チェンぐは、ブロックチェーンソフトウェアと暗号暗号化の開発に重点を置いています。</p>
                    </div>

                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A3.jpg"></div>
                        <h3>ゾン　カイ　ハオ</h3>
                        <h4>開発者</h4>
                        <p>ゾンカイはオーシャン大学を卒業し、ソフトウェア開発で8年間の経験を持ち、以前はHuaweiのスイッチコアR＆Dにて勤めていました。</p>
                    </div>
                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A12.jpg"></div>
                        <h3>チン　チャング</h3>
                        <h4>開発者</h4>
                        <p>チンはハルビン工科大学を卒業し、ソフトウェア開発で7年間の経験を持ち、ブロックチェーンと暗号化通信に重点を置いています。</p>
                    </div>
                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A4.jpg"></div>
                        <h3>ハイ　リ</h3>
                        <h4>開発者</h4>
                        <p>ハイは淮海工学院を卒業し、彼は5年間のソフトウェア開発経験を持ち、リバースエンジニアリングとデコンパイルに重点を置いてます。</p>
                    </div>
                </div>




                <div class="item-line four">
                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A6.jpg"></div>
                        <h3>リアン　リン</h3>
                        <h4>開発者</h4>
                        <p>リアンは南京大学を卒業し、彼は4年間のソフトウェア開発経験を持ち、ブロックチェーンと暗号化通貨に重点を置いています。</p>
                    </div>

                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A7.jpg"></div>
                        <h3>ヤクイ　マ</h3>
                        <h4>開発者</h4>
                        <p>ヤクイは吉林大学を卒業し、5年間のソフトウェア開発経験を持ち、主に電子商取引や決済処理システムでのJavaバックエンド開発に重点を置いています。</p>
                    </div>
                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A2.jpg"></div>
                        <h3>ザンシュエン　フェイ</h3>
                        <h4>開発者</h4>
                        <p>ザンシュエンは10年以上の職務経験を持っており、以前はソーシャルゲームのスタートアップのCTOでした。 ザンシュエンは、リバースエンジニアリングと仮想マシンで優れています。</p>
                    </div>
                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A5.jpg"></div>
                        <h3>シャオルー　リー</h3>
                        <h4>開発者</h4>
                        <p>シャオルーはソフトウェア開発の経験が8年以上あり、 彼は主にブロックチェーン開発と暗号化通貨に重点を置いており、2015年以来業界に携わってきました。</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
