<div class="ub-banner" style="background: url('/src/images/home/banner1.jpg') no-repeat center center / cover;">
    <h2><%- LANG('Team') %></h2>
</div>
<div class="ub-main">
    <div class="ub-container" style="max-width: 1100px;">
        <div class="ub-content" style="padding: 80px 0;">
            <div class="team-box">
                <h2>基金董事会</h2>
                <div class="item-line one">
                <div class="item">
                    <div class="photo"><img src="<%= STATIC%>/images/team/1-1.jpg"></div>
                    <h3>Jeff Garzik</h3>
                    <h4>董事会成员&首席科学家</h4>
                    <div class="text">
                    <p>Jeff是一个未来主义者，企业家和软件工程师，他是领先的区块链科技公司Bloq的联合创始人和首席执行官以及Metronome的首席设计师。</p>
                    <p>Jeff在Coin Center担任董事，并担任BitFury、BitPay、Chain.com、Netki和WayPaver Labs的顾问。他曾在TEDx、State of Digital Money、Scaling Bitcoin上发表关于比特币和区块链技术的演讲，也为私人企业、政府、中央银行和对冲基金介绍比特币和区块链技术。杰夫最近还被任命为Linux基金董事会成员，并担任世界经济论坛专家网络的信息技术专家。</p>
                    <p>Jeff在早期技术采用方面有很多年的经验。上世纪90年代初，继在互联网上帮助开创了CNN.com之后，他为很多成功的互联网创业公司和服务提供商工作，致力于开发源代码软件工程项目超过二十年。他参与了最知名的开源项目之一--Linux内核的开发，在Linux开源成型阶段，他接手了Linux市场领先者Red Hat。如今，在运行Linux的每个Android手机和数据中心都可以看到Jeff的工作成果。</p>
                    <p>2010年7月，Jeff偶然看到了一篇描述比特币的文章，认识到去中心化的电子货币的潜力，而这是他以前认为不可能的概念。他开始为比特币开源软件做出奉献，成为第一代比特币开发者之一。Jeff发现自己正处于比特币全球革命性技术的核心。</p>
                </div>
                </div>


                <div class="item">
                    <div class="photo"><img src="<%= STATIC%>/images/team/1-2.jpg"></div>
                    <h3>Matthew Roszak</h3>
                    <h4>董事会成员&首席策略官</h4>
                    <div class="text">
                    <p>Matthew是领先的区块链技术公司Bloq的联合创始人兼董事长以及数字货币Metronome的梦想家。Matthew也是Tally Capital的创始合伙人，Tally Capital是一家专注于数字资产和区块链技术的私人投资公司，已经投资了包括Blockstream、BTC Media、Civic、Doc.ai、Factom、Genaro、Orchid、Rivetz、Token Report和Qtum在内的30多家公司或机构。</p>
                    <p>Matthew是区块链投资者，企业家和倡导者。他担任了全球最大的区块链行业协会Chamber of Digital Commerce的主席以及致力于公共健康和环境的非营利性基金会BitGive的董事。他还是芝加哥区块链中心的创始人，芝加哥区块链中心是与伊利诺斯州、CME集团、DRW和Lightbank等公立及私营部门共同合作开展的。Matthew是业界首部纪录片《比特币的崛起》的制片人。</p>
                    <p>Matthew是一个区块链技术的思想领袖，曾在美国国会担任区块链专家，并在美联储发表演讲。他曾在TEDx发表演讲，演过CNBC的特色节目，并多次被《华尔街日报》、《彭博社》和《金融时报》提及。此外，Matthew还曾在Money20/20、CES和美国银行家等全球金融科技大会上发表过演讲。</p>
                </div>
                </div>

            </div>


                <div class="item-line one">
                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/wilsonchoi2.png"></div>
                        <h3>Wilson Choi, CFA</h3>
                        <h4>董事会成员&首席运营官</h4>
                        <p>Wilson是光照资本的联合创始人，一家投资超过15家公司TMT风险投资基金，当中包括Testbird, 爱拍, 小影, Boo!, 美刻, LumiGame and Kadho. 在创业之前，Wilson在汇丰银行任职衍生产品交易员，协助银行及金融机构通过衍生产品进行避险和投机交易。Wilson是特许金融分析师，毕业于澳洲墨尔本大学经济暨商学院商科本科。</p>


                    </div>


                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/wouter.jpg"></div>
                        <h3>Wouter van der Schagt</h3>
                        <h4>董事会成员&执行官</h4>
                        <p>Wouter是在线多币种钱包QoinPro的创始人和总监，目前拥有超过100万的用户。他拥有大概20年的IT开发、架构和创业经验，并获得多项IT技术的认证。过去几年，他一直专注于网络安全、区块链和加密货币。</p>
                        </div>

                </div>

                <h2 style="margin-top: 80px;">团队</h2>


                <div class="item-line two">
                <div class="item">
                    <div class="photo"><img src="<%= STATIC%>/images/team/12.jpg"></div>
                    <h3>Marco Ferreira</h3>
                    <h4>市场总监</h4>
                    <p>Marco在金融服务营销业务方面拥有约20年的行业经验，其中包括在建立南非基金管理外包平台扮演关键角色。他拥有注册会计师资格，荣获基金管理专业文凭，是香港董事学会会员。</p>
                </div>




                <div class="item">
                    <div class="photo"><img src="<%= STATIC%>/images/team/11.jpg"></div>
                    <h3>Dennis De Jong</h3>
                    <h4>项目经理</h4>
                    <p>Dennis De Jong拥有20年的工作经验，曾经担任多个大型复杂项目的高级/主管后端开发人员，其中包括一些加密货币项目。自2013年起，他一直对区块链感兴趣并参与其中。</p>
                </div>
            </div>



                <div class="item-line two">
                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/13.jpg"></div>
                        <h3>Michael Banner</h3>
                        <h4>市场营销与传播</h4>
                        <p>Michael是一位经验丰富的教育者及写作者。他拥有剑桥大学认证的教学证书并取得传媒与创意写作学士学位。同时他也因个人兴趣正在进修平面设计。</p>
                        <p>Michael拥有丰富的写作、校订和编辑英文课本和考试材料的经验。他曾在英国运营自己的DVD电影公司，并涉猎创作营销材料，与客户和商业伙伴互动和维护网站。他也是电影评论网站<a href="http://www.fareastfilms.com" target="_blank">www.fareastfilms.com</a>的签约作者。</p>
                    </div>

                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/14.jpg"></div>
                        <h3>Johan Lombaert</h3>
                        <h4>项目经理</h4>
                        <p>Johan以开发人员身份初入职场，并迅速成为软件项目经理、电子安全审计员及项目管理办公室顾问。Johan曾有超过20年为政府，保险公司和银行工作的经验。他随后进入区块链和加密货币领域追赶行业趋势，并对其中的安全性问题颇有兴趣。</p>
                    </div>

                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/15.jpg"></div>
                        <h3>Pavle Vujosevic</h3>
                        <h4>高级开发人员</h4>
                        <p>Pavle拥有5年全栈开发经验，并专注于后端PHP和Laravel框架开发。同时他可以熟练运用jQuery、vue.js和Bootstrap进行前端开发。</p>
                        <p>Pavle于德国卡尔斯鲁厄大学和西班牙加泰罗尼亚理工大学取得计算机硕士学位。他起初为大型企业工作，之后加入创业公司。他致力于开发支持多种货币和交易所的自动化交易平台。</p>
                    </div>
                </div>





                <div class="item-line four">
                <div class="item">
	<div class="photo"><img src="<%= STATIC%>/images/team/A13.jpg"></div>
                    <h3>张震涛</h3>
                    <h4>开发人员</h4>
                    <p>毕业于南京大学信息与计算科学专业，张震涛拥有十年以上研发经验和超过8年以上研发团队管理经验。他曾任职美资信息安全企业技术顾问，主要从事安全技术方案设计研发实施，带领团队获得了多次技术上的突破，填补信息安全领域的空白。后任职亚信联创高级架构师，负责国家电信运营商核心系统的设计和研发，同时在云计算和并行处理数据等技术迁移到传统的小型机为主的应用环境实现突破。目前主要负责团队技术管理和架构分析。</p>
                </div>



                <div class="item">
<div class="photo"><img src="<%= STATIC%>/images/team/A9.jpg"></div>
                    <h3>唐剑</h3>
                    <h4>开发人员</h4>
                    <p>唐剑毕业于南京大学信息与计算科学专业，拥有十年以上研发经验，精通操作系统内核与网络通讯协议，尤其是在计算机系统内核原理方面。在历任公司中，他都担任首席顾问和专家角色，擅长计算机系统漏洞分析，擅长技术漏洞的攻防实施，是团队的超级黑客。目前负责公司的技术安全管理。</p>
                </div>



                <div class="item">
<div class="photo"><img src="<%= STATIC%>/images/team/A8.jpg"></div>
                    <h3>孙瑜</h3>
                    <h4>开发人员</h4>
                    <p>孙瑜拥有南京审计大学计算机科学与技术专业学位，获得Oracle数据库认证专家（OCP）。他曾带领南京欧奔软件技术有限公司10人开发团队，负责中国航天医院十五所、兵器二零二所、奇瑞等公司的核心项目。作为区块链行业的老兵，擅长区块链应用软件架构，在区块链共识机制、区块链网络数据传输、加密算法方面有非常丰富经验。目前作为公司的核心工程师负责区块链底层协议的设计与开发，拥有多项国内专利。</p>
                </div>


                <div class="item">
<div class="photo"><img src="<%= STATIC%>/images/team/A14.jpg"></div>
                    <h3>周维</h3>
                    <h4>开发人员</h4>
                    <p>周维毕业于南京大学软件工程专业，拥有5年的IT创业公司经验，精通Python、Java、C、C++、JavaScript等多门编程语言，是全栈工程师，擅长编译原理与虚拟机内核。</p>
                </div>
                </div>






                <div class="item-line four">
                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A10.jpg"></div>
                        <h3>翁强</h3>
                        <h4>开发人员</h4>
                        <p>翁强毕业于浙江大学，拥有计算机与科学专业硕士学位，拥有5年软件开发经验，专注于区块链软件开发和加密货币的发展。</p>
                    </div>

                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A3.jpg"></div>
                        <h3>浩仲凯</h3>
                        <h4>开发人员</h4>
                        <p>浩仲凯毕业于中国海洋大学，拥有8年软件开发经验，曾任职于华为交换机核心研发部门，在软件开发方面有非常丰富经验。</p>
                    </div>
                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A12.jpg"></div>
                        <h3>张琴</h3>
                        <h4>开发人员</h4>
                        <p>张琴毕业于哈尔滨工业大学，拥有7年软件开发经验，精通Java、C、C++、JavaScript等多门编程语言，擅长软件开发和架构分析。</p>
                    </div>
                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A4.jpg"></div>
                        <h3>李海</h3>
                        <h4>开发人员</h4>
                        <p>李海毕业于淮海工学院，拥有5年的技术开发工作经验，擅长逆向工程和反编译，对区块链技术和加密数字货币颇有研究。</p>
                    </div>
                </div>




                <div class="item-line four">
                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A6.jpg"></div>
                        <h3>林炼</h3>
                        <h4>开发人员</h4>
                        <p>林炼毕业于南京理工大学，拥有4年软件开发经验，擅长软件开发、专业的客户维护和开发经验。</p>
                    </div>

                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A7.jpg"></div>
                        <h3>马亚魁</h3>
                        <h4>开发人员</h4>
                        <p>马亚魁毕业于吉林大学，拥有5年软件开发经验，擅长java后端开发，尤其是高并发支付和电商平台系统。  </p>
                    </div>
                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A2.jpg"></div>
                        <h3>费庄轩</h3>
                        <h4>开发人员</h4>
                        <p>费庄轩拥有10年以上的工作经验，曾担任创业公司CTO，带领团队完成游戏的逆向破解，擅长逆向工程和虚拟机。</p>
                    </div>
                    <div class="item">
                        <div class="photo"><img src="<%= STATIC%>/images/team/A5.jpg"></div>
                        <h3>李晓璐</h3>
                        <h4>开发人员</h4>
                        <p>李晓璐毕业于西安邮电大学，拥有8年软件开发经验，精通Python、Java、C、C++、JavaScript等多门编程语言，专注于区块链软件开发和加密货币的发展。</p>
                    </div>
                </div>






            </div>

        </div>
    </div>
</div>
