<div class="container">
    <div class="ub-content ub-faq">
    <h1>常见问题</h1>
            <a name="AboutUB"></a>
            <div class="content-text">
                <h2 style="margin-top: 0;">关于UB & UnitedBitcoin</h2>
                <div class="faq-box">
                    <div class="box">
                        <p class="q"><span>Q</span>UB是什么?</p>
                        <p class="a"><span>A</span>UB是UnitedBitcoin的简写，也是UnitedBitcoin的区块链资产和货币代码。</p>
                    </div>
                    <div class="box">
                        <p class="q"><span>Q</span>UnitedBitcoin的目标是什么?</p>
                        <p class="a"><span>A</span>依靠非活跃比特币的信用，为大宗交易提供更智能、更稳定的区块链服务;</p>
                    </div>
                    <div class="box">
                        <p class="q"><span>Q</span>UnitedBitcoin和Bitcoin（比特币）的区别是什么?</p>
                        <p class="a"><span>A</span>虽然UnitedBitcoin是从比特币继承而来的，但我们增加了许多新的安全功能，并进行了额外的功能改进(更快的交易、SegWit隔离见证支持、智能合约功能、通过闪电网络的支付渠道等)。</p>
                    </div>
                    <div class="box">
                        <p class="q"><span>Q</span>UnitedBitcoin货币体系与比特币有什么区别?</p>
                        <p class="a"><span>A</span>UnitedBitcoin的总数量、分配方案、出块时间、减半时间和PoW（工作证明）机制与比特币完全相同。唯一区别是更大的区块，以方便交易更快的验证。</p>
                    </div>
                    <div class="box">
                        <p class="q"><span>Q</span>如何领取UnitedBitcoin?</p>
                        <p class="a"><span>A</span>比特币区块链将于2017年12月12日12点左右在区块高度498,777进行快照。在过去的30天内活跃的地址将在分叉之后收到相同数量的UnitedBitcoin，不活跃的地址则可以在第2阶段中领取。第2阶段是手工分配UnitedBitcoin，并持续到2018年1月3日。整个过程在网站的“领取UnitedBitcoin”页面上有详细解释。</p>
                    </div>
                </div>
                <a name="AboutSmart"></a>
                <h2>关于采用智能合约的UVM</h2>
                <div class="faq-box">
                    <div class="box">
                        <p class="q"><span>Q</span>为什么需要智能合约支持?</p>
                        <p class="a"><span>A</span>智能合约可以为UnitedBitcoin增加无限的应用场景，这将极大地扩大其使用的价值。</p>
                    </div>
                    <div class="box">
                        <p class="q"><span>Q</span>10分钟的出块速度是否足够快，进而支持智能合约?</p>
                        <p class="a"><span>A</span>虽然UVM比EVM快得多，但是UnitedBitcoin并没有追求极快的执行，而是追求一个稳定的价值体系，专注于稳定的执行，我们认为这是业务应用程序中最重要的。为了方便接近实时/即时交易，我们将用闪电网络进行日常交易。</p>
                    </div>
                    <div class="box">
                        <p class="q"><span>Q</span>为什么不采用EVM?</p>
                        <p class="a"><span>A</span>EVM是专门为ETH创建的，是一种新的语言。对于基于LUA的UVM,LUA是一种相对成熟的语言，在安全性和稳定性方面都比较成熟，并且在实际应用中有更多的时间进行测试。它也比基于EVM的解决方案更快。</p>
                    </div>
                    <div class="box">
                        <p class="q"><span>Q</span>UVM和智能合约的下一步是什么？</p>
                        <p class="a"><span>A</span>UVM将增加对C#和JAVA的支持，而UnitedBitcoin将发布一个IDEA，以促进智能合约的开发。</p>
                    </div>
                    <div class="box">
                        <p class="q"><span>Q</span>在使用PoW进行智能合约时是否存在技术上的障碍?</p>
                        <p class="a"><span>A</span>UnitedBitcoin的团队有多年的区块链和虚拟机开发经验，并拥有大量的bug修复经验。我们现在得到了QTUM团队、社区和团队的技术支持。两者都给了我们足够的信心去做好。</p>
                    </div>
                    <div class="box">
                        <p class="q"><span>Q</span>EVM影响挖矿的算法吗?</p>
                        <p class="a"><span>A</span>不会，EVM在钱包中运行。</p>
                    </div>
                </div>
                <a name="AboutWitness"></a>
                <h2>区块扩容至8MB以及隔离见证支持</h2>
                <div class="faq-box">
                    <div class="box">
                        <p class="q"><span>Q</span>为什么扩容至8MB，为什么支持隔离见证?</p>
                        <p class="a"><span>A</span>为了促使交易更快地进行。权衡利弊，我们相信8MB是一个适当的数值。</p>
                    </div>
                </div>
            </div>
    </div>
</div>