<div class="container">
    <div class="ub-content ub-whitepaper">
        <h1>
            <%- LANG('White Paper') %>
            <!--<a href="/src/Whitepaper.pdf" target="_blank" style="color:#00ccff;font-size:12px;margin:0 10px"><%- LANG("Download PDF")%></a>-->
        </h1>

                    <div class="explain">
                        <span>용어</span>
                        <p>UB : 유나이티드 비트코인의 기본적인 축약어, 공식 웹사이트 : www.ub.com</p>
                    </div>
                    <h2><span>파트 1 : </span>개념</h2>
    <div class="ub-text">
                    <p>디지털 화폐의 훌륭한 대표격인 비트코인은 탈중화된 모델과 한번 일어나면 되돌릴 수 없는 거래 장부를 제공합니다.  비트코인의 가격은 최근에 16,000달러를 넘어섰으며 이것은 가치의 매개수단이기도 하며, 가치를 저장하는 장소이기도 합니다. 심지어 최근에 수 많은 알트코인들의 출현에도 불구하고 비트코인의 지배적 위치는 유지 되고 있고 선물 거래가 시작 되면서 정통적인 시장의 관점에서 볼 때 합법성도 증가하는 것으로 보여집니다.</p>
                    <p>비트코인은 블록체인 기술이 적용 된 가장 좋은 예시입니다. 그것은 처음에 기술애호가들에 의해 처음 채택 되었고 현재 전 세계에 퍼져 있습니다.</p>
                    <p>그러나 비트코인의 화폐로써의 기능, 비트코인의 가치가 처음에는 매우 낮았습니다.  그래서 사람들은 보안에 대해서 크게 신경을  쓸 필요가 없었습니다. 기술적으로 비트코인이 어디에도 가는 것은 아니지만 실질적으로 비트코인의 순환을 떨어뜨립니다. 그래서 프라이빗 키가 없다면 코인들은 잠겨버려서 회복 될 수 없습니다.</p>
                    <p>이것이 디플레이션이며 Bitcoin의 가격 상승을 이끌었지만 향후 발전을 위해서는 충분하지 않습니다. 높은 가격, 높은 거래 비용 및 사용 가능한 비트 코인 한도의 부족.</p>
                    <p>유나이티드 비트코인의 목적은 잃어버린 비트코인과 비활성화된 지갑을 찾는 것이고 신용과 스마트 컨트랙트 기술을 활용하여 안정적인 암호 화폐 시스템을 만드는 것입니다.</p>
                    <p>유나이티드비트코인은 비트코인에서 더 큰 사회적인 요구를 수용 하고 업그레이드 하면서 비트코인에서 이미 테스트  된 기술을 사용 할 것입니다. 예를들어 PoW, 블록타임, 공급 한도, 발행모델과 같은 것입니다.  기능 개선 요소로는 블록크기를 8mb바이트로 증가시킬 것이고 UVM기반에서 스타트 컨트랙트를 추가할 것이다. 그리고 세그윗을 시행하면서 라이트닝 네트워크를 지원 할 것입니다.</p>
    </div>
                    <h2><span>파트 2 : </span>작동 모델</h2>
    <div class="ub-text">
                    <p>유나이티드비트코인은 비트코인 네트로부터 하드포크 될 것고 포크 즉시 새로운 네트워크에서 프로토콜을 즉시 개선합니다. 모든 활성화된 비트코인 주소는 그의 상응 하는 유나이티드 비트코인을 받을 것입니다. 비활성화된 주소의 잔액은 수집되어 커뮤니티에서 제공 될 것입니다.</p>
                    <p>비활성화된 30%는 유나이티드 비트코인이 채택한 미래의 영향력이 있는 기술을 제공한 다른 코인 커뮤니티에 분배 될 것입니다.</p>
                    <p>비활성 잔액의 70 %는 골드 스탠다드와 마찬가지로 선택한 화폐 통화로 고정 된 안정적인 토큰을 발행하는 담보로 예약됩니다. 그러나 민트 비율 (골드와 달러 가치의 고정 환율)이 금을 과대 평가하는 경향이있는 골드 스탠다드와 달리 UnitedBitcoin Standard는 지급 된 토큰의 가치에 대해 담보 UB 가치를 유지하도록 고안되었습니다. 이 비율은 약 3 : 1로 책정됩니다. 즉, 예약 된 모든 UB에 대해, UB의 시장 가치의 33.3 %에 달하는 안정된 토큰을 발급 할 수 있습니다. UB의 시장 가격이 상승하면 더 안정적인 토큰을 발행 할 수있는 더 많은 가치를 제공하지만 새로운 안정 토큰을 발행 할 필요가 없습니다. 안정성있는 토큰의 가치가 UB의 가치의 33.3 %를 넘는 UB의 시장 가격이 하락하면 안정적인 토큰은 33.3 %의 안전 라인이 충족 될 때까지 구매해야합니다. 이것은 연방 준비 이사회가 미국 달러 유동성과 상호 작용하는 것과 유사합니다.</p>
                    <p>UB를 바탕으로 하는 안정 된 토큰은 글로벌 무역이나 대규모 프로젝트에서 사용하기에 적합하며 유나이티드 비트코인 시스템의 사용 용이성이 크게 향상 될 수 있습니다.</p>
                    <p>유나이티드비트코인은 진저앟ㄴ 글로벌 신용 저축 조합이 될 예정입니다. PoW에 기반한 새로운 스마트 컨트래트 기능은 유나이티드 비트코인에도 무한한 가능성을 제공합니다.</p>

                    <p style="margin-top: 30px;" class="img-w"><img src="<%= STATIC%>/images/home/OperatingModel.png"></p>
    </div>
                    <h2><span>파트 3 : </span>기술적 해결방안</h2>
    <div class="ub-text">
                    <p>비트코인은 가장 안전하고 지배적인 암호 화폐이지만, 처음에는 불완전한 부분이 있습니다.</p>
                    <p>유나이티드비트코인은 비트코인에서 더 큰 사회적인 요구를 수용 하고 업그레이드 하면서 비트코인에서 이미 테스트  된 기술을 사용 할 것입니다. 예를들어 PoW, 블록타임, 공급 한도, 발행모델과 같은 것입니다.</p>
    </div>

                    <h3>UTXO 데이터 모델</h3>
                    <p>지난 9 년 동안 Bitcoin에서 사용 된 UTXO 데이터 모델은 안정적이고 신뢰할 수있는 디지털 통화를 생성하는 매우 신뢰할 수있는 방법임이 증명 되었습니다. 통화의 가장 중요한 기능은 중간 매개물로의 역할이며 UTXO 모델은 이를 훌륭하게 수행합니다. 포크를 통해 이것을 계승하는 것이 가장 중요합니다.</p>
                    <h3>SHA256 PoW 채굴 모델</h3>
                    <p>유나이티드 비트코인은 비트코인의 채굴 알고리즘 유지 합니다. 에너지 소비는 염려되는 편이지만 매우 견고한 기록체계와 안정성을 지닙니다.</p>

                    <h3>Total quantity and block Time</h3>
                    <p>유나이티드 비트코인은 비트코인으로부터의 포크 이며 절반의 블록 시간과 비트코인 총액(2천 1백만)을 가집니다. 이러한 속성은 변경되지 않습니다.</p>


                        <h3>세그윗</h3>
    <div class="ub-text">
                        <p>SegWit은 TX_IN 및 TX_OUT의 디지털 서명을 트랜잭션 외부에 두는 데이터 구조 개선 기능입니다. 이렇게하면 트랜잭션 확장의 문제가 해결되고 블록 크기 제한 문제가 완화됩니다. 그것은 체인 확장성을 향상시킵니다.</p>
                        <p>세그윗을 시행하기 전에, 체인블록의 구조는 다음과 같다.</p>
                        <p class="img-w"><img src="<%= STATIC%>/images/home/IsolationVerification1.svg"></p>
                        <p class="img-w">세그윗을 시행하기 전에, 체인블록의 구조는 다음과 같다.</p>
                        <p class="img-w"><img src="<%= STATIC%>/images/home/IsolationVerification2.svg"></p>
    </div>
                        <h3>온-체인 확장성</h3>
    <div class="ub-text">
                        <p>비트코인의 현재 최대 TPS 수치는 대략 1초에 7 트랜잭션입니다. 이것은 네트워크 상의 요구를 수용할 수 없는 속도 입니다. 그래서 글로벌 거래 볼륨의 필요성에 부합하지 않게 접근을 시도 할수가 없습니다.</p>
                        <p>앞서 언급한 SetWit의 구현은 일부를 가능하게 하지만, 제한 된 범위내 에서만 수행합니다. 블록 크기를 늘리게 되면 훨씬 더 많은 기회가 제공되지만 하드 포크가 필요합니다. 따라서 유나이티드 비트코인을 이 기회에 블록 크기를 늘리고 있습니다.</p>
                        <p>블록사이즈와 스케일링을 늘리면 용량과 네트워크의 요구 사사항은  증가할 것입니다. 그러나 대부분의 노드와 채굴 되는</p>

    </div>
                        <h3>상호 호환성 보호</h3>
                        <p>유나이티드 비트코인은 비트코인의 포크이기 때문에 한 체인의 트랙잭션을 다른체인에서 작동하지 않도록 해야 합니다. 유나이티드 비트코인은 새로운 트랜잭션 서명을 도입하여 보호 기능을 구현 합니다. 이 새로운 SigHash타입은 네트워크의 전반적인 보안을 향상시킵니다</p>

                        <h3>자산 활성화</h3>
    <div class="ub-text">
                    <p>포크가 일어난 이후 비트코인 네트워크의 모든 활성 화된 주소는 유나이티드비트코인 네트워크에서 동등한 잔액을 받습니다.</p>
                    <p>비활성화된 주소는 블록 높이 #494000(2017년 11월 11일)이후의 활동이 없는 주소이며 결과적으로는 자산을 할당하는 1단계 절차에서 UBTC를 자동으로 받지 못합니다.</p>
    </div>
                        <h3>스마트 컨트랙트</h3>
    <div class="ub-text">
                        <p>유나이티드 비트코인의 스마트 컨트랙트를 통해 사용자는 몇가지 사전 정의 된 작업을 수행 하는 대신 커스터마이징된 동작을 작성하고 그리고 그것을 블록체인에서 사용 할 수 있습니다. 스마트 컨트랙트를 사용하여 복합한 트랜잭션을 쉽게 구성하고 복잡한 금융 계약을 실행할 수 있습니다. 동시에 사용자는 블록 체인을 수정하거나 업그레이드 하지 않고도 기능을 확장하거나 제한을 추가하는 등의 동적 컨트롤을 추가 할 수 있습니다.</p>
                        <p>스마트 컨트랙트는 사용자가 블록체인에 사용자 정의된 계약서 바이트 코드를 등록하고 유나이티드 비트코인의 체인에서 트랜잭션을 호출 할 수 있습니다. 바이트 코드는 블록체인을 위해서 튜링-컴플리트 가상머신(Turing-Complete Virtual Machine)에서 실행 됩니다.</p>
                        <p>개발자는 친숙한 구문의 프로그램 언어를 사용하여 스마트 컨트랙트를 작성할 수 있습니다. 그런 다음 계약 된 바이트 코드로 컴파일 되고 블록 체인에 저장 됩니다.</p>
                        <p>유나이티드 비트코인의 각 지갑은 계약 트랜잭션을 이용하여 블록체인을 블록과 동기화 하고 가상 머신을 호출하여 관련 계약 바이트 코드를 수행하고 이를 검증합니다.</p>
    </div>
                            <h4>컨트랙트 거래들의 유형</h4>
    <div class="ub-text">
                            <p>트랜잭션의 ScpitPubKey lock scrip 영역은 관련된 시행자를 증가시켜 계약 등록을 추진하고, 계약을 호출하기도 하며, 계약을 업그레이드 하고, 계약을 취소 할 수 있습니다. 이러한 연산자와의 트랜잭션은 스마트 컨트랙트 가상 머신이 연관된 계약 바이트 코드를 수행하도록 추진합니다.</p>
                            <p>컨트랙트 등록의 시행자는 새로운 스마트 컨트랙트로 체인에 등록하기 위해서 컨트랙트 바이트 코드를 실행하고 성공하면 새로운 스마트 컨트랙트 주소가 할당 됩니다.</p>
                            <p>계약을 호출하는 연산자는 체인에서 스마트 컨트랙트를 호출하고 해당 바이트 코드를 실행하며 전송 또는 계약 상태 변경과 같은 특정 실행 결과를 생성합니다.</p>
                            <p>업그레이드된 컨트랙트의 시행자는 블록 체인에서 업그레이드되지 않고 작성되지 않은 계약서에 고유 한 이름을 할당하고 계약을 취소 할 수없는 것으로 표시 됩니다.. 이 스마트 컨트랙트는 사용자 또는 기타 계약에 의해 계약 이름에 의해 호출됩니다.</p>
                            <p>로그 아웃 컨트랙트의 시행자는 사용자가 만든 블록 체인의 업그레이드되지 않은 계약서와 취소되지 않은 계약서를 취소 된 것으로 표시 할 수 있습니다. 취소 된 계약은 블록 체인에서 사라지지 않지만 다시 호출 할 수는 없으며 관련 기록 데이터 만 쿼리 할 수 있습니다.</p>

    </div>



                            <h4>가상 머신 계약</h4>
    <div class="ub-text">
                            <p>컨트랙트 가상 머신은 Turing-complete 가상 머신을 사용하여 구현되며, 계약 가상 머신은 고성능을 가지며 확장 가능하며 유나이티드 비트코인의 블록 체인과 호환됩니다. 스마트 계약의 바이트 코드를 적용하고 결과를 반환 할 수 있습니다.</p>
                            <p>유나이티드 비트코인의 계약 가상 머신은 확실한 특성을 가지고 있으며,   거래가 블록 체인에 기록 된 후 언제든지 동일한 결과를 확인할 수 있습니다. 이 거래는 확인 및 복원 할 수 있습니다.</p>
                            <p>컨트랙트 가상 머신은 계정 모델을 사용하여 가치 이전을 수행하므로 개발자는 스마트 컨트랙트를 준비하는데 보다 사용자에게 친숙하며 유나이티드비트코인 체인의 UTXO 트랜잭션 모델은 계정의 추상화 계층을 통과합니다.</p>
                            <p>개발자는 스마트 계약 컨트랙트를 위해 다양한 고급 프로그래밍 언어를 사용하여 유나이티드 비트코인의 블록 체인에 저장되는 계약 바이트 코드를 컴파일 및 생성 할 수 있습니다.</p>
                            <p>다양한 옵션을 비교 해본 후 유나이티드 비트코인은 LUA의 개선을 기반으로하는 UVM 가상 시스템을 채택하기로 결정하였으며 C #, Java 및 EVM과 같은 유사한 가상 언어를 지원하며 향후 다른 유형의 가상 시스템이 추가되어도 쉽게 호환 가능합니다.  광범위한 기술 커뮤니티 지원. UVM은 가장 효율적인 가상 시스템 중 하나이며, 기본 언어는 수년 동안 실제 응용 프로그램에서 사용되어왔습니다.</p>
                            <p>보안적인 측면에서 UVM은 외부의 IO와 같은 몇몇의 기능을 제거합니다. 안정성 측면에서 UVM의 Financial 듀얼 프로세스는 비정상적인 프로세스 및 지속적인 실행으로 인한 이탈의 특징을 보여왔습니다.</p>
    </div>




                            <h4>가스 메카니즘</h4>
    <div class="ub-text">
                            <p>스마트컨트랙트를 시행하려면 경제적 비용인 가스가 필요하며 유나이티드 비트코인 체인의 가스는 시스템의 기본 토큰인 UB를 사용합니다. 이러한 가스 메커니즘을 통하여 많은 수의 계약을 처리하는 비용을 높이고 블록 체인 생태계에 대한 스마트 컨트랙트 이행에 대한 비용을 지불합니다.</p>
                            <p>다른 계약을  호출할 때에는 계약 바이트 코드 명령어의 수와 실행 프로세스의 명령어 유형에 따라서 다른 양의 가스가 필요합니다.</p>
    </div>
        <h4>계약 상태 저장소</h4>
    <div class="ub-text">
                            <p>각 스마트 계약에는 유지보수를 위한 격리 된 저장 영역이 있으며 상태 데이터를 기록하기 위합입니다.     계약이 실행되면 계약의 저장 영역을 수정하거나 질의 할 수 있습니다. 저장소에 대한 변경은 실행이 성공하면 블록 체인에서만 제출할 수 있습니다. 블록체인 블럭의 역행이 발생하면 스토리지의 이력에 따라 계약의 저장을 과거의 상태로 되돌려놓아야 합니다.</p>
                            <p>가상머신에서의 스마트 컨트랙트 기능을 다음을 따릅니다</p>
                            <p class="img-w"><img src="<%= STATIC%>/images/home/ContractStateStorage.svg"></p>

    </div>



                            <h4>계약서</h4>
                            <p>각 스마트 컨트렉트에서는 계약 주소가 있으며 계약 주소에는 블록 체인 자산이 있고 전송을받을 수 있습니다. 계약 실행 중에 다른 주소로 계약이 이전 된 경우 계약 요청 실행 후 다른 주소로 계약을 이전하여 발생하는 트랜잭션을 결과 트랜잭션이라고합니다. 결과 트랜잭션의 ScriptPubKey 잠금 스크립트 영역에는 계약서를 다른 주소로 전송하는 스크립트가 들어 있습니다. 계약 주소의 자산은 계약 이행 및 컨센서스에서 제외되며, 계약 주소 자산의 동작에 서명하는 개인 키가 필요하지 않습니다.</p>




                        <h3>라이트닝 네트워크</h3>
    <div class="ub-text">
                        <p>현재 Bitcoin 네트워크는 10 분에 한번씩 채굴을 차단합니다. 이것은 거래 당사자간의 거래가 10분만이 걸릴 수있는 가장 빠른 거래이지만이 사용자가 네트워크 정체로 인해 과도한 수수료를 지불해야한다는 것을 의미합니다. 흔히 사용자는 가장 높은 수수료를 지불하고 싶지 않습니다. 그리고 거래가 중단되는 경우 거래를 확인하기 위해 더 오래 기다려야만 합니다. 따라서 비트코인 네트워크에서는 빠른 전송이 거의 불가능합니다. SegWit 구현 및 위에 언급 된 더 큰 블록 크기와 함께 이 문제에 대한 해결책은 라이트닝 네트워크라고하는 것을 사용하는 것입니다. 라이트닝 네트워크는 오프 - 체인 (off-chain) 지불 채널로서, 당사자는 수수료가 거의 없거나  즉각적인 거래를 설정할 수 있습니다. 이러한 안전성과 거래가 진행되는 유일한 시간은 당사자들이 계약을 체결하거나 종료 할 때입니다.</p>
                        <p>라이트닝 네트워크의 기능들</p>
    </div>
                            <h4>직접 거래</h4>
                            <p>현재 BTC 네트워크에서 사용자가 시작한 트랜잭션은 체인 블록에 패키지화하고 각 노드가 확인하기 위해 서 네트워크로 전송해야합니다. 그러나 라이트닝 네트워크에서는 인증 프로세스가 필요하지 않으며 거래는 상대방과 직접 이루어집니다.</p>
                            <h4>마이크로 거래</h4>
                            <p>비트코인 네트워크에서 사용자가 전송을하면 전송량이 최소값보다 커야합니다. 라이트닝 네트워크에서는 이러한 제한이 없으며 사용자는 트랜잭션을 자유롭게 할수 있습니다.</p>
                            <h4>확장성</h4>
                            <p>비트코인 네트워크에서는 블록 트랜잭션을 브로드 캐스팅하기 위해 대역폭적인 이유 때문에 각 블록에서 수행되는 트랜잭션의 수가 제한되지만 라이트닝 네트워크에서는 트랜잭션 수에 대한 제한이 없으며  정해진 시간안에 막대한 양의 데이터도 처리 할 수 있게 됩니다.</p>
                            <h4>구현 모드</h4>
    <div class="ub-text">
                            <p>거래에 참여하는 당사자는 2/2 다중 서명 주소를 거래 채널로 생성하고 관련 금액을 채널에 입금해야합니다. 양 당사자 간의 트랜잭션은 실제로 다중 서명 주소의 양에 대한 합의입니다. 마지막 합의 후에 양 당사자 간의 거래가 끝나고 두 당사자의 최종 금액이 결정됩니다. 두 당사자 간의 거래는 체인에 기록되지 않습니다.</p>
                            <p class="img-w"><img src="<%= STATIC%>/images/home/Implementationmode.svg"></p>
    </div>
                        <h3>기술 계획</h3>
                        <p>2017년 12월 12일 : 유나이티드 비트코인의 포크(블록 높이 #498,777)</p>
                        <div class="indentation">
                        <p>I. 블록 사이즈 8mb로 증가</p>
                        <p>II 세그윗 지원</p>
                        <p>III. 보호</p>
                        <p>IV. 자산활당</p>
                        </div>

                        <p>2018년 1월 3일</p>
                        <div class="indentation">
                        <p>V. 페이즈2 자산 활당 끝</p>
                        <p>VI. 고정된 통화</p>
                        </div>

                        <p>2018년 2월 28일</p>
                    <div class="indentation">
                        <p>VII. 스마트 컨트랙트 지원</p>
                    </div>

                        <p>2018년 4월 28일</p>
                    <div class="indentation">
                        <p>VIII. 라이트닝 네트워크 지원</p>
                    </div>
    </div>
    </div>
